.popupInner {position: relative;}
ol.forms input.checkbox, .grid input.checkbox {width: auto; height: 12px; margin: 0; padding: 0; vertical-align: middle;}
div.search-box-col input.check_box{margin-right: 4px; }



