/**{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;list-style:none;}*/
/*#header, #load, #navigation, div.sub-menu, #date-selection, #leftbar, #sidebar, #footer, #history-navigation, #operation-actions, #search-operations, #search-operations-btn, #create-operation-btn {display:none;}*/
/*.sub #content #holder #main {margin: 15px 175px 0 170px;}*/
.tabcontent{display:block;}
/*html, body, #container, #content, #holder, #main, #search-results {height:100%;float:none;}*/
#button-quit {display: none;}

