<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <h1 translate="SETTINGS.TITLE">My Client Space</h1>
      <div class="row">
        <div class="col-md-2">
          <ul id="account-nav" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-account">
                <i class="fa fa-home"></i>
                <span translate="SETTINGS.OVERALL">Overall view</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav2" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/ship-to-contact">
                <i class="fa fa-user"></i>
                <span translate="SETTINGS.SHIP"> Ship to contact</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing">
                <i class="fa fa-users"></i>
                <span translate="SETTINGS.MAILING"> Mass mailing</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing-upload">
                <i class="fa fa-floppy-o"></i>
                <span translate="SETTINGS.SENDING"> Sending by file</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav3" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-contacts">
                <i class="fa fa-book"></i>
                <span translate="SETTINGS.CONTACTS"> My contacts</span>
              </a>
            </li>
            <li class="active">
              <a href="#/credit-account">
                <i class="fa fa-credit-card"></i>
                <span translate="SETTINGS.CREDIT"> Credit account</span>
              </a>
            </li>
            <li>
              <a href="#/my-store">
                <i class="fa fa-shopping-cart"></i>
                <span translate="SETTINGS.STORE"> My stores</span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <i class="fa fa-cogs"></i>
                <span translate="SETTINGS.SETTINGS"> Settings</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav4" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <h3 translate="SETTINGS.PROGRAMS">Our programs</h3>
            </li>
            <li>
              <a href="#/refer-contacts">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.REFERRAL"> Referral</span>
              </a>
            </li>
            <li>
              <a href="#/loyalty">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.LOYALTY"> Loyalty</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-10">
          <div class="panel-white cancel-padding-left-15 panel-white-bordered-">
            <h1>
              <i class="fa fa-credit-card"></i>
              <span translate="CREDIT_ACCOUNT.TITLE">Credit your account</span>
            </h1>
            <p class="text-muted" translate="CREDIT_ACCOUNT.COMMENT">Credit your account and get free extra credits!</p>
            <br>
            <p><strong translate="CREDIT_ACCOUNT.CHOOSE_AMOUNT">CHOOSE THE AMOUNT TO CREDIT</strong></p>

            <form id="CreditAccountForm" class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-lg-3 required" translate="CREDIT_ACCOUNT.AMOUNT">Amount (€)</label>
                <div class="col-lg-2">
                  <select class="form-control">
                    <option value="100" selected="">100</option>
                    <option value="300">300</option>
                  </select>
                </div>
              </div>

              <div class="alert alert-info text-center">
                <p translate="CREDIT_ACCOUNT.ADDITIONAL_TWO">For <strong>100€</strong> purchased, get <strong>2% free</strong> additional credits!<br></p>
                <p translate="CREDIT_ACCOUNT.ADDITIONAL_THREE">For <strong>300€</strong> purchased, get <strong>3% free</strong> additional credits!</p>
              </div>

              <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                  <button type="submit" class="btn btn-primary btn-lg" id="btn_save" name="btn_save">
                    <i class="glyphicon glyphicon-ok"></i>
                    <span translate="CREDIT_ACCOUNT.CONTINUE">Continue</span>
                  </button>
                </div>
              </div>
            </form>

            <div class="clear"></div>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
