<footer id="footer" class="clearfix">
  <div id="footer-main">
    <div id="footer-top" class="row_">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <form id="blog-search-form" class="form-horizontal" action="" method="get" accept-charset="UTF-8">
              <div class="form-group-">
                <div class="input-group">
                  <input type="search" class="form-control" id="blog_q" name="q" value="" placeholder="Search"/>
                  <span class="input-group-btn">
                    <button class="btn button-search" type="submit" title="Search">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-9 text-right social-links-container">
            <div class="social-links">
              <a href="https://www.facebook.com/pages/Upela/132221283606707" target="_blank" title="Follow us on Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://twitter.com/upelaexpress" target="_blank" title="Follow us on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCXnm8EYjYkQYECXPYGO5ahA" target="_blank" title="Follow us on Youtube">
                <i class="fa fa-youtube"></i>
              </a>
              <a href="https://plus.google.com/+Upela/videos" target="_blank" title="Follow us on Google+">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="footer-content" class="row_">
      <div id="footer-content-inner" class="container">
        <div class="row" style="margin-bottom: 15px;">
          <article class="footer-block col-xs-12 col-sm-2">
            <h4>About Upela</h4>
            <ul class="toggle-footer">
              <li><a href="/about">Who are we?</a></li>
              <li><a href="/10-reasons-upela">10 reasons for using Upela</a></li>
              <li><a href="/how-does-it-work">How does it work?</a></li>
              <li><a href="/module-plugin-transport">E-commerce transport solutions</a></li>
              <li><a href="/partners">Our carriers</a></li>
              <!--<li><a href="/files/upload/presentation/Presentation Upela <?php echo ucfirst($lang); ?>.pdf" target="_blank"><?php echo __('Upela presentation'); ?></a></li>-->
              <li><a href="/recruitment-partners">Become a business finder for Upela</a></li>
              <li><a href="/50">Press</a></li>
            </ul>
          </article>

          <article class="footer-block col-xs-12 col-sm-2">
            <h4>Upela Pro</h4>
            <ul class="toggle-footer">
              <li><a href="/register">Open an account</a></li>
            </ul>

            <h4>Practical information</h4>
            <ul class="toggle-footer">
              <li><a href="/check-shipments">Prepare your shipment carefully</a></li>
              <li><a href="/documents">Customs obligations</a></li>
              <li><a href="/prohibited-goods">Prohibited Goods</a></li>
              <li><a href="images/files/upload/ups/Conseils comment emballer par UPS.pdf" target="_blank">UPS packaging advice</a></li>
              <li><a href="images/files/upload/fedex/Conseils comment emballer par Fedex.pdf" target="_blank">FedEx packaging advice</a></li>
            </ul>
          </article>

          <article class="footer-block col-xs-12 col-sm-2">
            <h4>Destinations</h4>
            <ul class="toggle-footer">
              <li><a href="/country-europe">Europe</a></li>
              <li><a href="/country-eastern-europe">Eastern Europe</a></li>
              <li><a href="/country-america">America</a></li>
              <li><a href="/country-south-america">South America</a></li>
              <li><a href="/country-asia">Asia</a></li>
              <li><a href="/country-africa">Africa</a></li>
              <li><a href="/country-australia">Australia</a></li>
              <li><a href="/country-dom-tom">DOM-TOM</a></li>
            </ul>
          </article>

          <article class="footer-block col-xs-12 col-sm-2">
            <h4>Help</h4>
            <ul class="toggle-footer">
              <li><a href="/contact">Contact</a></li>
              <li><a href="/faq">F.A.Q.</a></li>
              <li><a href="/help">Help</a></li>
              <li><a href="/sitemap">Sitemap</a></li>
              <li><a href="images/files/upload/service-guides/Guide des services DHL En.pdf.pdf" target="_blank">Guide to DHL services</a></li>
              <li><a href="images/files/upload/service-guides/Guide des services UPS En.pdf.pdf" target="_blank">Guide to UPS services</a></li>
              <li><a href="images/files/upload/service-guides/Guide des services FedEx En.pdf" target="_blank">Guide to FedEx services</a></li>
            </ul>
          </article>

          <article class="footer-block col-xs-12 col-sm-2">
            <h4>General conditions</h4>
            <ul class="toggle-footer">
              <li><a href="images/files/upload/cgv/CGV DHL En.pdf" target="_blank">CONDITIONS OF SALE DHL</a></li>
              <li><a href="images/files/upload/cgv/CGV UPS En.pdf" target="_blank">CONDITIONS OF SALE UPS</a></li>
              <li><a href="images/files/upload/cgv/CGV FEDEX En.pdf" target="_blank">CONDITIONS OF SALE FEDEX</a></li>
              <li><a href="images/files/upload/cgv/CGV CHRONOPOST En.pdf" target="_blank">CONDITIONS OF SALE CHRONOPOST</a></li>
              <li><a href="images/files/upload/cgv/CGV TNT En.pdf" target="_blank">CONDITIONS OF SALE TNT</a></li>
              <li><a href="images/files/upload/cgv/CGV DPD En.pdf" target="_blank">CONDITIONS OF SALE DPD</a></li>
              <li><a href="images/files/upload/cgv/CGV_Upela_En.pdf" target="_blank">CONDITIONS OF SALE UPELA</a></li>
              <li><a href="images/files/upload/cgv/CGV_Mondial-Relay.pdf" target="_blank">CONDITIONS OF SALE MONDIAL RELAY</a></li>
              <li><a href="images/files/upload/cgv/CGV-Coursier.pdf" target="_blank">CONDITIONS OF SALE COURIERS</a></li>
            </ul>
          </article>
        </div>

        <div id="copyright" class="row clearfix">
          <div class="col-md-4">
            Copyright &copy; 2016 MPG Upela. All rights reserved.
          </div>

          <div class="col-md-8 text-left">
            <ul class="footer-links">
              <!--<li><a href="/files/upload/cgv/CGV_Upela.pdf" target="_blank"><?php echo __('Terms of use'); ?></a></li>-->
              <li><a href="/confidentiality-policy">Privacy undertaking</a></li>
              <li><a href="/legal-notice">Legal notice</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="quick-links hidden-print">
    <div class="quick-link">
      <a href="/contact">
        <i class="fa fa-envelope"></i>
        <span class="quick-link-content">Contact us</span>
      </a>
    </div>
    <div class="clear"></div>
    <div class="quick-link">
      <a href="#">
        <i class="glyphicon glyphicon-earphone"></i>
        <span class="quick-link-content">Get a free call back!</span>
      </a>
    </div>
    <div class="clear"></div>
    <div class="quick-link quick-link-search">
      <i class="glyphicon glyphicon-search"></i>
      <span class="quick-link-content">
        <form id="blog-search-form" action="<?php echo Meta::getUrl('/blog/'); ?>" method="get" accept-charset="UTF-8">
          <div class="input-group">
            <input type="search" class="form-control" name="q" value="" placeholder="Search"/>
            <span class="input-group-btn">
              <button class="btn button-search btn-default btn-sm" type="submit" title="Search">go
            </span>
          </div>
          </form>
      </span>
    </div>
    <div class="clear"></div>
  </div>

  <a href="#" class="go-top" title="Go top">
    <i class="fa fa-2x fa-arrow-up"></i>
  </a>
</footer><!-- /#footer -->
