<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <h1 translate="SETTINGS.TITLE">My Client Space</h1>
      <div class="row">
        <div class="col-md-2">
          <ul id="account-nav" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-account">
                <i class="fa fa-home"></i>
                <span translate="SETTINGS.OVERALL">Overall view</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav2" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/ship-to-contact">
                <i class="fa fa-user"></i>
                <span translate="SETTINGS.SHIP"> Ship to contact</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing">
                <i class="fa fa-users"></i>
                <span translate="SETTINGS.MAILING"> Mass mailing</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing-upload">
                <i class="fa fa-floppy-o"></i>
                <span translate="SETTINGS.SENDING"> Sending by file</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav3" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-contacts">
                <i class="fa fa-book"></i>
                <span translate="SETTINGS.CONTACTS"> My contacts</span>
              </a>
            </li>
            <li>
              <a href="#/credit-account">
                <i class="fa fa-credit-card"></i>
                <span translate="SETTINGS.CREDIT"> Credit account</span>
              </a>
            </li>
            <li>
              <a href="#/my-store">
                <i class="fa fa-shopping-cart"></i>
                <span translate="SETTINGS.STORE"> My stores</span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <i class="fa fa-cogs"></i>
                <span translate="SETTINGS.SETTINGS"> Settings</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav4" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <h3 translate="SETTINGS.PROGRAMS">Our programs</h3>
            </li>
            <li>
              <a href="#/refer-contacts">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.REFERRAL"> Referral</span>
              </a>
            </li>
            <li class="active">
              <a href="#/loyalty">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.LOYALTY"> Loyalty</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-7">
          <div class="cms_content">
            <div class="panel-white cancel-padding-left-15" style="text-align: center;">
              <h1 style="text-align: center;">
                <span style="color: #808080;" translate="LOYALTY.TITLE.THE">The</span>
                <span style="color: #41a7bc;">
                  <strong translate="LOYALTY.TITLE.LOYALTY">Loyalty</strong>
                </span>
                <span style="color: #808080;" translate="LOYALTY.TITLE.PROGRAM">Program by</span>
                <span style="color: #f37845;">
                    <strong>Upela</strong>
                </span><br>
                <span style="color: #808080;" translate="LOYALTY.TITLE.GIFT"></span>
              </h1>
              <span translate="LOYALTY.TITLE.COMMENT"></span><br><br>
              <img src="images/files/upload/parrainage/logo_eticket_kadeos.png" alt="parrainage avec Ticket Kadeos Online" width="154" height="42">
            </div>
            <div class="cancel-padding-left-15" style="margin-bottom: 20px;">
              <img class="img-responsive" src="images/files/upload/parrainage/offre-fidelite-en.png" alt="Loyalty program" style="max-height: 500px; display: block; margin-left: auto; margin-right: auto;" width="766" height="181">
            </div>
          </div>

          <div class="panel-white cancel-padding-left-15 panel-white-bordered-">
            <p class="text-muted">
              <strong translate="LOYALTY.PROGRAM">You would like to benefit of our Loyalty Program and get up to €200 of Tickets Kadéos* gift vouchers?</strong>
            </p>
            <p class="text-muted" translate="LOYALTY.REGISTER_FORM">Nothing could be easier: you just have to subscribe by filling out this below registration form:</p>

            <form id="LoyaltyForm" class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-lg-3 required" translate="LOYALTY.GENDER">Gender</label>
                <div class="col-lg-9">
                  <div class="radio-inline">
                    <label>
                      <input type="radio" value="M" translate="LOYALTY.MALE">&nbsp;Mr
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" value="F" translate="LOYALTY.FEMAIL">&nbsp;Mrs
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-3 required" translate="LOYALTY.FNAME">First name</label>
                <div class="col-lg-7">
                  <input type="text" class="form-control" value="" maxlength="100">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-3 required" translate="LOYALTY.LNAME">Last name</label>
                <div class="col-lg-7">
                  <input type="text" class="form-control" value="" maxlength="100">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-3 required" translate="LOYALTY.ADDRESS">Address</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control validate" data-validate="isAddress" value="" placeholder="No., street" maxlength="255">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-3">&nbsp;</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" value="" placeholder="Line 2" maxlength="255">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-3">&nbsp;</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" value="" placeholder="Line 3" maxlength="255">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-3 required" translate="LOYALTY.COUNTRY">Country</label>
                <div class="col-lg-7">
                  <ui-select ng-model="ctrl.ship_from_country" theme="select2" ng-disabled="ctrl.disabled" style="width: 160px;" title="Select the Country">
                    <ui-select-match placeholder="Select Country">{{$select.selected.name || $select.selected}}</ui-select-match>
                    <ui-select-choices repeat="country.name as country in ctrl.countries | searchSelectorFilter: {name: $select.search}">
                      <div ng-bind-html="person.name | highlight: $select.search"></div>
                      <small>
                        {{country.name}}
                        <!--age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>-->
                      </small>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-3 required" translate="LOYALTY.CITY">City</label>
                <div class="col-lg-7">
                  <span class="ui-helper-hidden-accessible"></span>
                  <input type="text" class="form-control validate ui-autocomplete-input" data-validate="isCityName" value="" maxlength="255" autocomplete="off">
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                  <button type="submit" class="btn btn-primary btn-lg" id="btn_save" name="btn_save" onclick="validateForm('LoyaltyForm', {'displayErrorMessage': false}); return false;">
                    <span class="fa fa-ok"></span>
                    <span translate="LOYALTY.OPPORTUNITY">I take the opportunity</span>
                  </button>
                </div>
              </div>
            </form>
            <div class="clear"></div>
          </div>

          <div class="cms_content">
            <div class="panel-white cancel-padding-left-15">
              <h2>
                <span translate="REFERRAL.HOW_WORK.BENEFIT.TITLE">
                  <a href="https://www.ticketkadeosonline.fr/Presentation.aspx">Ticket Kadéos® Online</a>
                </span>
              </h2>
              <ul>
                <li translate="REFERRAL.HOW_WORK.BENEFIT.COMMENT1">Easy and practical, the gift voucher is directly emailed to beneficiary;</li>
                <li translate="REFERRAL.HOW_WORK.BENEFIT.COMMENT2">It allows an easy and secured purchase on the Internet, 24/7;</li>
                <li translate="REFERRAL.HOW_WORK.BENEFIT.COMMENT3">Scored : can be spent in one purchase or divided into several purchases;</li>
                <li translate="REFERRAL.HOW_WORK.BENEFIT.COMMENT4">Compatible with other additional means of payment;</li>
                <li translate="REFERRAL.HOW_WORK.BENEFIT.COMMENT5">Access to thousands of items on 36 online shops covering various industries;</li>
                <li translate="REFERRAL.HOW_WORK.BENEFIT.COMMENT6">The beneficiary is allowed to exchange his Ticket Kadéos® Online voucher with a Ticket Kadéos® Infini.paper gift voucher.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 cancel-padding-left-15 cms_content">
          <div class="panel-white" style="text-align: justify;">
            <h5 style="text-align: center;">
              <span style="color: #808080;" translate="REFERRAL.RIGHT_SIDE.ONLINE_SHOP">Ticket Kadéos® Online voucher give access to thousands of items on 36 online shops covering various industries</span><br>
              <img class="img-responsive" src="images/files/upload/parrainage/logos Kadeos nouvelle disposition.png" alt="liste enseignes partenaires" width="337" height="323" style="max-height: 500px; display: block; margin-left: auto; margin-right: auto;">
              <span style="color: #808080;" translate="REFERRAL.RIGHT_SIDE.GIFT_VOUCHER">They are also redeemable for Ticket Kadeos Infini® paper gift vouchers</span>
            </h5>
          </div>
          <div class="panel-white" style="text-align: justify;">
            <h2 translate="REFERRAL.RIGHT_SIDE.TERM_CONDITION.TITLE">Terms and conditions:</h2>
            <ul>
              <li style="text-align: left;" translate="REFERRAL.RIGHT_SIDE.TERM_CONDITION.COMMENT1">Offer cannot be combined with other commercial operations<br><br></li>
              <li style="text-align: left;" translate="REFERRAL.RIGHT_SIDE.TERM_CONDITION.COMMENT2">Valid for 12 months from the date on which the beneficiary has been emailed<br><br></li>
              <li style="text-align: left;" translate="REFERRAL.RIGHT_SIDE.TERM_CONDITION.COMMENT3">The Sponsored Person must not be an employee from the same company (or any subsidiary company belonging to the same group) as his Sponsor.<br><br></li>
              <li style="text-align: left;" translate="REFERRAL.RIGHT_SIDE.TERM_CONDITION.COMMENT4">A sponsor cannot sponsor himself<br><br></li>
              <li style="text-align: left;" translate="REFERRAL.RIGHT_SIDE.TERM_CONDITION.COMMENT5">The email address from the Sponsored Person must be different from the email address of his Sponsor</li>
            </ul>
          </div>
          <div class="panel-white" style="text-align: justify;">
            <div class="alert alert-warning">
              <span translate="REFERRAL.RIGHT_SIDE.NOTE">Please note that we invite you today to add to your address book the email address of the shipper of your Kadéos gift voucher: <a href="mailto:c.lopez@upela.com">c.lopez@upela.com</a>. Also, do not forget to check your “Junk Mail” or “Spam” folders.</span>
            </div>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
