<div id="page">
  <div id="main-wrapper" class="clearfix">
    <div class="clearfix">
      <section id="main">
        <div id="home-top">
          <h1 id="h1-home" translate="MAIN.PAGES.TITLE">Upela: compare quotes from carriers for the delivery and tracking of your consignments, parcels or pallets for professionals or individuals</h1>
          <div id="carousel-home" class="carousel slide" data-ride="carousel" data-interval="6000">
            <div class="carousel-inner">
              <div class="item" style="background-image: url('images/files/upload/home/slider/slide6.jpg');">
                <div class="carousel-caption" style="margin-right: -740px; top: 260px;">
                  <h4 class="orange" style="margin-bottom: 7px;" translate="MAIN.PAGES.PAGE_ONE.E_MERCHANTS">E-merchants</h4>
                  <div class="espace-pro-headline2" style="margin-bottom: 10px;" translate="MAIN.PAGES.PAGE_ONE.TEXT">
                    Centralize all your sendings<br>Save time, avoid mistakes
                  </div>
                  <a class="btn btn-orange" href="#" translate="MAIN.PAGES.PAGE_ONE.BUTTON_TEXT">See all our connectors</a>
                </div>
              </div>
              <div class="item active" style="background-image: url('images/files/upload/home/slider/slide2.jpg');">
                <div class="carousel-caption">
                  <h3 style="margin-bottom: 7px;" translate="MAIN.PAGES.PAGE_TWO.PRO">N°1 for the PROs</h3>
                  <div class="espace-pro-headline" translate="MAIN.PAGES.PAGE_TWO.TEXT">
                    +20,000 customers<br> Immediate discounts <br> Deferred payment by Sepa
                  </div>
                  <a class="btn btn-orange" ng-click="ctrl.createAccount()" translate="MAIN.PAGES.PAGE_TWO.BUTTON_TEXT">Create a professional account</a>
                </div>
              </div>
              <div class="item" style="background-image: url('images/files/upload/home/slider/slide1.jpg');">
                <div class="carousel-caption">
                  <div class="black-bg" style="width: 232px;">
                    <div class="reduction-tag" style="background-image: url('images/files/upload/home/slider/reduction-tag-en.png');">Up to -70%</div>
                    <div id="tarifs-particuliers">
                      <h3 translate="MAIN.PAGES.PAGE_THREE.TITLE1">Delivery Day+1 <small>*</small></h3>
                      <h4 translate="MAIN.PAGES.PAGE_THREE.TITLE2">More than 220 destinations</h4>
                      <table cellspacing="0" cellpadding="0" border="0" class="destination-prices">
                        <tbody>
                          <tr height="26">
                            <td width="140" class="destination" translate="MAIN.PAGES.PAGE_THREE.EUROPE">Europe</td>
                            <td width="61" class="price">11.57€</td>
                          </tr>
                          <tr height="6">
                            <td colspan="3"></td>
                          </tr>
                          <tr height="26">
                            <td class="destination" translate="MAIN.PAGES.PAGE_THREE.USA">USA</td>
                            <td class="price">28.42€</td>
                          </tr>
                          <tr height="6">
                            <td colspan="3"></td>
                          </tr>
                          <tr height="26">
                            <td class="destination" translate="MAIN.PAGES.PAGE_THREE.MIDDLE_EAST">Middle East</td>
                            <td class="price">25.35€</td>
                          </tr>
                          <tr height="6">
                            <td colspan="3"></td>
                          </tr>
                          <tr height="26">
                            <td class="destination" translate="MAIN.PAGES.PAGE_THREE.AFRICA">Africa</td>
                            <td class="price">25.35€</td>
                          </tr>
                          <tr height="6">
                            <td colspan="3"></td>
                          </tr>
                          <tr height="26">
                            <td class="destination" translate="MAIN.PAGES.PAGE_THREE.ASIA">Asia</td>
                            <td class="price">25.35€</td>
                          </tr>
                        </tbody>
                      </table>
                      <p style="font-size: 12px; margin-bottom: 5px;">
                        <span translate="MAIN.PAGES.PAGE_THREE.FOOTER.TITLE"></span><small>*</small>
                        <a class="pull-right text-underline orange" href="#" translate="MAIN.PAGES.PAGE_THREE.FOOTER.LINK">&gt;&nbsp;PRO rate?</a>
                      </p>
                      <p class="last" style="font-size: 12px; margin-left: 0px; margin-bottom: -5px;"><small translate="MAIN.PAGES.PAGE_THREE.FOOTER.FOOTER">(* from)</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="background-image: url('images/files/upload/home/slider/slide4.jpg');">
                <div class="carousel-caption" style="padding-top: 90px;">
                  <h3 translate="MAIN.PAGES.PAGE_FOUR.TITLE">Simplify your exports <br>with the express shipping leaders<br>at the lowest prices</h3>
                  <ul class="icon-ok">
                    <li translate="MAIN.PAGES.PAGE_FOUR.OPTION1">Door-to-Door Delivery</li>
                    <li translate="MAIN.PAGES.PAGE_FOUR.OPTION2">Customs service included</li>
                    <li translate="MAIN.PAGES.PAGE_FOUR.OPTION3">Personality Tip</li>
                  </ul>
                </div>
              </div>
              <div class="item" style="background-image: url('images/files/upload/home/slider/slide3.jpg');">
                <div class="carousel-caption" style="padding-top: 70px;">
                  <h3 style="margin-bottom: 0;" translate="MAIN.PAGES.PAGE_FIVE.TITLE">Why the PROs<br>choose us?</h3>
                  <ul class="icon-ok">
                    <li translate="MAIN.PAGES.PAGE_FIVE.OPTION1">to simplify their deliveries</li>
                    <li translate="MAIN.PAGES.PAGE_FIVE.OPTION2">to gain time</li>
                    <li translate="MAIN.PAGES.PAGE_FIVE.OPTION3">for our rates</li>
                    <li translate="MAIN.PAGES.PAGE_FIVE.OPTION4">for our experience</li>
                    <li translate="MAIN.PAGES.PAGE_FIVE.OPTION5">for our destinations</li>
                  </ul>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <div id="shipment-rating-form-container">
              <uib-tabset active="activeForm">
                <uib-tab index="0">
                  <uib-tab-heading>
                    <span translate="MAIN.DIALOG.TITLE1">Begin a shipment</span>
                  </uib-tab-heading>
                  <form name="ShipmentRatingForm" class="form-horizontal" ng-submit="ShipmentRatingForm.$valid && ctrl.offer()">
                    <div class="form-group">
                      <label class="control-label col-md-2 no-padding-right required-">
                        <span class="popmark" data-placement="right" data-title="Type" data-content="<b>Envelope</b> : envelope or document < 2.5 Kg<br><b>Parcel</b> : maximum weight 70 Kg, max Length 270 cm AND Length + 2 x Height <419 cm<br><b>Pallet</b> : max height 200 cm and max weight 3 tonnes (international only)<br><b>Bulky shipment</b> : max dimensions : 302 cm x 203 cm x 178 cm height (international only)" data-original-title="" title="" translate="MAIN.DIALOG.TYPE.TITLE">Type</span>
                      </label>

                      <div class="col-md-10">
                        <div class="radio-inline" id="radio-inline-type-1">
                          <label>
                            <input type="radio" value="1" checked>
                            <span translate="MAIN.DIALOG.TYPE.ENVELOPE"></span>
                            <img src="images/icons/parcel-1.png" style="max-height: 32px;">
                          </label>
                        </div>

                        <div class="radio-inline" id="radio-inline-type-2">
                          <label>
                            <input type="radio" value="2" ng-model="ctrl.shipment.type">
                            <span translate="MAIN.DIALOG.TYPE.PARCEL"></span>
                            <img src="images/icons/parcel-2.png" style="max-height: 32px;">
                          </label>
                        </div>

                        <div class="radio-inline" id="radio-inline-type-3">
                          <label>
                            <input type="radio" value="3" ng-model="ctrl.shipment.type">
                            <span translate="MAIN.DIALOG.TYPE.PALLET"></span>
                            <img src="images/icons/parcel-3.png" style="max-height: 32px;">
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-2 no-padding-right required-">
                        <span class="popmark" data-placement="right" data-title="Origin" data-content="Collection address for your shipment" translate="MAIN.DIALOG.ORIGIN.TITLE">Origin</span>
                      </label>

                      <div class="col-md-10" id="address1-row">
                        <ui-select class="address1_country" ng-model="ctrl.ship_from_country" theme="select2" style="width: 160px;" title="Select the Country">
                          <ui-select-match placeholder="Select Country">{{$select.selected.name || $select.selected}}</ui-select-match>
                          <ui-select-choices repeat="country.name as country in ctrl.countries | searchSelectorFilter: {name: $select.search}">
                            <div ng-bind-html="person.name | highlight: $select.search"></div>
                            <small>
                              {{country.name}}
                            </small>
                          </ui-select-choices>
                        </ui-select>

                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                        <!--<input type="text" id="address1_postcode_city" class="form-control ui-autocomplete-input" ng-model="ctrl.shipment.ship_from.postcode" value="" maxlength="255" translate translate-attr-placeholder="MAIN.DIALOG.ORIGIN.TOWN" ng-required="true">-->
                        <ui-select ng-model="ctrl.ship_from_addresses" id="address1_postcode_city"
                                   theme="bootstrap"
                                   ng-disabled="disabled"
                                   reset-search-input="false">
                          <ui-select-match placeholder="Postcode, Town">{{$select.selected}}</ui-select-match>
                          <ui-select-choices repeat="address in ctrl.merged_ship_from_addresses track by $index"
                                             refresh="refreshFromAddresses($select.search)"
                                             refresh-delay="0">
                            <div ng-bind-html="address | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>

                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="check_box" ng-model="ctrl.shipment.ship_from.pro">
                            <span translate="MAIN.DIALOG.ORIGIN.ADDRESS"></span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-2 no-padding-right required-">
                        <span class="popmark" id="popmark-origin" data-placement="right" data-title="Origin" data-content="Collection address for your shipment" data-original-title="" title="" translate="MAIN.DIALOG.DESTINATION.TITLE">Destination</span>
                      </label>

                      <div class="col-md-10" id="address1-row">
                        <ui-select class="address1_country" ng-model="ctrl.ship_to_country" theme="select2" style="width: 160px;" title="Select the Country">
                          <ui-select-match placeholder="Select Country">{{$select.selected.name || $select.selected}}</ui-select-match>
                          <ui-select-choices repeat="country.name as country in ctrl.countries | searchSelectorFilter: {name: $select.search} | orderBy: 'name'">
                            <div ng-bind-html="person.name | highlight: $select.search"></div>
                            <small>
                              {{country.name}}
                            </small>
                          </ui-select-choices>
                        </ui-select>

                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                        <ui-select ng-model="ctrl.ship_to_addresses" id="address1_postcode_city"
                                   theme="bootstrap"
                                   ng-disabled="disabled"
                                   reset-search-input="false">
                          <ui-select-match placeholder="Postcode, Town">{{$select.selected}}</ui-select-match>
                          <ui-select-choices repeat="address in ctrl.merged_ship_to_addresses track by $index"
                                             refresh="refreshToAddresses($select.search)"
                                             refresh-delay="0">
                            <div ng-bind-html="address | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>

                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="check_box" ng-model="ctrl.shipment.ship_to.pro">
                            <span translate="MAIN.DIALOG.DESTINATION.ADDRESS"></span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-2 no-padding-right required-">
                        <span class="popmark" data-placement="right" data-title="Parcels" data-content="Complete the details of your envelope, parcel or pallet - number of parcels, unit weight and dimensions" data-original-title="" title="" translate="MAIN.DIALOG.PARCELS.TITLE">Parcels</span>
                      </label>
                      <div class="col-md-10">
                        <div class="parcels-container">
                          <div id="parcel_list" ng-repeat="parcel in ctrl.shipment.parcels">
                            <div class="parcel">
                              <label class="parcel-label" translate="MAIN.DIALOG.PARCELS.NO">No.</label>
                              <input type="text" class="form-control parcel-number input-xmini2" maxlength="3" ng-model="parcel.number" value="1" placeholder="No." translate translate-attr-placeholder="MAIN.DIALOG.PARCELS.NO" ng-required="true">

                              <label class="parcel-label" translate="MAIN.DIALOG.PARCELS.UNIT">Wt/Unit</label>
                              <input type="text" class="form-control parcel-weight input-xmini2" ng-model="parcel.weight" value="" size="16" maxlength="4" placeholder="Wt/Unit" translate translate-attr-placeholder="MAIN.DIALOG.PARCELS.UNIT" ng-required="true">
                              <span class="weight_unit" ng-if="ctrl.parcelUnit">kg</span>
                              <span class="weight_unit" ng-if="!ctrl.parcelUnit">lbs</span>

                              <label class="parcel-label" translate="MAIN.DIALOG.PARCELS.DIMENSIONS">Dimensions</label>
                              <input type="text" class="form-control input-xmini2" ng-model="parcel.x" value="" size="16" maxlength="3" placeholder="Length" translate translate-attr-placeholder="MAIN.DIALOG.PARCELS.LENGTH" ng-required="true"> x
                              <input type="text" class="form-control input-xmini2" ng-model="parcel.y" value="" maxlength="3" placeholder="Width" translate translate-attr-placeholder="MAIN.DIALOG.PARCELS.WIDTH" ng-required="true"> x
                              <input type="text" class="form-control input-xmini2" ng-model="parcel.z" value="" size="16" maxlength="3" placeholder="Height" translate translate-attr-placeholder="MAIN.DIALOG.PARCELS.HEIGHT" ng-required="true">
                              <span class="dimension_unit" ng-if="ctrl.parcelUnit">cm</span>
                              <span class="dimension_unit" ng-if="!ctrl.parcelUnit">in</span>
                              <a class="parcel-action" href="#" ng-click="ctrl.removeParcel($index)">
                                <i class="glyphicon glyphicon-minus-sign"></i>
                              </a>
                            </div><!-- /parcel -->
                          </div>

                          <div class="parcel-actions pull-left">
                            <a ng-click="ctrl.addParcel()" style="padding-right:14px;">
                              <i class="glyphicon glyphicon-plus-sign"></i>
                              <span translate="MAIN.DIALOG.PARCELS.ADD_PARCEL"></span>
                            </a>
                            <span id="switch_parcel_unit_us">
                              <a ng-click="ctrl.switchParcelUnit()" style="padding-right:14px;">
                                <i class="glyphicon glyphicon-refresh"></i>
                                <span translate="MAIN.DIALOG.PARCELS.CHANGE_UNIT"></span>
                              </a>
                            </span>
                          </div>

                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group form-group-no-margin">
                      <label class="control-label col-md-2 no-padding-right required-">
                        <span class="popmark" data-placement="right" data-title="Date" data-content="Collection date requested" data-original-title="" title="" translate="MAIN.DIALOG.PARCELS.DATE">Date</span>
                      </label>

                      <div class="col-md-4">
                        <div class="input-group">
                          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ctrl.shipment_date" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDate()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </div>

                        <div class="help" style="font-size: 12px;">
                          <span translate="MAIN.DIALOG.PARCELS.COLLECTION_DATE"></span>
                        </div>
                      </div>

                      <div class="col-md-6 text-center" id="shipment-date-row">
                        <button type="submit" class="btn btn-primary btn-lg">
                          <i class="glyphicon glyphicon-ok"></i>
                          <span translate="MAIN.DIALOG.PARCELS.COMPARE_OFFER"></span>
                        </button>
                      </div>
                    </div>
                  </form>

                  <div class="clear"></div>
                </uib-tab>
                <uib-tab index="1">
                  <uib-tab-heading>
                    <span translate="MAIN.DIALOG.TITLE2">How does it work?</span>
                  </uib-tab-heading>
                  <div class="video-wrapper">
                    <iframe width="469" height="264" src="//www.youtube.com/embed/ToXhDYRqwZE?autoplay=0" frameborder="0" allowfullscreen=""></iframe>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>

        <div id="home-bottom" class="container">
          <div id="home-bottom-references" class="row">
            <div class="col-md-3 transportation-operated-by">
              <h3 class="home-bottom-section-title" style="margin-bottom: 8px;" translate="MAIN.FOOTER.SERVICES"></h3>
              <div class="transportation-operated-by-imgs">
                <a href="#"><img src="images/references/dhl.png" alt="DHL" /></a>
                <a href="#"><img src="images/references/dpd.png" alt="DPD" /></a>
                <a href="#"><img src="images/references/mondial-relay.png" alt="Mondial Relay" /></a>
                <a href="#"><img src="images/references/ups-logo-en.jpg" alt="UPS" /></a>
                <a href="#"><img src="images/references/fedex.png" alt="FedEx" /></a>
                <a href="#"><img src="images/references/chronopost.png" alt="Chronopost" /></a>
                <a href="#"><img src="images/references/colissimo.png" alt="Colissimo" /></a>
              </div>
            </div>

            <div class="col-md-3" style="margin-bottom: 10px;">
              <h3 class="home-bottom-section-title" style="margin-bottom: 10px;" translate="MAIN.FOOTER.E_SHOPS">
                Discover our solutions for e-shops and MarketPlaces
              </h3>
              <a class="text-center block-center" href="#">
                <img class="img-responsive block-center" alt="Discover our solutions for e-shops and MarketPlaces" src="images/home/marketplaces.jpg">
              </a>
            </div>

            <div class="col-md-3" style="margin-bottom: 10px;">
              <h3 class="home-bottom-section-title" style="margin-bottom: 20px;" translate="MAIN.FOOTER.ADVANTAGE">
                Take advantage of our programs
              </h3>
              <a href="#">
                <img class="img-responsive block-center" alt="Refer your contacts and win 200€ !" src="images/home/parrainage-en.png">
              </a>
            </div>

            <div class="col-md-3">
              <h3 id="trustedshops_badge_container_title" class="home-bottom-section-title" style="margin-bottom: 25px;" translate="MAIN.FOOTER.OPINION">
                Your opinion matters
              </h3>
              <div id="trustedshops_badge_container"></div>

              <?php if (!$content_only && (!isset($is_cms) || !$is_cms) && (!isset($is_blog) || !$is_blog)) { ?>
              <SCRIPT type="text/javascript">
                (function () {
                  var _tsid = 'X27D7D0EE881086E7CAB9E68398B819DF';
                  _tsConfig = {
                    'yOffset': '0', //offset from page bottom
                    'variant': 'custom_reviews', //text, default, small, reviews
                    'customElementId': 'trustedshops_badge_container',
                    'trustcardDirection': 'topLeft',
                    'customBadgeHeight' : '72'
                  };
                  var _ts = document.createElement('script');
                  _ts.type = 'text/javascript';
                  _ts.async = true;
                  _ts.charset = 'utf-8';
                  _ts.src = '//widgets.trustedshops.com/js/' + _tsid + '.js';
                  var __ts = document.getElementsByTagName('script')[0];
                  __ts.parentNode.insertBefore(_ts, __ts);
                })();
              </SCRIPT>
              <NOSCRIPT><A href="https://www.trustedshops.de/shop/certificate.php?shop_id=X27D7D0EE881086E7CAB9E68398B819DF">
                <IMG title="Cliquez sur le label de qualité pour en contrôler la validité!" src="//widgets.trustedshops.com/images/badge.png"
                     style="position:fixed;bottom:0;right:0;" /></A></NOSCRIPT>
              <?php } ?>
            </div>
          </div>

          <div id="home-bottom-presentation">
            <h2 translate="MAIN.FOOTER.COMMENT.TITLE">UPELA, the best way to ship a parcel!</h2>
            <p translate="MAIN.FOOTER.COMMENT.CONTENT">Thanks to UPELA exclusive prices, afford the services of the leaders in international express delivery while reducing your costs! Do not wait to find out about UPELA, in a few clicks, order your
              <strong>express delivery</strong>
              on our site. According to your choice, DHL, FEDEX or UPS will collect your shipment, an enveloppe, a
              <strong>bulky parcel or a pallet</strong>
              and deliver it to your recipient. UPELA takes care of the
              <strong>
                <a href="https://www.upela.com/en/send-parcel-to-france-41.html">delivery of your parcels in France</a>
              </strong>, in
              <a href="https://www.upela.com/en/send-parcel-england-europe-35.html">Europe</a>
              , in
              <a href="https://www.upela.com/en/send-parcel-asia-37.html">Asia</a>
              and in <a href="https://www.upela.com/en/send-parcel-usa-107.html">USA</a>
              , with full transparency since at any moment, you can track your <strong>parcel</strong>.
            </p>
          </div>

          <div id="home-bottom-instructions">
            <h2>
              <a class="collapse-toggle collapsed" data-toggle="collapse" href="#upela-instructions" aria-expanded="false" translate="MAIN.FOOTER.INSTRUCTION.TITLE">
                Instructions for the use of the UPELA price comparison for sending your parcels
              </a>
            </h2>
            <div class="collapse" id="upela-instructions" aria-expanded="false" style="height: 0px;">
              <ol>
                <li translate="MAIN.FOOTER.INSTRUCTION.CONTENT1">In order to send your <strong>mail, parcel or pallet</strong> internationally or in France, complete the information requested in the box "Begin sending": select the place of departure and destination in the drop-down list (type in the name of the city or the postal code). Tick the "business address" box if it is a business address, leave blank if it is a personal address. Enter the weight and size of your parcel. Choose the date that the carrier can collect your consignment. Compare our <strong>carriers rates</strong> by clicking on "compare offers!"</li>
                <li translate="MAIN.FOOTER.INSTRUCTION.CONTENT2">Here you may access all of our <strong>quotes for express transportation</strong>. These give references to the name of the carrier (FedEx, DHL or UPS), the price of shipping (excluding and including all taxes), the expected delivery date and the type of carrier. If you have a <a href="https://www.upela.com/en/business-account-upela-61.html">UPELA professional account</a>, the <strong>price for parcels, mail and palettes</strong> are even more advantageous (the creation of a professional or individual account is free and without obligation).</li>
                <li translate="MAIN.FOOTER.INSTRUCTION.CONTENT3">Once the method of <strong>express delivery</strong> has been selected, complete all the information concerning the sender and the addressee, or select your contacts in the address book. Also indicate the desired time period at the place where the consignment must be picked up. In the case of <strong>imported parcels</strong>, first check the availability of your correspondent. You may also drop off your package at the agency.</li>
                <li translate="MAIN.FOOTER.INSTRUCTION.CONTENT4">A summary page summarises all the information of your consignment. Confirm your order and choose your credit card to access the secure online payment. With a pro Upela account you can <a href="https://www.upela.com/en/pay-later-by-deferred-payment-99.html">pay for your consignment at a later date</a>.</li>
                <li translate="MAIN.FOOTER.INSTRUCTION.CONTENT5">Your order is validated. You can print your transportation documents, view your invoice, view the parcel tracking or cancel your consignment. The information of your consignment are sent by email: your shipping note, pro-forma invoice (non European Union consignments) and your Upela invoice. All you have to do is stick your transport voucher on your package (envelope, parcel or pallet) and wait for the courier.</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
