<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <h1 translate="SETTINGS.TITLE">My Client Space</h1>
      <div class="row">
        <div class="col-md-2">
          <ul id="account-nav" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-account">
                <i class="fa fa-home"></i>
                <span translate="SETTINGS.OVERALL">Overall view</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav2" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/ship-to-contact">
                <i class="fa fa-user"></i>
                <span translate="SETTINGS.SHIP"> Ship to contact</span>
              </a>
            </li>
            <li class="active">
              <a href="#/mass-mailing">
                <i class="fa fa-users"></i>
                <span translate="SETTINGS.MAILING"> Mass mailing</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing-upload">
                <i class="fa fa-floppy-o"></i>
                <span translate="SETTINGS.SENDING"> Sending by file</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav3" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-contacts">
                <i class="fa fa-book"></i>
                <span translate="SETTINGS.CONTACTS"> My contacts</span>
              </a>
            </li>
            <li>
              <a href="#/credit-account">
                <i class="fa fa-credit-card"></i>
                <span translate="SETTINGS.CREDIT"> Credit account</span>
              </a>
            </li>
            <li>
              <a href="#/my-store">
                <i class="fa fa-shopping-cart"></i>
                <span translate="SETTINGS.STORE"> My stores</span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <i class="fa fa-cogs"></i>
                <span translate="SETTINGS.SETTINGS"> Settings</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav4" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <h3 translate="SETTINGS.PROGRAMS">Our programs</h3>
            </li>
            <li>
              <a href="#/refer-contacts">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.REFERRAL"> Referral</span>
              </a>
            </li>
            <li>
              <a href="#/loyalty">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.LOYALTY"> Loyalty</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-10">
          <div class="panel-white cancel-padding-left-15 panel-white-bordered-">
            <a class="btn btn-default btn-sm btn-rounded text-uppercase pull-right" href="http://www.youtube.com/watch?v=Ci7qwPAp7Vw" target="_blank">
              <i class="glyphicon glyphicon-play-circle"></i>
              <span translate="MASS_MAIL.SEE_DEMON"> See the demonstration</span>
            </a>
            <h1 style="margin-bottom: 5px;">
              <i class="fa fa-users"></i>
              <span translate="MASS_MAIL.TITLE">Mass mailing</span>
            </h1>
            <p class="text-muted" style="margin-bottom: 20px;" translate="MASS_MAIL.COMMENT1">Group your items by selecting multiple contacts from your address book.<br>This option allows you to send the same parcel (weight and size) to multiple recipients.</p>

            <form id="MassMailingForm" class="form-horizontal">
              <h3 class="form-group-legend" style="margin-bottom:10px;" translate="MASS_MAIL.YOUR_CONTACTS">YOUR CONTACTS</h3>
              <div class="clearfix" style="margin-bottom: 0px;">
                <div class="col-md-8">
                  <div class="form-group">
                    <select id="address2_ids" class="form-control" data-placeholder="Select or enter the name of a contact">
                      <option value="439616" selected="selected">Chine / Hong Kong (Chine / Hong Kong)</option>
                      <option value="439617" selected="selected">DomTom Réunion/Martinique/Guadeloupe (DomTom Réunion/Martinique/Guade)</option>
                      <option value="439620" selected="selected">Dubai (Dubai)</option>
                      <option value="439613" selected="selected">Europe Berlin (Europe Berlin)</option>
                      <option value="422671" selected="selected">USA Miami (USA Miami)</option>
                      <option value="1844780" selected="selected">_CLI1 (_CLI1)</option>
                    </select>

                    <span class="help-block">
                      <a>
                        <i class="fa fa-book" style="margin-right: 5px;"></i>
                        <span translate="MASS_MAIL.ADDRESS_BOOK">or open your address book</span>
                      </a>
                    </span>
                  </div>
                </div>
              </div>

              <p>
                <span>
                  <strong translate="MASS_MAIL.SENDER">Sender :</strong>
                </span>
                <span id="address1_container" class="text-muted">
                  <strong>_CLI1</strong> (_CLI1) - Cli1 - 75001 Paris (France)
                </span>
                <a translate="MASS_MAIL.CHANGE_SENDER">Change sender</a>
              </p>
              <hr>

              <h3 class="form-group-legend" style="margin-bottom:10px;" translate="MASS_MAIL.PARCELS.TITLE">DESCRIPTION OF THE PARCELS</h3>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label col-lg-3">
                      <span class="popmark" id="popmark-type" data-placement="right"
                            data-content="<b>Envelope</b> : envelope or document < 2.5 Kg<br><b>Parcel</b> : maximum weight 70 Kg, max Length 270 cm AND Length + 2 x Height <419 cm<br><b>Pallet</b> : max height 200 cm and max weight 3 tonnes (international only)<br><b>Bulky shipment</b> : max dimensions : 302 cm x 203 cm x 178 cm height (international only)" data-original-title="" title=""
                            translate="MASS_MAIL.PARCELS.TYPE.TITLE">Type</span>
                    </label>

                    <div class="col-lg-9">
                      <div class="radio-inline" id="radio-inline-type-1">
                        <label>
                          <input type="radio" name="type" value="1">
                          <span translate="MASS_MAIL.PARCELS.TYPE.ENVELOPE"></span>
                          <img src="images/icons/parcel-1.png" style="max-height: 32px;">
                        </label>
                      </div>

                      <div class="radio-inline" id="radio-inline-type-2">
                        <label>
                          <input type="radio" name="type" value="2">
                          <span translate="MASS_MAIL.PARCELS.TYPE.PARCEL"></span>
                          <img src="images/icons/parcel-2.png" style="max-height: 32px;">
                        </label>
                      </div>

                      <div class="radio-inline" id="radio-inline-type-3">
                        <label>
                          <input type="radio" name="type" value="3">
                          <span translate="MASS_MAIL.PARCELS.TYPE.PALLET"></span>
                          <img src="images/icons/parcel-3.png" style="max-height: 32px;">
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" id="parcels-form-group">
                    <label class="control-label col-lg-3 no-padding-right required-">
                      <span class="popmark" id="popmark-parcels" data-placement="right" data-title="Parcels"
                            data-content="Complete the details of your envelope, parcel or pallet - number of parcels, unit weight and dimensions"
                            data-original-title="" title="" translate="MASS_MAIL.PARCELS.PARCELS.TITLE">Parcels</span>
                    </label>
                    <div class="col-lg-9">
                      <input type="hidden" id="parcel_unit" name="parcel_unit" value="fr">
                      <input type="hidden" id="with_box_dimensions" name="with_box_dimensions" value="1">
                      <div class="parcels-container">
                        <div id="parcel_list" ng-repeat="parcel in ctrl.shipment.parcels">
                          <div class="parcel">
                            <label class="parcel-label" translate="MASS_MAIL.PARCELS.PARCELS.NO">No.</label>
                            <input type="text" class="form-control parcel-number input-xmini2" maxlength="3" ng-model="parcel.number" translate translate-attr-placeholder="MASS_MAIL.PARCELS.PARCELS.NO" ng-required="true">

                            <label class="parcel-label" translate="MASS_MAIL.PARCELS.PARCELS.UNIT">Wt/Unit</label>
                            <input type="text" class="form-control parcel-weight input-xmini2" ng-model="parcel.weight" size="16" maxlength="4" translate translate-attr-placeholder="MY_ACCOUNT.SHIPMENT.UNIT" ng-required="true">
                            <span class="weight_unit" ng-if="ctrl.parcelUnit">kg</span>
                            <span class="weight_unit" ng-if="!ctrl.parcelUnit">lbs</span>

                            <label class="parcel-label" translate="MASS_MAIL.PARCELS.PARCELS.DIMENSIONS">Dimensions</label>
                            <input type="text" class="form-control input-xmini2" ng-model="parcel.x" size="16" maxlength="3" translate translate-attr-placeholder="MASS_MAIL.PARCELS.PARCELS.LENGTH" ng-required="true"> x
                            <input type="text" class="form-control input-xmini2" ng-model="parcel.y" maxlength="3" translate translate-attr-placeholder="MASS_MAIL.PARCELS.PARCELS.WIDTH" ng-required="true"> x
                            <input type="text" class="form-control input-xmini2" ng-model="parcel.z" size="16" maxlength="3" translate translate-attr-placeholder="MASS_MAIL.PARCELS.PARCELS.HEIGHT" ng-required="true">
                            <span class="dimension_unit" ng-if="ctrl.parcelUnit">cm</span>
                            <span class="dimension_unit" ng-if="!ctrl.parcelUnit">in</span>
                            <a class="parcel-action" ng-click="ctrl.removeParcel($index)">
                              <i class="glyphicon glyphicon-minus-sign"></i>
                            </a>
                          </div><!-- /parcel -->
                        </div>

                        <div class="parcel-actions pull-left">
                          <a ng-click="ctrl.addParcel()" style="padding-right:14px;">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <span translate="MASS_MAIL.PARCELS.PARCELS.ADD_PARCEL"></span>
                          </a>
                            <span id="switch_parcel_unit_us">
                              <a ng-click="ctrl.switchParcelUnit()" style="padding-right:14px;">
                                <i class="glyphicon glyphicon-refresh"></i>
                                <span translate="MASS_MAIL.PARCELS.PARCELS.CHANGE_UNIT"></span>
                              </a>
                            </span>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>

              <h3 class="form-group-legend" style="margin-bottom:10px; cursor: pointer;" translate="MASS_MAIL.SHIPPING_METHOD.TITLE">SHIPPING METHOD</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="MASS_MAIL.SHIPPING_METHOD.PRIORITY">Priority</label>
                    <div class="col-lg-7">
                      <select class="form-control">
                        <option value="cheapest">The cheapest</option>
                        <option value="fastest">The quickest</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-lg-3" translate="MASS_MAIL.SHIPPING_METHOD.CARRIER">Carrier</label>
                    <div class="col-lg-7">
                      <!--<div ng-dropdown-multiselect="" options="ctrl.carriers" selected-model="ctrl.carrier"></div>-->
                      <select class="form-control">
                        <option value="CHRONOPOST">CHRONOPOST</option>
                        <option value="COLISSIMO">COLISSIMO</option>
                        <option value="COURSIER">COURSIER</option>
                        <option value="DHL">DHL</option>
                        <option value="DPD">DPD</option>
                        <option value="FEDEX">FEDEX</option>
                        <option value="MONDIALRELAY">MONDIALRELAY</option>
                        <option value="TNT">TNT</option>
                        <option value="UPS">UPS</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <hr>

              <h3 class="form-group-legend" style="margin-bottom:10px; cursor: pointer;">
                <span translate="MASS_MAIL.SHIPMENT.TITLE">ABOUT YOUR SHIPMENT</span>
                <!--<a style="font-weight: normal; font-size: 11px; float: right;" translate="MASS_MAIL.DISPLAY">display/hide</a>-->
              </h3>
              <div class="row" id="characteristics_container">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="MASS_MAIL.SHIPMENT.CONTENT">Content</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="35">
                      <span class="help-block">
                        <a translate="MASS_MAIL.SHIPMENT.GOODS">Prohibited Goods</a>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-lg-3" translate="MASS_MAIL.SHIPMENT.ORIGIN">Origin of the goods</label>
                    <div class="col-lg-7">
                      <ui-select ng-model="ctrl.destinationCoutry" theme="select2" ng-disabled="ctrl.disabled" style="width: 100%;" title="Select the Country">
                        <ui-select-match placeholder="Select Country">{{$select.selected.name || $select.selected}}</ui-select-match>
                        <ui-select-choices repeat="country.name as country in ctrl.countries | searchSelectorFilter: {name: $select.search}">
                          <div ng-bind-html="person.name | highlight: $select.search"></div>
                          <small>
                            {{country.name}}
                          </small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
              <hr>

              <h3 class="form-group-legend" style="margin-bottom:10px; cursor: pointer;">
                <span translate="MASS_MAIL.INSURANCE.TITLE">VALUE &amp; OPTIONAL ADDITIONAL INSURANCE</span>
                <!--<a style="font-weight: normal; font-size: 11px; float: right;" translate="MASS_MAIL.DISPLAY">display/hide</a>-->
              </h3>
              <div class="row" id="insurance_container">
                <div class="form-group no-personal-effects">
                  <label class="control-label col-lg-3" translate="MASS_MAIL.INSURANCE.DECLARED_VALUE">Declared value</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control input-small" style="display: inline-block;" value="0.00" maxlength="32">
                    <select class="form-control input-mini" style="display: inline-block;">
                      <option value="EUR" selected="selected">€</option>
                      <option value="USD">$</option>
                    </select>
                    &nbsp;<span class="help-block" style="display: inline;" translate="MASS_MAIL.INSURANCE.SHIPMENT_VALUE">Value of your shipment</span>
                    <div class="help-block">
                      <span translate="MASS_MAIL.INSURANCE.WARRANTY.TEXT1"></span>
                      <a href="http://www.ffsa.fr/sites/jcms/c_33806/fr/entreprise-lassurance-du-transport-de-marchandises?cc=fn_7316" target="_blank" translate="ORDER_ORDER.INSURANCE.WARRANTY.TEXT2">contractual insurance</a>
                      <span translate="MASS_MAIL.INSURANCE.WARRANTY.TEXT3"></span>
                    </div>
                  </div>
                </div>

                <div class="form-group no-personal-effects">
                  <div class="col-lg-9 col-lg-offset-3">
                    <div class="checkbox">
                      <label class="">
                        <input type="checkbox" class="check_box" value="1">
                        <span translate="MASS_MAIL.INSURANCE.REAL_VALUE">I want to insure my parcel at its real value (0.6%, minimum 4.5€)&nbsp;</span>
                        <span id="insurance_price_label_container" style="display: none;">
                          <span id="insurance_price_label" style="display: none;">0€</span>
                        </span>
                      </label>
                    </div>

                    <div class="help-block">
                      <a href="images/files/upload/insurance/Upela Assurance EXCLUSIONS CONDITIONS GENERALES.pdf" target="_blank" translate="MASS_MAIL.INSURANCE.NEAREST">see the conditions of insurance</a>
                    </div>
                  </div>
                </div>
                <input type="hidden" id="insurance_declared_value_eur" name="insurance_declared_value_eur" value="">
                <div class="form-group personal-effects" style="display: none;">
                  <div class="col-lg-9 col-lg-offset-3">
                    <p><strong>Important note: Personal effects are excluded from the general insurance conditions.</strong></p>
                    <div class="help-block">
                      <a href="images/files/upload/insurance/Upela Assurance EXCLUSIONS CONDITIONS GENERALES.pdf" target="_blank">see the conditions of insurance</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr style="margin-top: 0;">

              <h3 class="form-group-legend" style="margin-bottom:10px;" translate="MASS_MAIL.COLLECTION.TITLE">COLLECTION DATE</h3>
              <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12">
                  <input type="hidden" id="dropoff_selection" name="dropoff_selection" value="1">

                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="radio">
                        <label>
                          <input type="radio" value="0" checked="">
                          <span translate="MASS_MAIL.INSURANCE.REAL_VALUE">&nbsp;Collection chosen (subject to the carrier availability)</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <label class="control-label required-" style="display: inline-block; padding: 0; height: 34px; line-height: 34px;" translate="MASS_MAIL.COLLECTION.DATE">Date</label>&nbsp;
                      <div class="input-group" style="width: 160px; display: inline-table; vertical-align: middle;">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="shipDate" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openDate()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </div>

                      <span translate="MASS_MAIL.COLLECTION.BETWEEN">&nbsp;&nbsp;Between&nbsp;</span>
                      <select id="ready_time" name="ready_time" class="form-control input-small2 display-inline-block">
                        <option value="0800">08:00am</option>
                        <option value="0815">08:15am</option>
                        <option value="0830">08:30am</option>
                        <option value="0845">08:45am</option>
                        <option value="0900">09:00am</option>
                        <option value="0915">09:15am</option>
                        <option value="0930">09:30am</option>
                        <option value="0945">09:45am</option>
                        <option value="1000">10:00am</option>
                        <option value="1015">10:15am</option>
                        <option value="1030">10:30am</option>
                        <option value="1045">10:45am</option>
                        <option value="1100" selected="">11:00am</option>
                        <option value="1115">11:15am</option>
                        <option value="1130">11:30am</option>
                        <option value="1145">11:45am</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="radio">
                        <label>
                          <input type="radio" value="1">
                          <span translate="MASS_MAIL.COLLECTION.DROP_OFF">&nbsp;I drop off my parcel at</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h4 class="warning" translate="MASS_MAIL.INFORMATION.TITLE">INFORMATION &amp; CUSTOMS OBLIGATIONS</h4>
                  <div class="alert alert-warning">
                    <p style="text-align: justify;">
                      <img src="images/files/upload/help/imprimante.png" alt="Printer" style="vertical-align: middle; margin-right: 5px;">
                      <span translate="MASS_MAIL.INFORMATION.TRANSPORT_LABEL">Before confirming your order, check that the sender is able to print out the transport label.</span>
                    </p>

                    <p style="text-align: justify;">
                      <img src="images/files/upload/help/carton-emballage.png" alt="Packaging" style="vertical-align: middle; margin-right: 5px;">
                      <span translate="MASS_MAIL.INFORMATION.TRANSPORT_LABEL"> Your package should be properly wrapped and protected: inadequate packaging will preclude damage claims.</span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-info">
                    <span translate="MASS_MAIL.COMMENT2"><strong>Important:</strong> By clicking on CONTINUE, I confirm that I have read the terms and conditions of the Upela.com website and the terms and conditions of the selected carrier, and unreservedly accept them.</span>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="row">
                <center>
                  <button type="submit" class="btn btn-primary btn-lg" id="btn_save" name="btn_save" onclick="return true;">
                    <i class="glyphicon glyphicon-ok"></i>
                    <span translate="MASS_MAIL.CONTINUE"> CONTINUE</span>
                  </button>
                </center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
