<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <h1 translate="SETTINGS.TITLE">My Client Space</h1>
      <div class="row">
        <div class="col-md-2">
          <ul id="account-nav" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-account">
                <i class="fa fa-home"></i>
                <span translate="SETTINGS.OVERALL">Overall view</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav2" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/ship-to-contact">
                <i class="fa fa-user"></i>
                <span translate="SETTINGS.SHIP"> Ship to contact</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing">
                <i class="fa fa-users"></i>
                <span translate="SETTINGS.MAILING"> Mass mailing</span>
              </a>
            </li>
            <li class="active">
              <a href="#/mass-mailing-upload">
                <i class="fa fa-floppy-o"></i>
                <span translate="SETTINGS.SENDING"> Sending by file</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav3" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-contacts">
                <i class="fa fa-book"></i>
                <span translate="SETTINGS.CONTACTS"> My contacts</span>
              </a>
            </li>
            <li>
              <a href="#/credit-account">
                <i class="fa fa-credit-card"></i>
                <span translate="SETTINGS.CREDIT"> Credit account</span>
              </a>
            </li>
            <li>
              <a href="#/my-store">
                <i class="fa fa-shopping-cart"></i>
                <span translate="SETTINGS.STORE"> My stores</span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <i class="fa fa-cogs"></i>
                <span translate="SETTINGS.SETTINGS"> Settings</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav4" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <h3 translate="SETTINGS.PROGRAMS">Our programs</h3>
            </li>
            <li>
              <a href="#/refer-contacts">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.REFERRAL"> Referral</span>
              </a>
            </li>
            <li>
              <a href="#/loyalty">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.LOYALTY"> Loyalty</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-10">
          <div class="panel-white cancel-padding-left-15 panel-white-bordered-">
            <a class="btn btn-default btn-sm btn-rounded text-uppercase pull-right" href="http://www.youtube.com/watch?v=xz3wpmicKG4" target="_blank">
              <i class="glyphicon glyphicon-play-circle"></i>
              <span translate="MASS_MAIL_UPLOAD.SEE_DEMON">See the demonstration</span>
            </a>
            <h1 style="margin-bottom: 5px;">
              <i class="fa fa-floppy-o"></i>
              <span translate="MASS_MAIL_UPLOAD.TITLE">Ship using Excel spreadsheet or text</span>
            </h1>
            <p class="text-muted" style="margin-bottom: 20px;">
              <span translate="MASS_MAIL_UPLOAD.COMMENT1">Schedule the shipment of multiple packages to multiple recipients.</span>
              <span translate="MASS_MAIL_UPLOAD.COMMENT2">Import your completed file according to the examples below.<br></span><br>
              <span translate="MASS_MAIL_UPLOAD.COMMENT3">Only the weight is required, you must take into account the dimensional weight of your parcel calculated as follows: [length (cm) x height (cm) x width (cm)] / 5000.</span>
              <span translate="MASS_MAIL_UPLOAD.COMMENT4">Fill in the highest value between this result and the actual weight.<br></span><br>
              <span class="orange" translate="MASS_MAIL_UPLOAD.COMMENT5">Careful : if the length is greater than <strong>119 cm</strong> (47 inches), you will not be able to use this service.</span><br>
              <span translate="MASS_MAIL_UPLOAD.COMMENT6">If you encounter any problems, contact the</span>
              <a href="#/contact-us" translate="MASS_MAIL_UPLOAD.COMMENT7">Upela Customer Service</a>
              <span translate="MASS_MAIL_UPLOAD.COMMENT8">or send us your file </span>
              <a href="mailto:contact@upela.com" translate="MASS_MAIL_UPLOAD.COMMENT9">contact@upela.com</a>
            </p>
            <hr>

            <form id="MassMailingForm" class="form-horizontal">
              <h3 class="form-group-legend" style="margin-bottom:10px;" translate="MASS_MAIL_UPLOAD.SPREADSHEET.TITLE">YOUR SPREADSHEET</h3>
              <div class="clearfix" style="margin-bottom: 0px;">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label col-lg-7 required" translate="MASS_MAIL_UPLOAD.SPREADSHEET.IMPORT">Import spreadsheet (xls, xlsx, csv, txt)</label>
                    <div class="col-lg-5">
                      <input type="file" medium="" style="padding-left: 0; border: 0; background: none;" value="">
                    </div>
                  </div>
                  <br>

                  <p>
                    <span translate="MASS_MAIL_UPLOAD.SPREADSHEET.COMMENT1">Les pays doivent être renseignés au format</span>
                    <a href="images/files/upload/iso/Upela_codes_iso.pdf" target="_blank" translate="MASS_MAIL_UPLOAD.SPREADSHEET.COMMENT2">ISO 3166-1</a>
                  </p>
                  <p>
                    <a href="images/files/templates/shipments/listeexpeditions_en.xls" download_="listeexpeditions_en.xls" translate="MASS_MAIL_UPLOAD.SPREADSHEET.COMMENT3">Cliquez ici</a>
                    <span translate="MASS_MAIL_UPLOAD.SPREADSHEET.COMMENT4"> pour télécharger un exemple de tableau de contacts au format excel</span>
                  </p>
                  <p>
                    <a href="images/files/templates/shipments/listeexpeditions.csv" download_="listeexpeditions.csv">Cliquez ici</a>
                    <span translate="MASS_MAIL_UPLOAD.SPREADSHEET.COMMENT5"> pour télécharger un exemple de tableau de contacts au format csv ou txt</span>
                  </p>
                </div>
              </div>

              <p>
                <strong translate="MASS_MAIL_UPLOAD.SPREADSHEET.SENDER">Sender :</strong>
                <span id="address1_container" class="text-muted">
                  <strong>DomTom Réunion/Martinique/Guade</strong> (DomTom Réunion/Martinique/Guadeloupe) - DomTom Réunion/Martinique/Guadeloup - 97450 Saint-Louis (Reunion)
                </span>
                <a href="#" translate="MASS_MAIL_UPLOAD.SPREADSHEET.CHANGE_SENDER">Change sender</a>
              </p>
              <hr>

              <h3 class="form-group-legend" style="margin-bottom:10px; cursor: pointer;" translate="MASS_MAIL_UPLOAD.CARRIER.TITLE">CARRIER</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="priority" class="control-label col-lg-3 required" translate="MASS_MAIL_UPLOAD.CARRIER.PRIORITY">Priority</label>

                    <div class="col-lg-7">
                      <select id="priority" name="priority" class="form-control">
                        <option value="cheapest">The cheapest</option>
                        <option value="fastest">The quickest</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-lg-3" translate="MASS_MAIL_UPLOAD.CARRIER.CARRIER">Carrier</label>
                    <div class="col-lg-7" style="display: none">
                      <select class="form-control" multiple="" size="2">
                        <option value="CHRONOPOST">CHRONOPOST</option>
                        <option value="COLISSIMO">COLISSIMO</option>
                        <option value="COURSIER">COURSIER</option>
                        <option value="DHL">DHL</option>
                        <option value="DPD">DPD</option>
                        <option value="FEDEX">FEDEX</option>
                        <option value="MONDIALRELAY">MONDIALRELAY</option>
                        <option value="TNT">TNT</option>
                        <option value="UPS">UPS</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <hr>

              <h3 class="form-group-legend" style="margin-bottom:10px;" translate="MASS_MAIL_UPLOAD.COLLECTION.TITLE">COLLECTION DATE</h3>
              <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12">
                  <input type="hidden" id="dropoff_selection" name="dropoff_selection" value="1">

                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="radio">
                        <label>
                          <input type="radio" value="0" checked="">
                          <span translate="MASS_MAIL_UPLOAD.COLLECTION.COLLECTION">&nbsp;Collection chosen (subject to the carrier availability)</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <label for="shipment_date" class="control-label required-" style="display: inline-block; padding: 0; height: 34px; line-height: 34px;" translate="MASS_MAIL_UPLOAD.COLLECTION.DATE">Date</label>&nbsp;
                      <div class="input-group" style="width: 160px; display: inline-table; vertical-align: middle;">
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" id="shipment_date" name="shipment_date" class="form-control datepicker hasDatepicker" value="11/01/2016" size="10" maxlength="10">
                      </div>
                      <span translate="MASS_MAIL_UPLOAD.COLLECTION.BETWEEN">&nbsp;&nbsp;Between&nbsp;</span>

                      <select id="ready_time" name="ready_time" class="form-control input-small2 display-inline-block">
                        <option value="0800">08:00am</option>
                        <option value="0815">08:15am</option>
                        <option value="0830">08:30am</option>
                        <option value="0845">08:45am</option>
                        <option value="0900">09:00am</option>
                        <option value="0915">09:15am</option>
                        <option value="0930">09:30am</option>
                        <option value="0945">09:45am</option>
                        <option value="1000">10:00am</option>
                        <option value="1015">10:15am</option>
                        <option value="1030">10:30am</option>
                        <option value="1045">10:45am</option>
                        <option value="1100" selected="">11:00am</option>
                        <option value="1115">11:15am</option>
                        <option value="1130">11:30am</option>
                        <option value="1145">11:45am</option>
                        <option value="1200">12:00pm</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="radio">
                        <label>
                          <input type="radio" value="1">
                          <span translate="MASS_MAIL_UPLOAD.COLLECTION.DROP_OFF">&nbsp;I drop off my parcel at</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <center>
                  <button type="submit" class="btn btn-primary btn-lg">
                    <i class="glyphicon glyphicon-ok"></i>
                    <span translate="MASS_MAIL_UPLOAD.IMPORT"> IMPORT</span>
                  </button>
                </center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
