<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <h1 translate="SETTINGS.TITLE">My Client Space</h1>
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-tabs nav-stacked account-nav">
            <li class="active">
              <a href="#/my-account">
                <i class="fa fa-home"></i>
                <span translate="SETTINGS.OVERALL">Overall view</span>
              </a>
            </li>
          </ul>

          <ul class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/ship-to-contact">
                <i class="fa fa-user"></i>
                <span translate="SETTINGS.SHIP"> Ship to contact</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing">
                <i class="fa fa-users"></i>
                <span translate="SETTINGS.MAILING"> Mass mailing</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing-upload">
                <i class="fa fa-floppy-o"></i>
                <span translate="SETTINGS.SENDING"> Sending by file</span>
              </a>
            </li>
          </ul>

          <ul class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-contacts">
                <i class="fa fa-book"></i>
                <span translate="SETTINGS.CONTACTS"> My contacts</span>
              </a>
            </li>
            <li>
              <a href="#/credit-account">
                <i class="fa fa-credit-card"></i>
                <span translate="SETTINGS.CREDIT"> Credit account</span>
              </a>
            </li>
            <li>
              <a href="#/my-store">
                <i class="fa fa-shopping-cart"></i>
                <span translate="SETTINGS.STORE"> My stores</span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <i class="fa fa-cogs"></i>
                <span translate="SETTINGS.SETTINGS"> Settings</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav4" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <h3 translate="SETTINGS.PROGRAMS">Our programs</h3>
            </li>
            <li>
              <a href="#/refer-contacts">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.REFERRAL"> Referral</span>
              </a>
            </li>
            <li>
              <a href="#/loyalty">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.LOYALTY"> Loyalty</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-10">
          <div class="panel-white cancel-padding-left-15 panel-white-bordered-">
            <div id="account-rating-form-container">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a data-toggle="tab" translate="MY_ACCOUNT.BEGIN_SHIP">Begin a shipment</a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade in active" id="pricer">
                  <form name="AccountShipmentRatingForm" class="form-horizontal" ng-submit="AccountShipmentRatingForm.$valid && ctrl.offer()">
                    <div class="row" style="margin-bottom: 20px;">
                      <div class="col-md-6">
                        <div class="">
                          <label class="control-label required-" style="margin-bottom: 7px;">
                            <span class="popmark" popover-placement="right" popover-title="{{'MAIN.DIALOG.ORIGIN.TITLE' | translate}}" uib-popover="{{'MAIN.DIALOG.ORIGIN.TOOLTIP' | translate}}" popover-trigger="mouseenter">
                              <i class="step-circle-small">1</i>
                              <span translate="MY_ACCOUNT.ORIGIN.TITLE">Origin</span>
                            </span>
                          </label>

                          <div id="address1-row">
                            <ui-select class="address1_country" ng-model="ctrl.ship_from_country" theme="select2" style="width: 160px;" title="Select the Country" required>
                              <ui-select-match placeholder="Select Country">{{$select.selected.name || $select.selected}}</ui-select-match>
                              <ui-select-choices repeat="country.name as country in ctrl.countries | searchSelectorFilter: {name: $select.search}">
                                <div ng-bind-html="person.name | highlight: $select.search"></div>
                                <small>
                                  {{country.name}}
                                </small>
                              </ui-select-choices>
                            </ui-select>

                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                            <ui-select ng-model="ctrl.ship_from_addresses" id="address1_postcode_city"
                                       theme="bootstrap"
                                       ng-disabled="disabled"
                                       reset-search-input="false" required>
                              <ui-select-match placeholder="Postcode, Town">{{$select.selected}}</ui-select-match>
                              <ui-select-choices repeat="address in ctrl.merged_ship_from_addresses track by $index"
                                                 refresh="refreshFromAddresses($select.search)"
                                                 refresh-delay="0">
                                <div ng-bind-html="address | highlight: $select.search"></div>
                              </ui-select-choices>
                            </ui-select>

                            <div class="checkbox">
                              <label>
                                <input type="checkbox" class="check_box" ng-model="ctrl.shipment.ship_from.pro">
                                <span translate="MY_ACCOUNT.ORIGIN.ADDRESS"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="">
                          <label class="control-label required-" style="margin-bottom: 7px;">
                            <span class="popmark" popover-placement="right" popover-title="{{'MAIN.DIALOG.DESTINATION.TITLE' | translate}}" uib-popover="{{'MAIN.DIALOG.DESTINATION.TOOLTIP' | translate}}" popover-trigger="mouseenter">
                              <i class="step-circle-small">2</i>
                              <span translate="MY_ACCOUNT.DESTINATION.TITLE"></span>
                            </span>
                          </label>

                          <div id="address1-row">
                            <ui-select class="address1_country" ng-model="ctrl.ship_to_country" theme="select2" style="width: 160px;" title="Select the Country" required>
                              <ui-select-match placeholder="Select Country">{{$select.selected.name || $select.selected}}</ui-select-match>
                              <ui-select-choices repeat="country.name as country in ctrl.countries | searchSelectorFilter: {name: $select.search} | orderBy: 'name'">
                                <div ng-bind-html="person.name | highlight: $select.search"></div>
                                <small>
                                  {{country.name}}
                                </small>
                              </ui-select-choices>
                            </ui-select>

                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                            <ui-select ng-model="ctrl.ship_to_addresses" id="address1_postcode_city"
                                       theme="bootstrap"
                                       ng-disabled="disabled"
                                       reset-search-input="false" required>
                              <ui-select-match placeholder="Postcode, Town">{{$select.selected}}</ui-select-match>
                              <ui-select-choices repeat="address in ctrl.merged_ship_to_addresses track by $index"
                                                 refresh="refreshToAddresses($select.search)"
                                                 refresh-delay="0">
                                <div ng-bind-html="address | highlight: $select.search"></div>
                              </ui-select-choices>
                            </ui-select>

                            <div class="checkbox">
                              <label>
                                <input type="checkbox" class="check_box" ng-model="ctrl.shipment.ship_to.pro">
                                <span translate="MY_ACCOUNT.DESTINATION.ADDRESS"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row" style="margin-bottom: 20px;">
                      <div class="col-md-6">
                        <div class="" id="parcels-form-group">
                          <label class="control-label required-" style="margin-bottom: 7px;">
                            <span class="popmark" popover-placement="right" popover-title="{{'SHIP_TO_CONTACT.PARCELS.PARCELS.TITLE' | translate}}" uib-popover="{{'MAIN.DIALOG.PARCELS.TOOLTIP' | translate}}" popover-trigger="mouseenter">
                              <i class="step-circle-small">3</i>
                              <span translate="MY_ACCOUNT.SHIPMENT.TITLE"></span>
                            </span>
                          </label>
                          <div>
                            <select id="type" name="type" class="form-control" required>
                              <option value="1">Envelope</option>
                              <option value="2" selected="">Parcel</option>
                              <option value="3">Pallet</option>
                            </select>

                            <div class="parcels-container">
                              <div id="parcel_list" ng-repeat="parcel in ctrl.shipment.parcels">
                                <div class="parcel">
                                  <label class="parcel-label" translate="MY_ACCOUNT.SHIPMENT.NO">No.</label>
                                  <input type="text" class="form-control parcel-number input-xmini2" maxlength="3" ng-model="parcel.number" value="1" placeholder="No." translate translate-attr-placeholder="MY_ACCOUNT.SHIPMENT.NO" ng-required="true">

                                  <label class="parcel-label" translate="MY_ACCOUNT.PARCELS.UNIT">Wt/Unit</label>
                                  <input type="text" class="form-control parcel-weight input-xmini2" ng-model="parcel.weight" value="" size="16" maxlength="4" placeholder="Wt/Unit" translate translate-attr-placeholder="MY_ACCOUNT.SHIPMENT.UNIT" ng-required="true">
                                  <span class="weight_unit" ng-if="ctrl.parcelUnit">kg</span>
                                  <span class="weight_unit" ng-if="!ctrl.parcelUnit">lbs</span>

                                  <label class="parcel-label" translate="MY_ACCOUNT.PARCELS.DIMENSIONS">Dimensions</label>
                                  <input type="text" class="form-control input-xmini2" ng-model="parcel.x" value="" size="16" maxlength="3" placeholder="Length" translate translate-attr-placeholder="MY_ACCOUNT.SHIPMENT.LENGTH" ng-required="true"> x
                                  <input type="text" class="form-control input-xmini2" ng-model="parcel.y" value="" maxlength="3" placeholder="Width" translate translate-attr-placeholder="MY_ACCOUNT.SHIPMENT.WIDTH" ng-required="true"> x
                                  <input type="text" class="form-control input-xmini2" ng-model="parcel.z" value="" size="16" maxlength="3" placeholder="Height" translate translate-attr-placeholder="MY_ACCOUNT.SHIPMENT.HEIGHT" ng-required="true">
                                  <span class="dimension_unit" ng-if="ctrl.parcelUnit">cm</span>
                                  <span class="dimension_unit" ng-if="!ctrl.parcelUnit">in</span>
                                  <a class="parcel-action" ng-click="ctrl.removeParcel($index)">
                                    <i class="glyphicon glyphicon-minus-sign"></i>
                                  </a>
                                </div><!-- /parcel -->
                              </div>

                              <div class="parcel-actions pull-left">
                                <a ng-click="ctrl.addParcel()" style="padding-right:14px;">
                                  <i class="glyphicon glyphicon-plus-sign"></i>
                                  <span translate="MY_ACCOUNT.SHIPMENT.ADD_PARCEL"></span>
                                </a>
                                <span id="switch_parcel_unit_us">
                                  <a ng-click="ctrl.switchParcelUnit()" style="padding-right:14px;">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                    <span translate="MY_ACCOUNT.SHIPMENT.CHANGE_UNIT"></span>
                                  </a>
                                </span>
                              </div>

                              <div class="clear"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="">
                          <label class="control-label required-" style="margin-bottom: 7px;">
                            <span class="popmark" popover-placement="right" popover-title="{{'MAIN.DIALOG.PARCELS.DATE' | translate}}" uib-popover="{{'MAIN.DIALOG.PARCELS.DATE_TOOLTIP' | translate}}" popover-trigger="mouseenter">
                              <i class="step-circle-small">4</i>
                              <span translate="MY_ACCOUNT.DATE.TITLE"></span>
                            </span>
                          </label>

                          <div class="row">
                            <div class="col-md-4">
                              <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="shipDate" is-open="ship_popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="openShipDate()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                  </button>
                                </span>
                              </div>
                              <div class="help" style="font-size: 12px; margin-right: -40px;" translate="MY_ACCOUNT.DATE.COLLECTION_DATE">Collection date requested</div>
                            </div>
                            <div class="col-md-8 text-center" id="shipment-date-row">
                              <button type="submit" class="btn btn-primary btn-lg">
                                <i class="glyphicon glyphicon-ok"></i>
                                <span translate="MY_ACCOUNT.COMPARE_OFFER"> COMPARE THE OFFERS!</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-white cancel-padding-left-15 panel-white-bordered-">
            <h2>
              <i class="fa fa-home"></i>
              <span translate="MY_ACCOUNT.TITLE">My account</span>
            </h2>

            <uib-tabset active="activeForm">
              <uib-tab index="0" heading="Justified">
                <uib-tab-heading>
                  <i class="fa fa-paper-plane"></i>
                  <span translate="MY_ACCOUNT.MY_SHIPMENTS.TITLE"> My shipments</span>
                </uib-tab-heading>
                <p class="text-muted" style="margin-bottom: 15px;" translate="MY_ACCOUNT.MY_SHIPMENTS.HISTORY">Your Upela shipment history</p>

                <div class="row">
                  <div class="col-lg-6">
                    <form id="SearchShipmentForm" class="form-horizontal" role="form">
                      <div class="input-group">
                        <input type="text" id="q" name="q" class="form-control" value="" placeholder="Search by shipment code or tracking number" translate translate-attr-placeholder="MY_ACCOUNT.MY_SHIPMENTS.SEARCH">
                        <span class="input-group-btn">
                          <button class="btn btn-default btn-search" type="submit" title="Search">
                            <i class="glyphicon glyphicon-search"></i>
                          </button>
                        </span>
                      </div>
                    </form>
                  </div>
                  <div class="col-lg-6">
                  </div>
                </div>
              </uib-tab>
              <uib-tab index="1">
                <uib-tab-heading>
                  <i class="fa fa-file-text"></i>
                  <span translate="MY_ACCOUNT.MY_INVOICES.TITLE"> My invoices</span>
                </uib-tab-heading>
                <div class="search-box- clearfix">
                  <form id="SearchInvoiceForm" class="form-horizontal">
                    <div class="panel-grey">
                      <div class="row">
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_INVOICES.CREATED_FROM">Created From</label>
                          <div class="input-group" style="display: inline-table; width: 130px; vertical-align: top;">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="invoice_create_from_Date" is-open="invoice_create_from_Date_popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open_invoice_create_from_Date()">
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_INVOICES.CREATED_TO">To</label>
                          <div class="input-group" style="display: inline-table; width: 130px; vertical-align: top;">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="invoice_create_to_Date" is-open="invoice_create_to_Date_popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open_invoice_create_to_Date()">
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                      <div class="row">
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_INVOICES.DUE_FROM">Due date From</label>
                          <div class="input-group" style="display: inline-table; width: 130px; vertical-align: top;">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="invoice_due_from_Date" is-open="invoice_due_from_Date_popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open_invoice_due_from_Date()">
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_INVOICES.DUE_TO">To</label>
                          <div class="input-group" style="display: inline-table; width: 130px; vertical-align: top;">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="invoice_due_to_Date" is-open="invoice_due_to_Date_popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open_invoice_due_to_Date()">
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                      <div class="row">
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" for="price_ti_from" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_INVOICES.AMOUNT_FROM">Amount From</label>
                          <input class="form-control" style="display: inline-block; width: 130px; vertical-align: top;" type="text" id="price_ti_from" name="price_ti_from" value="">
                        </div>
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" for="price_ti_to" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_INVOICES.AMOUNT_TO">To</label>
                          <input class="form-control" style="display: inline-block; width: 130px; vertical-align: top;" type="text" id="price_ti_to" name="price_ti_to" value="">
                        </div>
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-primary btn-search pull-right">
                            <i class="glyphicon glyphicon-search"></i>
                            <span translate="MY_ACCOUNT.MY_INVOICES.SEARCH">Search</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="clear"></div>
                <div class="row">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6">
                    <a class="pull-right" href="http://localhost:32769/en/account/actions.php?action=export_invoices">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span translate="MY_ACCOUNT.MY_INVOICES.DOWNLOAD">Download your invoices</span>
                    </a>
                  </div>
                </div>
                <table id="invoice_table" class="table table-bordered table-striped table-hover" cellspacing="0">
                  <thead>
                  <tr>
                    <th style="text-align: center; background: #fff;" colspan="4" translate="MY_ACCOUNT.MY_INVOICES.TABLE.INVOICE.TITLE">INVOICE</th>
                    <th style="text-align: center; background: #fff;" colspan="2" translate="MY_ACCOUNT.MY_INVOICES.TABLE.PAYMENT.TITLE">PAYMENT</th>
                  </tr>
                  <tr>
                    <th style="text-align: center; background: #fff;">
                      <a title="Sort by Date">
                        <span translate="MY_ACCOUNT.MY_INVOICES.TABLE.INVOICE.DATE">Date</span>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                      </a>
                    </th>
                    <th style="text-align: center; background: #fff;">
                      <a title="Sort by Number" translate="MY_ACCOUNT.MY_INVOICES.TABLE.INVOICE.NUMBER">Number&nbsp;</a>
                      <a title="Sort by Number" translate="MY_ACCOUNT.MY_INVOICES.TABLE.INVOICE.NUMBER">Number&nbsp;</a>
                    </th>
                    <th style="text-align: center; background: #fff;">
                      <a title="Sort by Amount incl." translate="MY_ACCOUNT.MY_INVOICES.TABLE.INVOICE.AMOUNT">Amount incl.&nbsp;</a>
                    </th>
                    <th style="text-align: center; background: #fff;">
                      <a title="Sort by Due date" translate="MY_ACCOUNT.MY_INVOICES.TABLE.INVOICE.DUE_DATE">Due date&nbsp;</a>
                    </th>
                    <th style="text-align: center; background: #fff;">
                      <a title="Sort by Date" translate="MY_ACCOUNT.MY_INVOICES.TABLE.INVOICE.DATE">Date&nbsp;</a>
                    </th>
                    <th style="text-align: center; background: #fff;">
                      <a title="Sort by Method" translate="MY_ACCOUNT.MY_INVOICES.TABLE.PAYMENT.METHOD">Method&nbsp;</a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="text-align: center;">
                      10/05/2015 10:07      </td>
                    <td style="text-align: center;">
                      <a href="http://localhost:32769/invoices/145420_invoice.pdf" target="_blank">145420</a>
                    </td>
                    <td style="text-align: center;">
                      -15.97 €
                    </td>
                    <td style="text-align: center;">
                      10/05/2015
                    </td>
                    <td style="text-align: center;">
                    </td>
                    <td style="text-align: center;">
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center;">
                      10/05/2015 10:03
                    </td>
                    <td style="text-align: center;">
                      <a href="http://localhost:32769/invoices/145418_invoice.pdf" target="_blank">145418</a>
                    </td>
                    <td style="text-align: center;">
                      15.97 €
                    </td>
                    <td style="text-align: center;">
                      10/05/2015
                    </td>
                    <td style="text-align: center;">
                    </td>
                    <td style="text-align: center;">
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="paging-container clearfix">
                  <div class="col-md-6 text-right pagination-container no-padding-left no-padding-right">
                    <ul id="pagination" class="pagination pagination-sm">
                      <li class="disabled">
                        <a>«</a>
                      </li>
                      <li class="active">
                        <a>1</a>
                      </li>
                      <li class="disabled">
                        <a>»</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </uib-tab>
              <uib-tab index="2">
                <uib-tab-heading>
                  <i class="fa fa-list"></i>
                  <span translate="MY_ACCOUNT.MY_PAYMENTS.TITLE">My payments</span>
                </uib-tab-heading>
                <p class="text-muted" style="margin-bottom: 15px;" translate="MY_ACCOUNT.MY_PAYMENTS.HISTORY">Your Upela invoice history</p>
                <div class="search-box- clearfix">
                  <form id="SearchPaymentForm" class="form-horizontal">
                    <div class="panel-grey">
                      <div class="row">
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_PAYMENTS.DATE_FROM">Date From</label>
                          <div class="input-group" style="display: inline-table; width: 130px; vertical-align: top;">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="payment_from_Date" is-open="payment_from_Date_popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open_payment_from_Date()">
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_PAYMENTS.DATE_TO">To</label>
                          <div class="input-group" style="display: inline-table; width: 130px; vertical-align: top;">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="payment_to_Date" is-open="payment_to_Date_popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open_payment_to_Date()">
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                      <div class="row">
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_PAYMENTS.AMOUNT_FROM">Amount From</label>
                          <input class="form-control" style="display: inline-block; width: 130px; vertical-align: top;" type="text" id="amount_from" name="amount_from" value="">
                        </div>
                        <div class="col-md-5" style="margin-bottom: 10px;">
                          <label class="control-label" for="amount_to" style="width: 140px; margin-right: 10px;" translate="MY_ACCOUNT.MY_PAYMENTS.AMOUNT_TO">To</label>
                          <input class="form-control" style="display: inline-block; width: 130px; vertical-align: top;" type="text" id="amount_to" name="amount_to" value="">
                        </div>
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-primary btn-search pull-right" id="btn_search" name="btn_search">
                            <i class="glyphicon glyphicon-search"></i>
                            <span  translate="MY_ACCOUNT.MY_PAYMENTS.SEARCH">Search</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="clear"></div>
                <p class="text-muted" translate="MY_ACCOUNT.MY_PAYMENTS.NO_RESULT">No result found.</p>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
