<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <h1 translate="SETTINGS.TITLE">My Client Space</h1>
      <div class="row">
        <div class="col-md-2">
          <ul id="account-nav" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-account">
                <i class="fa fa-home"></i>
                <span translate="SETTINGS.OVERALL">Overall view</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav2" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/ship-to-contact">
                <i class="fa fa-user"></i>
                <span translate="SETTINGS.SHIP"> Ship to contact</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing">
                <i class="fa fa-users"></i>
                <span translate="SETTINGS.MAILING"> Mass mailing</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing-upload">
                <i class="fa fa-floppy-o"></i>
                <span translate="SETTINGS.SENDING"> Sending by file</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav3" class="nav nav-tabs nav-stacked account-nav">
            <li class="active">
              <a href="#/my-contacts">
                <i class="fa fa-book"></i>
                <span translate="SETTINGS.CONTACTS"> My contacts</span>
              </a>
            </li>
            <li>
              <a href="#/credit-account">
                <i class="fa fa-credit-card"></i>
                <span translate="SETTINGS.CREDIT"> Credit account</span>
              </a>
            </li>
            <li>
              <a href="#/my-store">
                <i class="fa fa-shopping-cart"></i>
                <span translate="SETTINGS.STORE"> My stores</span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <i class="fa fa-cogs"></i>
                <span translate="SETTINGS.SETTINGS"> Settings</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav4" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <h3 translate="SETTINGS.PROGRAMS">Our programs</h3>
            </li>
            <li>
              <a href="#/refer-contacts">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.REFERRAL"> Referral</span>
              </a>
            </li>
            <li>
              <a href="#/loyalty">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.LOYALTY"> Loyalty</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-10">
          <div class="panel-white cancel-padding-left-15 panel-white-bordered-">
            <h2 style="margin-bottom: 10px;">
              <i class="fa fa-book"></i>
              <span translate="MY_CONTACT.TITLE">My contacts</span>
            </h2>
            <p class="text-muted" style="margin-bottom: 20px;" translate="MY_CONTACT.COMMENT">Manage your address book</p>

            <uib-tabset active="activeForm">
              <uib-tab index="0">
                <uib-tab-heading>
                  <a href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    <span translate="MY_CONTACT.ALL_CONTACT.TITLE"> All the contacts</span>
                  </a>
                </uib-tab-heading>
                <div style="margin: 30px auto 0 auto;">
                  <div class="search-box clearfix">
                    <form id="searchform" class="form-inline-">
                      <div class="form-group col-lg-9 no-padding-left">
                        <label for="q" class="control-label col-lg-12 hidden">&nbsp;</label>

                        <div class="col-lg-12">
                          <div class="input-group col-lg-12">
                            <input type="text" id="q" name="q" class="form-control" value="" placeholder="Search by company, name, client code" translate translate-attr-placeholder="MY_CONTACT.ALL_CONTACT.SEARCH">
                        <span class="input-group-btn">
                          <button class="btn btn-default btn-search" type="submit" title="Search">
                            <i class="glyphicon glyphicon-search"></i>
                          </button>
                        </span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-lg-2 float-right text-right no-padding-right hidden">
                        <label class="control-label">&nbsp;</label>
                        <button class="btn btn-primary btn-search" type="submit" title="Search">
                          <i class="glyphicon glyphicon-search"></i>
                          <span translate="MY_CONTACT.ALL_CONTACT.TITLE"> Search</span>
                        </button>
                      </div>
                    </form>
                  </div>

                  <form id="table_form" name="table_form">
                    <div class="paging-container clearfix">
                      <input type="hidden" id="table_action" name="table_action" value="">
                      <div class="col-sm-6 text-left bulk-actions no-padding-left no-padding-right form-inline">
                        <div class="btn-group bulk-actions">
                          <a class="btn btn-default btn-xs" href="#">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span translate="MY_CONTACT.ALL_CONTACT.DELETE">Delete selected</span>
                          </a>&nbsp;
                        </div>
                      </div>

                      <div class="col-md-6 text-right pagination-container no-padding-left no-padding-right">
                        <ul id="pagination" class="pagination pagination-sm">
                          <li class="disabled">
                            <a href="#">«</a>
                          </li>
                          <li class="active">
                            <a href="#">1</a>
                          </li>
                          <li class="disabled">
                            <a href="#">»</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="table-responsive">
                      <table class="grid table table-condensed table-bordered table-hover" cellspacing="0">
                        <thead>
                        <tr>
                          <th width="13px" class="first" style="text-align: center;">
                            <input id="select_all" name="select_all" type="checkbox" class="check_box" value="1">
                          </th>
                          <th align="left" style="text-align: left;" width="70px" class="">
                            <a title="Sort by Client Code" translate="MY_CONTACT.ALL_CONTACT.CLIENT">Client Code&nbsp;</a>
                          </th>
                          <th align="left" style="text-align: left;" width="120px" class="">
                            <a title="Sort by Name">
                              <span translate="MY_CONTACT.ALL_CONTACT.NAME">Name&nbsp;</span>
                              <span class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                          </th>
                          <th align="left" style="text-align: left;" width="120px" class="">
                            <a title="Sort by Company" translate="MY_CONTACT.ALL_CONTACT.COMPANY">Company&nbsp;</a>
                          </th>
                          <th align="left" style="text-align: left;" width="80px" class="">
                            <a title="Sort by City" translate="MY_CONTACT.ALL_CONTACT.CITY">City&nbsp;</a>
                          </th>
                          <th align="left" style="text-align: left;" width="80px" class="">
                            <a title="Sort by Country" translate="MY_CONTACT.ALL_CONTACT.COUNTRY">Country&nbsp;</a>
                          </th>
                          <th width="100px">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="" style="text-align: center;">
                            <input type="checkbox" class="check_box" value="439616">
                          </td>
                          <td style="text-align: left;" class=""></td>
                          <td style="text-align: left;" class="">
                            <font><font>China / Hong Kong</font></font>
                          </td>
                          <td style="text-align: left;" class="">
                            <font><font>China / Hong Kong</font></font>
                          </td>
                          <td style="text-align: left;" class="">kowloon city</td>
                          <td style="text-align: left;" class="">
                            <font><font>Hong Kong</font></font>
                          </td>
                          <td class="table-action">
                            <a title="Edit">
                              <span class="glyphicon glyphicon-pencil"></span>Edit
                            </a>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Actions&nbsp;
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-forward"></span>Send
                                  </a>
                                </li>
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-reply"></span>Arrange a return
                                  </a>
                                </li>
                                <li>
                                  <a href="#" title="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>Delete
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="" style="text-align: center;">
                            <input type="checkbox" class="check_box" value="439617">
                          </td>
                          <td style="text-align: left;" class=""></td>
                          <td style="text-align: left;" class="">
                            <font><font>DomTom Reunion / Martinique / Guade</font></font>
                          </td>
                          <td style="text-align: left;" class="">
                            <font><font>DomTom Reunion / Martinique / Guadeloupe</font></font>
                          </td>
                          <td style="text-align: left;" class="">
                            <font><font>Saint Louis</font></font>
                          </td>
                          <td style="text-align: left;" class="">Reunion</td>
                          <td class="table-action">
                            <a title="Edit">
                              <span class="glyphicon glyphicon-pencil"></span>
                              <font><font>Edit</font></font>
                            </a>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <font><font>Actions&nbsp;</font></font>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-forward"></span>
                                    <font><font>Send</font></font>
                                  </a>
                                </li>
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-reply"></span>
                                    <font><font>Arrange a return</font></font>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" title="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <font><font>Delete</font></font>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="" style="text-align: center;">
                            <input type="checkbox" class="check_box" value="439620">
                          </td>
                          <td style="text-align: left;" class=""></td>
                          <td style="text-align: left;" class="">Dubai</td>
                          <td style="text-align: left;" class="">
                            <font><font>Dubai</font></font>
                          </td>
                          <td style="text-align: left;" class="">
                            <font><font>Dubai</font></font>
                          </td>
                          <td style="text-align: left;" class="">United Arab Emirates</td>
                          <td class="table-action">
                            <atitle="Edit">
                              <span class="glyphicon glyphicon-pencil"></span>
                              <font><font>Edit</font></font>
                            </a>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <font><font>Actions&nbsp;</font></font>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-forward"></span>
                                    <font><font>Send</font></font>
                                  </a>
                                </li>
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-reply"></span>
                                    <font><font>Arrange a return</font></font>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" title="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <font><font>Delete</font></font>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="" style="text-align: center;">
                            <input type="checkbox" class="check_box" value="439613">
                          </td>
                          <td style="text-align: left;" class=""></td>
                          <td style="text-align: left;" class="">Europe Berlin</td>
                          <td style="text-align: left;" class="">
                            <font><font>Europe Berlin</font></font>
                          </td>
                          <td style="text-align: left;" class="">Berlin</td>
                          <td style="text-align: left;" class="">Germany</td>
                          <td class="table-action">
                            <a title="Edit">
                              <span class="glyphicon glyphicon-pencil"></span>
                              <font><font>Edit</font></font>
                            </a>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <font><font>Actions&nbsp;</font></font>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-forward"></span>
                                    <font><font>Send</font></font>
                                  </a>
                                </li>
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-reply"></span>
                                    <font><font>Arrange a return</font></font>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" title="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <font><font>Delete</font></font>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="" style="text-align: center;">
                            <input type="checkbox" class="check_box" value="422671">
                          </td>
                          <td style="text-align: left;" class=""></td>
                          <td style="text-align: left;" class="">USA Miami</td>
                          <td style="text-align: left;" class="">
                            <font><font>USA Miami</font></font>
                          </td>
                          <td style="text-align: left;" class="">Miami</td>
                          <td style="text-align: left;" class="">United States</td>
                          <td class="table-action">
                            <a title="Edit">
                              <span class="glyphicon glyphicon-pencil"></span>
                              <font><font>Edit</font></font>
                            </a>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <font><font>Actions&nbsp;</font></font>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-forward"></span>
                                    <font><font>Send</font></font>
                                  </a>
                                </li>
                                <li>
                                  <a title="">
                                    <span class="fa fa-mail-reply"></span>
                                    <font><font>Arrange a return</font></font>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" title="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <font><font>Delete</font></font>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </form>

                  <div class="paging-container clearfix">
                    <div class="col-sm-6 text-left nb-results no-padding-left no-padding-right form-inline">
                      <span translate="MY_CONTACT.ALL_CONTACT.PAGE">Results per page&nbsp;</span>
                      <select id="items_per_page" class="select_items_per_page form-control input-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50" selected="">50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                        <option value="1000">1000</option>
                      </select>&nbsp;&nbsp;
                      <span class="separator">|</span>
                      <span translate="MY_CONTACT.ALL_CONTACT.RESULT">&nbsp;&nbsp;Results</span> 1 - 5 of 5
                    </div>

                    <div class="col-md-6 text-right pagination-container no-padding-left no-padding-right">
                      <ul id="pagination" class="pagination pagination-sm">
                        <li class="disabled">
                          <a href="#">
                            <font><font>«</font></font>
                          </a>
                        </li>
                        <li class="active">
                          <a href="#">
                            <font><font>1</font></font>
                          </a>
                        </li>
                        <li class="disabled">
                          <a href="#">
                            <font><font>»</font></font>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </uib-tab>
              <uib-tab index="1">
                <uib-tab-heading>
                  <a href="#">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    <span translate="MY_CONTACT.ALL_CONTACT.TITLE"> Add a contact</span>
                  </a>
                </uib-tab-heading>
                <div class="row" style="margin: 30px auto 0 auto;">
                  <div class="col-lg-6 col-lg-offset-0">
                    <form id="ContactForm" class="form-horizontal" role="form">
                      <input type="hidden" id="id" name="id" value="">
                      <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                          <div class="checkbox">
                            <label for="pro" class="">
                              <input type="checkbox" id="pro" name="pro" class="check_box" value="1" unchecked="">
                              <span translate="MY_CONTACT.ADD_CONTACT.BUSINESS">Business address</span>
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="company" class="control-label col-lg-3" translate="MY_CONTACT.ALL_CONTACT.COMPANY">Company</label>
                        <div class="col-lg-7">
                          <input type="text" id="company" name="company" class="form-control" value="" maxlength="35">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="lastname" class="control-label col-lg-3 required" translate="MY_CONTACT.ALL_CONTACT.NAME">Name</label>
                        <div class="col-lg-7">
                          <input type="text" id="lastname" name="lastname" class="form-control" value="" maxlength="35">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="phone" class="control-label col-lg-3 required" translate="MY_CONTACT.ADD_CONTACT.PHONE">Phone</label>
                        <div class="col-lg-7">
                          <div class="intl-tel-input allow-dropdown">
                            <div class="flag-container">
                              <div class="selected-flag" tabindex="0" title="France: +33">
                                <div class="iti-flag fr"></div>
                                <div class="iti-arrow"></div>
                              </div>
                            </div>

                            <input type="text" id="phone" name="phone" class="form-control" value="" maxlength="25" autocomplete="off" placeholder="06 12 34 56 78">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="email" class="control-label col-lg-3 required" translate="MY_CONTACT.ADD_CONTACT.EMAIL">Email</label>
                        <div class="col-lg-7">
                          <input type="text" id="email" name="email" class="form-control" value="" maxlength="50">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="address1" class="control-label col-lg-3 required" translate="MY_CONTACT.ADD_CONTACT.ADDRESS">Address</label>
                        <div class="col-lg-9">
                          <input type="text" id="address1" name="address1" class="form-control validate" data-validate="isAddress" value="" placeholder="No., street" maxlength="35">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="address2" class="control-label col-lg-3">&nbsp;</label>
                        <div class="col-lg-9">
                          <input type="text" id="address2" name="address2" class="form-control" value="" placeholder="Line 2" maxlength="35">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="address3" class="control-label col-lg-3">&nbsp;</label>
                        <div class="col-lg-9">
                          <input type="text" id="address3" name="address3" class="form-control" value="" placeholder="Line 3" maxlength="35">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-lg-3 required" translate="MY_CONTACT.ADD_CONTACT.COUNTRY">Country</label>
                        <div class="col-lg-7">
                          <ui-select ng-model="$ctrl.destinationCoutry" theme="select2" ng-disabled="ctrl.disabled" style="width: 160px;" title="Select the Country">
                            <ui-select-match placeholder="Select Country">{{$select.selected.name || $select.selected}}</ui-select-match>
                            <ui-select-choices repeat="country.name as country in $ctrl.countries | searchSelectorFilter: {name: $select.search}">
                              <div ng-bind-html="person.name | highlight: $select.search"></div>
                              <small>
                                {{country.name}}
                              </small>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                      </div>

                      <div class="form-group" id="postcode_container" style="display: none;">
                        <label for="postcode" class="control-label col-lg-3 required" translate="MY_CONTACT.ADD_CONTACT.COUNTRY">Postal code</label>
                        <div class="col-lg-7">
                          <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                          <input type="text" id="postcode" name="postcode" class="form-control validate ui-autocomplete-input" data-validate="isPostCode" value="" maxlength="20" autocomplete="off">
                        </div>
                      </div>

                      <div class="form-group" id="city_container">
                        <label for="city" class="control-label col-lg-3 required" translate="MY_CONTACT.ADD_CONTACT.CITY">City</label>
                        <div class="col-lg-7">
                          <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                          <input type="text" id="city" name="city" class="form-control validate ui-autocomplete-input" data-validate="isCityName" value="" maxlength="255" autocomplete="off">
                        </div>
                      </div>

                      <div class="form-group hidden" id="state_container" style="display: none;">
                        <label for="state" class="control-label col-lg-3">State code</label>
                        <div class="col-lg-3">
                          <input type="text" id="state" name="state" class="form-control" value="" maxlength="64">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="customer_code" class="control-label col-lg-3" translate="MY_CONTACT.ADD_CONTACT.CLIENT_CODE">Client Code</label>
                        <div class="col-lg-7">
                          <input type="text" id="customer_code" name="customer_code" class="form-control" value="" maxlength="35">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="notes" class="control-label col-lg-3" translate="MY_CONTACT.ADD_CONTACT.NOTES">Notes</label>
                        <div class="col-lg-7">
                          <textarea id="notes" name="notes" class="form-control" rows="3" maxlength="35"></textarea>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                          <button type="submit" class="btn btn-primary" id="btn_save" name="btn_save" translate="MY_CONTACT.ADD_CONTACT.SAVE">Save</button>
                          <a href="/en/my-contacts" translate="MY_CONTACT.ADD_CONTACT.CANCEL">Cancel</a>
                        </div>
                      </div>
                    </form>
                    <div class="clear"></div>
                  </div>
                </div>
              </uib-tab>
              <uib-tab index="2">
                <uib-tab-heading>
                  <a href="#">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span translate="MY_CONTACT.IMPORT_LIST.TITLE"> Import a list</span>
                  </a>
                </uib-tab-heading>
                <div class="row" style="margin: 0px auto 0 auto;">
                  <div class="col-lg-10 col-lg-offset-0">
                    <form id="UploadContactsForm" class="form-horizontal">
                      <input type="hidden" id="import_contacts" name="import_contacts" value="1">
                      <div class="form-group">
                        <label for="uploadfile" class="control-label col-lg-4 required" translate="MY_CONTACT.IMPORT_LIST.TITLE">Import spreadsheet (xls, xlsx, csv, txt)</label>
                        <div class="col-lg-7">
                          <input type="file" id="uploadfile" name="uploadfile" medium="" style="padding-left: 0; border: 0; background: none;" value="">
                        </div>
                      </div>
                      <br>
                      <p>
                        <span translate="MY_CONTACT.IMPORT_LIST.COMMENT1">Les pays doivent être renseignés au format</span>
                        <a href="/files/upload/iso/Upela_codes_iso.pdf" target="_blank">ISO 3166-1</a>
                      </p>
                      <p>
                        <span translate="MY_CONTACT.IMPORT_LIST.COMMENT2">Les numéros de téléphone doivent être au format international,</span>
                        <span translate="MY_CONTACT.IMPORT_LIST.COMMENT3"><br>ex: +336XXXXXXXX pour un portable Français</span>
                      </p>
                      <p>
                        <a href="/files/templates/contacts/listecontacts.xls" download_="listecontacts.xls">Cliquez ici</a>
                         pour télécharger un exemple de tableau de contacts au format excel
                      </p>
                      <p>
                        <a href="/files/templates/contacts/listecontacts.csv" download_="listecontacts.csv">Cliquez ici</a>
                        pour télécharger un exemple de tableau de contacts au format csv ou txt
                      </p>

                      <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                          <button type="submit" class="btn btn-primary" id="btn_save" name="btn_save" translate="MY_CONTACT.IMPORT_LIST.IMPORT">Import</button>
                          &nbsp;&nbsp;<a href="/en/my-contacts" translate="MY_CONTACT.IMPORT_LIST.CANCEL">Cancel</a>
                        </div>
                      </div>
                    </form>
                    <div class="clear"></div>
                  </div>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
