<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <h1 translate="SETTINGS.TITLE">My Client Space</h1>
      <div class="row">
        <div class="col-md-2">
          <ul id="account-nav" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-account">
                <i class="fa fa-home"></i>
                <span translate="SETTINGS.OVERALL">Overall view</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav2" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/ship-to-contact">
                <i class="fa fa-user"></i>
                <span translate="SETTINGS.SHIP"> Ship to contact</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing">
                <i class="fa fa-users"></i>
                <span translate="SETTINGS.MAILING"> Mass mailing</span>
              </a>
            </li>
            <li>
              <a href="#/mass-mailing-upload">
                <i class="fa fa-floppy-o"></i>
                <span translate="SETTINGS.SENDING"> Sending by file</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav3" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-contacts">
                <i class="fa fa-book"></i>
                <span translate="SETTINGS.CONTACTS"> My contacts</span>
              </a>
            </li>
            <li>
              <a href="#/credit-account">
                <i class="fa fa-credit-card"></i>
                <span translate="SETTINGS.CREDIT"> Credit account</span>
              </a>
            </li>
            <li class="active">
              <a href="#/my-store">
                <i class="fa fa-shopping-cart"></i>
                <span translate="SETTINGS.STORE"> My stores</span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <i class="fa fa-cogs"></i>
                <span translate="SETTINGS.SETTINGS"> Settings</span>
              </a>
            </li>
          </ul>

          <ul id="account-nav4" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <h3 translate="SETTINGS.PROGRAMS">Our programs</h3>
            </li>
            <li>
              <a href="#/refer-contacts">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.REFERRAL"> Referral</span>
              </a>
            </li>
            <li>
              <a href="#/loyalty">
                <i class="fa fa-gift"></i>
                <span translate="SETTINGS.LOYALTY"> Loyalty</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-10">
          <div class="panel-white cancel-padding-left-15 panel-white-bordered-">
            <h2>
              <i class="fa fa-shopping-cart"></i>
              <span translate="MY_STORE.TITLE">My stores</span>
            </h2>

            <div class="cms_content">
              <p>
                <span translate="MY_STORE.COMMENT1">You are an online merchant and are looking for the best way to centralize the shipments from all of your eShops?</span>
                <span translate="MY_STORE.COMMENT2">With the option "My stores", it is now possible!</span>
              </p>
              <p>
                <span translate="MY_STORE.COMMENT3">Our <strong>Ecommerce connectors</strong> give you the ultimate solution for grouping together all the orders from any platform such as </span>
                <a href="http://localhost:32770/en/module-transport-amazon-137.html">Amazon</a>, <a href="http://localhost:32770/en/module-transport-ebay-135.html">Ebay</a>, <a href="http://localhost:32770/en/module-transport-cdiscount-146.html">Cdiscount</a>, <a href="http://localhost:32770/en/module-transport-priceminister-152.html">Priceminister</a>
                <span translate="MY_STORE.COMMENT5">, etc.</span>
                <span translate="MY_STORE.COMMENT4">You can then <strong>manage your online sales</strong> directly on your Upela Business Account.</span>
              </p>
              <br>
              <h2 translate="MY_STORE.ALL_SHOPS.TITLE">Discover our connectors along with their Setup Guides and centralize your shipments from all your shops</h2>
              <br><br>
              <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-prestashop-118.html">
                    <img src="images/files/upload/api/prestashop.png" alt="prestashop" style="display: inline-block; max-height: 60px; margin: 2px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-prestashop-118.html" translate="MY_STORE.ALL_SHOPS.PRESTASHOP">Prestashop shipping module</a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-magento-134.html">
                    <img src="images/files/upload/api/magento.png" alt="magento" style="display: inline-block; max-height: 60px; margin: 2px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-magento-134.html" translate="MY_STORE.ALL_SHOPS.MAGENTO">Magento shipping module</a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-woocommerce-138.html">
                    <img src="images/files/upload/api/woocommerce.png" alt="woocommerce" style="display: inline-block; max-height: 60px; margin: 2px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-woocommerce-138.html" translate="MY_STORE.ALL_SHOPS.WOOCOMMERCE">WooCommerce shipping module</a>
                </div>
              </div>
              <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-amazon-137.html">
                    <img src="images/files/upload/api/amazon.png" alt="Amazon" style="display: inline-block; max-height: 50px; margin: 7px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-amazon-137.html" translate="MY_STORE.ALL_SHOPS.AMAZON">Amazon shipping module
                  </a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-ebay-135.html">
                    <img src="images/files/upload/api/ebay.png" alt="eBay" style="display: inline-block; max-height: 50px; margin: 7px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-ebay-135.html" translate="MY_STORE.ALL_SHOPS.EBAY">eBay shipping module
                  </a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-cdiscount-146.html">
                    <img src="images/files/upload/api/cdiscount.png" alt="Cdiscount" style="display: inline-block; max-height: 50px; margin: 7px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-cdiscount-146.html" translate="MY_STORE.ALL_SHOPS.CDISCOUNT">Cdiscount shipping module
                  </a>
                </div>
              </div>
              <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-priceminister-152.html">
                    <img src="images/files/upload/api/priceminister.png" alt="PriceMinister" style="display: inline-block; max-height: 50px; margin: 7px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-priceminister-152.html" translate="MY_STORE.ALL_SHOPS.PRICEMINISTER">Priceminister shipping module
                  </a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-shopify-153.html">
                    <img src="images/files/upload/api/shopify.png" alt="Shopify" style="display: inline-block; max-height: 50px; margin: 7px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-shopify-153.html" translate="MY_STORE.ALL_SHOPS.SHOPIFY">Shopify shipping module
                  </a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-oscommerce-139.html">
                    <img src="images/files/upload/api/oscommerce.png" alt="php" style="display: inline-block; max-height: 60px; margin: 2px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-oscommerce-139.html" translate="MY_STORE.ALL_SHOPS.OSCOMMERCE">osCommerce shipping module
                  </a>
                </div>
              </div>
              <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/script-transport-delivery-119.html">
                    <img src="images/files/upload/api/php.png" alt="php" style="display: inline-block; max-height: 60px; margin: 2px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/script-transport-delivery-119.html" translate="MY_STORE.ALL_SHOPS.PHP">PHP shipping module
                  </a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/transport-delivery-dotnet-script-156.html">
                    <img src="images/files/upload/api/dotnet.png" alt="php" style="display: inline-block; max-height: 60px; margin: 2px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/transport-delivery-dotnet-script-156.html" translate="MY_STORE.ALL_SHOPS.DOT_NET">.NET shipping module
                  </a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/transport-delivery-python-script-155.html">
                    <img src="images/files/upload/api/python.png" alt="php" style="display: inline-block; max-height: 60px; margin: 2px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/transport-delivery-python-script-155.html" translate="MY_STORE.ALL_SHOPS.PYTHON">Python shipping module
                  </a>
                </div>
              </div>
              <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/rentashop-ecommerce-solution-154.html">
                    <img src="images/files/upload/api/rentashop.jpg" alt="Rentashop" style="display: inline-block; max-height: 50px; margin: 7px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/rentashop-ecommerce-solution-154.html" translate="MY_STORE.ALL_SHOPS.RENTASHOP">Rentashop shipping module
                  </a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/excel-file-import-shipping-tool-171.html">
                    <img src="images/files/upload/api/Microsoft_Excel_2013_logo.svg.png" alt="csv" style="display: inline-block; max-height: 50px; margin: 7px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/excel-file-import-shipping-tool-171.html" translate="MY_STORE.ALL_SHOPS.EXCEL">Shipping with excel file solution
                  </a>
                </div>
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/csv-file-import-shipping-tool-172.html">
                    <img src="images/files/upload/api/csv_txt.png" alt="csv txt" style="display: inline-block; max-height: 60px; margin: 2px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/csv-file-import-shipping-tool-172.html" translate="MY_STORE.ALL_SHOPS.CSV">Shipping with txt or csv file solution
                  </a>
                </div>
              </div>
              <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4 text-center">
                  <a class="btn btn-default" style="width: 130px; padding: 0 12px; margin-bottom: 5px;" href="http://localhost:32770/en/module-transport-mirakl-180.html">
                    <img src="images/files/upload/api/mirakl.png" alt="Mirakl" style="display: inline-block; max-height: 60px; margin: 2px auto;">
                  </a>
                  <br>
                  <a href="http://localhost:32770/en/module-transport-mirakl-180.html" translate="MY_STORE.ALL_SHOPS.MIRAKL">Mirakl shipping module
                  </a>
                </div>
              </div>
            </div>
            <br>
            <div class="cms_content">
              <h2 translate="MY_STORE.WHY_INSTALL.TITLE">Why install our shipping module?</h2>
              <span translate="MY_STORE.WHY_INSTALL.COMMENT1">With our API, you can offer our express shipping services to your customers directly through your e-commerce site.</span>
              <span translate="MY_STORE.WHY_INSTALL.COMMENT2">Our transport offers are integrated into your site and your customers can select the offer that best suits their need.</span>
              <span translate="MY_STORE.WHY_INSTALL.COMMENT3">This module entitles you to unbeatable rates for the services provided by </span>
              <a href="http://localhost:32770/en/partners-carriers-31.html">DHL, UPS and FedEx</a>.
              <span translate="MY_STORE.WHY_INSTALL.COMMENT4">Take advantage of reductions of up to -70% on your express national and international shipments.</span>
              <span translate="MY_STORE.WHY_INSTALL.COMMENT5">Using our API, you get the benefit of all the Upela services and a specific professional customer service to accompany you in the management of your shipments.</span>
            </div>
            <br><br>
            <div class="cms_content">
              <h1>
                <i class="fa fa-question-circle"></i>
                <span translate="MY_STORE.QUESTIONS.TITLE">Frequently Asked Questions about e-commerce connectors</span>
              </h1>

              <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a translate="MY_STORE.QUESTIONS.ONE.TITLE">How do I ship my products via my UPELA account?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.ONE.COMMENT1"><strong>Shipping orders are placed manually.</strong></span>
                    <span translate="MY_STORE.QUESTIONS.ONE.COMMENT2">This is in your control.</span><br><br>
                    <span translate="MY_STORE.QUESTIONS.ONE.COMMENT3">Once you are logged in to your UPELA account, click the « My stores » tab, then the « My orders » tab and, finally, download all the orders placed via your eShop to UPELA.</span><br><br>
                    <span translate="MY_STORE.QUESTIONS.ONE.COMMENT4">If you wish to view the orders details prior to sending them, click « View » and check the data (date of the command, items detail, shipping address, shipping method and weight of the parcel(s)).</span><br><br>
                    <span translate="MY_STORE.QUESTIONS.ONE.COMMENT5"><strong>Ship your orders by clicking the « Ship » button. Following this, the shipping labels will be automatically generated.</strong></span><br><br>
                    <span translate="MY_STORE.QUESTIONS.ONE.COMMENT6">We remind you that the labels must be printed out and attached to the parcel(s).</span>
                  </p>
                </div>

                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a class="accordion-toggle collapsed" translate="MY_STORE.QUESTIONS.TWO.TITLE">What is automated on my UPELA account?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.TWO.COMMENT1">When adding your eShop to UPELA, <strong>the information about your online shop are automatically downloaded.</strong> By default the address of your store is set as your shipping address.</span><br><br>
                    <span translate="MY_STORE.QUESTIONS.TWO.COMMENT2">Once added, click the « My orders » tab and download the orders from your online store / marketplace to UPELA.</span>
                    <span translate="MY_STORE.QUESTIONS.TWO.COMMENT3"><strong>The import of all your orders into your customer area is automatic.</strong></span>
                    <span translate="MY_STORE.QUESTIONS.TWO.COMMENT4">Our transport solution for e-merchants allows you to centralize all your orders in a single place: your UPELA customer area.<br><br></span><br><br>
                    <span translate="MY_STORE.QUESTIONS.TWO.COMMENT5"><strong>The update of the purchase orders in UPELA and in your online shop/marketplace</strong> (status updates: awaiting payment - payment accepted - in the course of delivery – delivered; delivery information and other details) <strong>is also automatic.</strong></span><br><br>
                    <span translate="MY_STORE.QUESTIONS.TWO.COMMENT6">Once shipped, <strong>the end customer will receive an automatic email</strong> notifying him about the <strong>ongoing shipment</strong> and the <strong>tracking number</strong> of his parcel.</span>
                  </p>
                </div>

                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a class="accordion-toggle collapsed" translate="MY_STORE.QUESTIONS.THREE.TITLE">How can I modify the shipping address?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.THREE.COMMENT1">The shipping address is automatically pre-filled in your UPELA customer area.</span>
                    <span translate="MY_STORE.QUESTIONS.THREE.COMMENT2">Please note that the address of your store will be used by default as the shipping address of all your orders placed via this eShop.</span><br><br>
                    <span translate="MY_STORE.QUESTIONS.THREE.COMMENT3">You can modify the shipping address for each shipping order before the shipping labels are generated by selecting another address in your address book.</span>
                  </p>
                </div>

                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a translate="MY_STORE.QUESTIONS.FOUR.TITLE">How can I modify the delivery address?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.FOUR.COMMENT">You can complete or edit the delivery address by clicking the « Edit » button only before the shipping label is generated.</span>
                  </p>
                </div>

                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a class="accordion-toggle collapsed" translate="MY_STORE.QUESTIONS.FIVE.TITLE">How to configure the transport prices of my eShop?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT1">Setting the prices can differ depending on the platform.</span><br><br>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT2">For <strong>platforms</strong> such as Prestashop, Magento, Woocommerce and Oscommerce, you must in the first instance create a new courier in your eShop.</span>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT3">You select all the information that you would like to see displayed on your eShop:</span><br>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT4">- Express delivery (1 – 2 business day(s))</span><br>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT5">- Standard delivery (3 – 4 business days)</span><br><br>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT6">You then choose the <strong>billing method</strong> for your customers:</span><br>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT7">- You fix the <strong>price range according to the customer’s shopping cart.</strong></span>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT8">For instance, you can offer the shipping costs for any order above €100.</span><br>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT9">- Or you can select a <strong>price range depending on the weight.</strong></span><br><br>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT10">We can provide you with a <strong>fee schedule</strong> based on the weight and destination of your shipment to make your task even easier.</span><br><br>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT11"><strong>For marketplaces</strong> (Amazon, eBay, Cdiscount), setting the transport prices is different: <strong>the price is determined by the item and delivery method.</strong></span>
                    <span translate="MY_STORE.QUESTIONS.FIVE.COMMENT12">So you select the price of an item depending on the delivery method proposed by the marketplace, that is depending on the <strong>speed of delivery</strong>: standard delivery (2 business days) or express delivery (1 business day).</span>
                  </p>
                </div>

                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a class="accordion-toggle collapsed" translate="MY_STORE.QUESTIONS.SIX.TITLE">Is the end customer notified of the sending?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.SIX.COMMENT">Yes, <strong>the end customer will receive an email notification from UPELA</strong> and from the marketplace/eShop in order to confirm to him that his parcel has been shipped.</span>
                  </p>
                </div>

                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a class="accordion-toggle collapsed" translate="MY_STORE.QUESTIONS.SEVEN.TITLE">Can the end customer select the Pick-up &amp; Go location of delivery?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.SEVEN.COMMENT1">Unfortunately, our connector does not give the end customer the possibility to choose the Pick-up &amp; Go location of delivery.</span>
                    <span translate="MY_STORE.QUESTIONS.SEVEN.COMMENT2">This location can be modified only via your UPELA account once the end customer finalized his order on the marketplace/eShop.</span>
                    <span translate="MY_STORE.QUESTIONS.SEVEN.COMMENT3">Nevertheless, <strong>the end customer will receive a confirmation email afterwards containing the Pick-up &amp; Go location address.</strong></span>
                  </p>
                </div>

                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a class="accordion-toggle collapsed" translate="MY_STORE.QUESTIONS.EIGHT.TITLE">Does the end customer receive the tracking number?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.EIGHT.COMMENT1">Yes, <strong>the tracking number is emailed to the end customer</strong> once you click on the « Ship » button.</span>
                    <span translate="MY_STORE.QUESTIONS.EIGHT.COMMENT2">This will allow him to track his parcel on the carrier’s website.</span>
                  </p>
                </div>

                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a class="accordion-toggle collapsed" translate="MY_STORE.QUESTIONS.NINE.TITLE">How many carriers can be proposed on my eShop?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.NINE.COMMENT1">Once our ecommerce module is installed on your eShop, <strong>you can select several carriers</strong> and choose those who will be displayed on your eShop.</span>
                    <span translate="MY_STORE.QUESTIONS.NINE.COMMENT2">You can also modify them at any time.</span>
                    <span translate="MY_STORE.QUESTIONS.NINE.COMMENT3">This option is not available for marketplaces.</span>
                  </p>
                </div>

                <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    <a class="accordion-toggle collapsed" translate="MY_STORE.QUESTIONS.TEN.TITLE">How many carriers can be proposed on my eShop?</a>
                  </uib-accordion-heading>
                  <p>
                    <span translate="MY_STORE.QUESTIONS.TEN.COMMENT1">You have the control over the cancellation of any order.</span>
                    <span translate="MY_STORE.QUESTIONS.TEN.COMMENT2">Log into your UPELA account and click on the « cancel » link corresponding to the order you wish to cancel.</span>
                    <span translate="MY_STORE.QUESTIONS.TEN.COMMENT3">You can also contact our Customer Service directly by phone at +33(0)1 78 76 79 79.</span>
                  </p>
                </div>
              </uib-accordion>
            </div>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
