<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <div class="row">
        <div class="col-md-9">
          <div class="panel-white panel-white-bordered-">
            <div class="order-wizard">
              <a ng-click="ctrl.remakeShipment()">
                <span translate="ORDER.STEP_TITLE.SHIPMENT"></span>
                <i class="fa fa-pencil"></i>
              </a>
              <a ng-click="ctrl.remakeOffer()">
                <span translate="ORDER.STEP_TITLE.OFFERS"></span>
                <i class="fa fa-pencil"></i>
              </a>
              <a ng-click="ctrl.remakeOrder()">
                <span translate="ORDER.STEP_TITLE.ORDER">3. Your order </span>
                <i class="fa fa-pencil"></i>
              </a>
              <a class="active" translate="ORDER.STEP_TITLE.PAYMENT">4. Payment</a>
              <a class="disabled" translate="ORDER.STEP_TITLE.CONFIRMATION">5. Confirmation</a>
            </div>

            <h1 class="blue text-center" translate="ORDER_PAYMENT.TITLE"> 4 : Confirmation and payment</h1>

            <div>
              <a class="orange pull-right" ng-click="ctrl.remakeOrder()">
                <i class="fa fa-pencil" style="margin-right: 5px;" translate="ORDER_PAYMENT.EDIT">Edit</i>
              </a>
            </div>

            <table class="table table-bordered addresses-summary">
              <tbody>
                <tr>
                  <td width="42%">
                    <ul class="list-unstyled address">
                      <li>
                        <h3 translate="ORDER_PAYMENT.SENDER">Sender</h3>
                      </li>
                      <li>{{ctrl.shipping_info.ship_from.name}}</li>
                      <li>{{ctrl.shipping_info.ship_from.company}}</li>
                      <li>{{ctrl.shipping_info.ship_from.address1}}</li>
                      <li>{{ctrl.shipping_info.ship_from.address2}}</li>
                      <li>{{ctrl.shipping_info.ship_from.address3}}</li>
                      <li>{{ctrl.shipping_info.ship_from.postcode}} {{ctrl.shipping_info.ship_from.city}} ({{ctrl.shipping_info.ship_from.conntry_name}})</li>
                      <li>{{ctrl.shipping_info.ship_from.email}}</li>
                      <li>{{ctrl.shipping_info.ship_from.phone}}</li>
                      <li>
                        <span translate="ORDER_PAYMENT.BUSINESS"></span>
                        <div ng-if="ctrl.shipping_info.ship_from.pro">
                          <i class="glyphicon glyphicon-ok"></i>
                          <span translate="ORDER_PAYMENT.OK"></span>
                        </div>
                        <div ng-if="!ctrl.shipping_info.ship_from.pro">
                          <i class="glyphicon glyphicon-remove"></i>
                          <span translate="ORDER_PAYMENT.NO"></span>
                        </div>
                      </li>
                    </ul>
                  </td>
                  <td class="adresses-summary-arrow-cell" width="6%">
                    <i class="fa fa-arrow-circle-right"></i>
                  </td>
                  <td width="42%">
                    <ul class="list-unstyled address">
                      <li>
                        <h3 translate="ORDER_PAYMENT.RECIPIENT">Recipient</h3>
                      </li>
                      <li>{{ctrl.shipping_info.ship_to.name}}</li>
                      <li>{{ctrl.shipping_info.ship_to.company}}</li>
                      <li>{{ctrl.shipping_info.ship_to.address1}}</li>
                      <li>{{ctrl.shipping_info.ship_to.address2}}</li>
                      <li>{{ctrl.shipping_info.ship_to.address3}}</li>
                      <li>{{ctrl.shipping_info.ship_to.postcode}} {{ctrl.shipping_info.ship_to.city}} ({{ctrl.shipping_info.ship_to.conntry_name}})</li>
                      <li>{{ctrl.shipping_info.ship_to.email}}</li>
                      <li>{{ctrl.shipping_info.ship_to.phone}}</li>
                      <li>
                        <span translate="ORDER_PAYMENT.BUSINESS"></span>
                        <div ng-if="ctrl.shipping_info.ship_to.pro">
                          <i class="glyphicon glyphicon-ok"></i>
                          <span translate="ORDER_PAYMENT.OK"></span>
                        </div>
                        <div ng-if="!ctrl.shipping_info.ship_to.pro">
                          <i class="glyphicon glyphicon-remove"></i>
                          <span translate="ORDER_PAYMENT.NO"></span>
                        </div>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>

            <div>
              <a class="orange pull-right" href="/order-offer">
                <i class="fa fa-pencil" style="margin-right: 5px;" translate="ORDER_PAYMENT.EDIT"></i>
              </a>
            </div>

            <table class="table table-bordered offer-summary">
              <table class="table table-bordered offer-summary">
                <tbody>
                <tr>
                  <td>
                    <center>
                      <img src="images/carriers/logo-ups-en.png" style="max-width: 60px;">
                    </center>
                  </td>
                  <td style="border-right: 0;">
                    <ul class="list-unstyled" style="text-align: left;">
                      <li><strong>UPS EXPRESS SAVER®</strong></li>
                      <li class="text-muted">Dropoff on Monday 31 October 2016</li>
                      <li class="text-muted">Delivery on Wednesday 02 November 2016, during the day</li>
                    </ul>
                  </td>
                  <td style="border-left: 0; text-align: right;">
                    <span class="price-bold">37.96 € with tax</span>
                    <br><small>(41.72 $)</small>
                  </td>
                </tr>
                </tbody>
              </table>
            </table>

            <center>
              <a class="btn btn-primary btn-lg" id="validate_order_btn" style="display: none;">
                <i class="glyphicon glyphicon-ok"></i> VALIDATE YOUR ORDER
              </a>
            </center>

            <div class="panel-grey panel-grey-bordered" id="payment_form_container">
              <h2 class="text-center text-uppercase blue" translate="ORDER_PAYMENT.PAYMENT.TITLE">SECURE ON LINE PAYMENT</h2>
              <center>
                <p class="muted" translate="ORDER_PAYMENT.PAYMENT.COMMENT">Choose your payment method  <br>You will be transferred to our secure payment server</p>
              </center>

              <form method="POST" ng-click="ctrl.clickPayment()" target="_top">
                <div align="center">
                  <input type="IMAGE" name="CB" border="0" src="images/atos/card_logo/CB.gif">
                  <img src="images/atos/card_logo/INTERVAL.gif">
                  <input type="IMAGE" name="VISA" border="0" src="images/atos/card_logo/VISA.gif">
                  <img src="images/atos/card_logo/INTERVAL.gif">
                  <input type="IMAGE" name="MASTERCARD" border="0" src="images/atos/card_logo/MASTERCARD.gif"><br><br>
                </div>
              </form>

              <div class="alert alert-info">
                <center>
                  <p><strong translate="ORDER_PAYMENT.PAYMENT.SEVERAL">Several parcels to send?</strong></p>
                  <p translate="ORDER_PAYMENT.PAYMENT.CREDIT"><a style="text-decoration: underline;" href="https://www.upela.com/en/credit-account/" target="_blank">Credit your account</a> and receive extra discounts</p>
                </center>
              </div>
              <center>
              </center>
            </div>

            <div class="clear"></div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel-white cancel-padding-left-15 panel-muted">
            <p>
              <span class="very-light-grey bold">1. Your shipment&nbsp;&nbsp;
                <a href="https://www.upela.com/en/">
                  <i class="fa fa-pencil"></i>
                </a>
              </span>
            </p>
            <p style="margin-bottom: 15px;"><strong>Type :</strong> 1 Parcel(s)<br>
              1 Parcel(s) of 10 kg (50x50x50 cm)<br>
              <strong>From :</strong> 107497 (Romania)<br>
              <strong>To :</strong> 517042 (Romania)<br>
              <strong>Collection date :</strong> 10/31/2016<br>
            </p>

            <table class="table table-bordered order-prices-summary">
              <tbody>
              <tr>
                <td class="price-label">Transport excl tax</td>
                <td class="price-value">27.88 €</td>
              </tr>
              <tr>
                <td class="price-label">Insurance</td>
                <td class="price-value">4.50 €</td>
              </tr>
              <tr>
                <td class="price-label">VAT</td>
                <td class="price-value">5.58 €</td>
              </tr>
              <tr class="price-total">
                <td class="price-label orange"><strong>Total incl tax</strong></td>
                <td class="price-value">
                  <span class="bold orange">37.96 €</span>
                  <br><small>(41.72 $)</small>
                </td>
              </tr>
              </tbody>
            </table>

            <br>
            <a class="orange pull-left">
              <i class="glyphicon glyphicon-envelope" style="margin-right: 5px;"></i>Send by email</a><br>
          </div>

          <div class="panel-white cancel-padding-left-15 panel-muted">
            <p class="warning-icon">The weight and dimensions are audited during transit. If the data is underestimated, you are exposed to the return of your shipment and penalties.</p>
            <p class="warning-icon">Your package should be properly wrapped and protected: inadequate packaging will preclude damage claims.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
