<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <div class="row">
        <div class="col-md-9">
          <div class="panel-white panel-white-bordered-">
            <div class="order-wizard">
              <a ng-click="ctrl.remakeShipment()">
                <span translate="ORDER.STEP_TITLE.SHIPMENT"></span>
                <i class="fa fa-pencil"></i>
              </a>
              <a  ng-click="ctrl.remakeOffer()">
                <span translate="ORDER.STEP_TITLE.OFFERS"></span>
                <i class="fa fa-pencil"></i>
              </a>
              <a class="active" translate="ORDER.STEP_TITLE.ORDER">3. Your order</a>
              <a class="disabled" translate="ORDER.STEP_TITLE.PAYMENT">4. Payment</a>
              <a class="disabled" translate="ORDER.STEP_TITLE.CONFIRMATION">5. Confirmation</a>
            </div>

            <h1 class="blue text-center">
              <span translate="ORDER_ORDER.TITLE"></span>
              <small class="pull-right-" translate="ORDER_ORDER.COMMENT">Complete your choice</small>
            </h1>

            <form name="ShipmentForm" class="form-horizontal" ng-submit="ShipmentForm.$valid && ctrl.waybill()">
              <div class="row">
                <div class="col-md-6 col-md-right-border">
                  <h2 class="address-group-legend">
                    <span translate="ORDER_ORDER.SENDER.TITLE"></span>
                    <small>
                      <a class="pull-right" href="#">
                        <span translate="ORDER_ORDER.OPEN_ADD_BOOK"></span>
                        <span class="fa fa-book" style="margin-left: 5px; margin-right: 0;"></span>
                      </a>
                    </small>
                  </h2>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.SENDER.COMPANY">Company</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="35" ng-model="ctrl.shipment.ship_from.company" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.SENDER.NAME">Name</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="35" ng-model="ctrl.shipment.ship_from.name" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.SENDER.PHONE">Phone</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" ng-class="{'invalid': !ShipmentForm.ship_from_phone.$valid}" name="ship_from_phone" ng-model="ctrl.shipment.ship_from.phone" ng-intl-tel-input data-default-country="{{ctrl.origin_shipment.ship_from.country_code}}" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.SENDER.EMAIL">Email</label>
                    <div class="col-lg-7">
                      <input type="email" class="form-control" value="" maxlength="50" ng-model="ctrl.shipment.ship_from.email" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.SENDER.ADDRESS">Address</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control validate" data-validate="isAddress" value="" placeholder="No., street" maxlength="35" ng-model="ctrl.shipment.ship_from.address1" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3">&nbsp;</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" value="" placeholder="Line 2" maxlength="35" ng-model="ctrl.shipment.ship_from.address2">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3">&nbsp;</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" value="" placeholder="Line 3" maxlength="35" ng-model="ctrl.shipment.ship_from.address3">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.SENDER.COUNTRY">Country</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" readonly="readonly" value="Romania" maxlength="255" ng-model="ctrl.shipment.ship_from.conntry_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.SENDER.POSTAL">Postal code</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" readonly="readonly" value="517042" maxlength="20" ng-model="ctrl.shipment.ship_from.postcode">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.SENDER.CITY">City</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" readonly="readonly" value="Bubeşti" maxlength="255" ng-model="ctrl.shipment.ship_from.city" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3" translate="ORDER_ORDER.SENDER.REF">Your ref.</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="35">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3" translate="ORDER_ORDER.SENDER.OTHERS">Others</label>
                    <div class="col-lg-9">
                      <textarea class="form-control" ng-model="others" placeholder="Other information to help the collection driver (interphone, entry code, instructions, opening hours...)" rows="2" maxlength="30" data-maxchar="30"></textarea>
                      <span class="text-count-down-container">
					              <span class="text-count-down">{{30-others.length}}</span> character(s) left
				              </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="checkbox">
                        <label class="">
                          <input type="checkbox" class="check_box" value="1" unchecked="">
                          <span translate="ORDER_ORDER.SAVE_ADD_BOOK"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h2 class="address-group-legend">
                    <span translate="ORDER_ORDER.RECIPIENT.TITLE"></span>
                    <small>
                      <a class="pull-right" href="#">
                        <span translate="ORDER_ORDER.OPEN_ADD_BOOK"></span>
                        <span class="fa fa-book" style="margin-left: 5px; margin-right: 0;"></span>
                      </a>
                    </small>
                  </h2>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.RECIPIENT.COMPANY">Company</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="35" ng-model="ctrl.shipment.ship_to.company" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.RECIPIENT.NAME">Name</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="35" ng-model="ctrl.shipment.ship_to.name" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.RECIPIENT.CELL_PHONE">Cellphone</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" ng-class="{'invalid': !ShipmentForm.ship_to_phone.$valid}" name="ship_to_phone" ng-model="ctrl.shipment.ship_to.phone" ng-intl-tel-input required>
                      <!--<span class="help-block" ng-show="ShipmentForm.ship_to_phone.$valid">Valid :)</span>-->
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.RECIPIENT.EMAIL">Email</label>
                    <div class="col-lg-7">
                      <input type="email" class="form-control" value="" maxlength="50" ng-model="ctrl.shipment.ship_to.email" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.RECIPIENT.ADDRESS">Address</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control validate" placeholder="No., street" maxlength="35" ng-model="ctrl.shipment.ship_to.address1" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3">&nbsp;</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" value="" placeholder="Line 2" maxlength="35" ng-model="ctrl.shipment.ship_to.address2">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3">&nbsp;</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" value="" placeholder="Line 3" maxlength="35" ng-model="ctrl.shipment.ship_to.address3">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.RECIPIENT.COUNTRY">Country</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" readonly="readonly" value="Russia" maxlength="255" ng-model="ctrl.shipment.ship_to.conntry_name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.RECIPIENT.POSTAL">Postal code</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" readonly="readonly" value="101000" maxlength="20" ng-model="ctrl.shipment.ship_to.postcode">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.RECIPIENT.CITY">City</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" readonly="readonly" value="Moscow" maxlength="255" ng-model="ctrl.shipment.ship_to.city" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-lg-3" translate="ORDER_ORDER.RECIPIENT.REF">Your ref.</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="35" autocomplete="off">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="checkbox">
                        <label class="">
                          <input type="checkbox" class="check_box" value="1" unchecked="">
                          <span translate="ORDER_ORDER.SAVE_ADD_BOOK"></span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="checkbox">
                        <label class="">
                          <input type="checkbox" class="check_box" value="1" checked="">
                          <span translate="ORDER_ORDER.RECIPIENT.SEND_EMAIL"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<hr style="margin: 10px 0 20px 0;">-->
              <br>
              <div class="row">
                <div class="col-md-6">
                  <h2 class="form-group-legend" translate="ORDER_ORDER.CHARACTERISTICS.TITLE">Characteristics</h2>
                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.CHARACTERISTICS.REASON">Reason</label>
                    <div class="col-lg-7">
                      <select class="form-control" ng-model="ctrl.shipment.reason" required>
                        <option value="" selected="">-- Select in the list --</option>
                        <option value="Commercial">Commercial</option>
                        <option value="Cadeau">Gift</option>
                        <option value="Echantillon">Sample</option>
                        <option value="Retour et réparation">Returns and repairs</option>
                        <option value="Effets personnels">Personal effects</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h2 class="form-group-legend">&nbsp;</h2>
                  <div class="form-group">
                    <label class="control-label col-lg-3 required" translate="ORDER_ORDER.CHARACTERISTICS.CONTENT">Content</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="35" ng-model="ctrl.shipment.content" required>
                      <span class="help-block">
                        <a href="#" translate="ORDER_ORDER.CHARACTERISTICS.PROHIBIT">Prohibited Goods</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <hr style="margin: 10px 0 20px 0;">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="form-group-legend" translate="ORDER_ORDER.INSURANCE.TITLE">Insurance</h2>
                  <div class="form-group no-personal-effects">
                    <label class="control-label col-lg-3" translate="ORDER_ORDER.INSURANCE.DECLARED_VALUE">Declared value</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control input-small" style="display: inline-block;" value="0.00" maxlength="32">
                      <select class="form-control input-mini" style="display: inline-block;">
                        <option value="EUR" selected="selected">€</option>
                        <option value="USD">$</option>
                      </select>
                      &nbsp;<span class="help-block" style="display: inline;" translate="ORDER_ORDER.INSURANCE.SHIPMENT_VALUE">Value of your shipment</span>
                      <div class="help-block">
                        <span translate="ORDER_ORDER.INSURANCE.WARRANTY.TEXT1"></span>
                        <a href="http://www.ffsa.fr/sites/jcms/c_33806/fr/entreprise-lassurance-du-transport-de-marchandises?cc=fn_7316" target="_blank" translate="ORDER_ORDER.INSURANCE.WARRANTY.TEXT2">contractual insurance</a>
                        <span translate="ORDER_ORDER.INSURANCE.WARRANTY.TEXT3"></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group no-personal-effects">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" class="check_box" value="1">
                          <span translate="ORDER_ORDER.INSURANCE.REAL_VALUE"></span>
                        </label>
                      </div>
                      <div class="help-block">
                        <a href="images/files/upload/insurance/Upela Assurance EXCLUSIONS CONDITIONS GENERALES.pdf" target="_blank" translate="ORDER_ORDER.INSURANCE.CONDITIONS">see the conditions of insurance</a>
                      </div>
                    </div>
                  </div>

                  <div class="form-group personal-effects" style="display: none;">
                    <div class="col-lg-9 col-lg-offset-3">
                      <p><strong>Important note: Personal effects are excluded from the general insurance conditions.</strong></p>
                      <div class="help-block">
                        <a href="images/files/upload/insurance/Upela Assurance EXCLUSIONS CONDITIONS GENERALES.pdf" target="_blank">see the conditions of insurance</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr style="margin: 10px 0 20px 0;">
              <div>
                <div class="row">
                  <div class="col-md-12">
                    <div>
                      <h2 class="form-group-legend" translate="ORDER_ORDER.OBLIGATIONS.TITLE">Customs obligations</h2>
                      <p class="text-muted">
                        <span translate="ORDER_ORDER.OBLIGATIONS.COMMENT1">Documents and taxes may be requested. Please refer to our section</span>
                        <!--<a target="_blank" href="https://www.upela.com/en/documents-for-an-international-consignment-25.html" translate="ORDER_ORDER.OBLIGATIONS.COMMENT">International shipping</a>-->
                      </p>

                      <div class="proforma-without-note" style="display: block;">
                        <p class="text-muted" translate="ORDER_ORDER.OBLIGATIONS.COMMENT2">So that your shipment is carried in the correct conditions, complete the following fields</p>
                      </div>

                      <div class="products-container">
                        <table id="products-table" class="table table-bordered table-striped- table-condensed" style="background-color:#fff;">
                          <thead>
                            <tr>
                              <th colspan="6" style="text-align: center;" translate="ORDER_ORDER.OBLIGATIONS.DETAIL">DETAILS OF THE GOODS</th>
                            </tr>
                            <tr>
                              <th style="text-align: center;" translate="ORDER_ORDER.OBLIGATIONS.DESCRIPTION">DESCRIPTION</th>
                              <th style="text-align: center;" translate="ORDER_ORDER.OBLIGATIONS.COUNTRY">COUNTRY</th>
                              <th style="text-align: center;" translate="ORDER_ORDER.OBLIGATIONS.QTY">QTY</th>
                              <th style="text-align: center;" translate="ORDER_ORDER.OBLIGATIONS.UNIT">Unit price</th>
                              <th style="text-align: center;" translate="ORDER_ORDER.OBLIGATIONS.TOTAL">TOTAL €</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="product" style="vertical-align: middle;">
                              <td>
                                <input type="text" class="form-control input-medium2" placeholder="Description in English and/or HS code" value="">
                              </td>
                              <td>
                                <input type="text" class="form-control input-xmini2" placeholder="..." value="">
                              </td>
                              <td>
                                <input type="text" class="form-control input-xmini2" placeholder="0" value="1">
                              </td>
                              <td>
                                <input type="text" class="form-control input-xmini2" placeholder="" value="">

                                <select class="form-control input-xmini3">
                                  <option value="EUR" selected="selected">€</option>
                                  <option value="USD">$</option>
                                </select>
                              </td>
                              <td>0</td>
                              <td class="product-actions">
                                <a class="product-action" href="#">
                                  <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>&nbsp;
                                <a class="product-action" href="#">
                                  <i class="glyphicon glyphicon-minus-sign"></i>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr style="vertical-align: middle;">
                              <td colspan="2"><strong>TOTAL</strong></td>
                              <td>1</td>
                              <td></td>
                              <td>0</td>
                              <td></td>
                            </tr>
                          </tfoot>
                        </table>
                        <div class="clear"></div>
                      </div>

                      <div class="alert alert-danger" id="export-us-warning">
                        For shipment over $2,500, the law requires the shipper to report
                        <a class="text-underline" href="http://aesdirect.census.gov/" target="_blank">EEI</a>
                        for goods exported from the United States.
                      </div>

                      <p class="text-center">
                        <i class="fa fa-warning orange"></i>
                        <span class="popmark pointer" data-placement="right" data-title="Customs duties and VAT" data-content="The customs duties and VAT are not included in the transport costs. Additional costs may be required at destination (personal effects included) when departure and destination countries are not in the same economic area (French overseas departments and territories included). These duties and taxes are calculated by the Customs." data-original-title="" title="">
                          <span class="orange" translate="ORDER_ORDER.OBLIGATIONS.VAT">The customs duties and VAT are not included in the transport costs.</span>
                        </span>
                      </p>

                      <div class="proforma-with-note" style="display: none;">
                        <p class="text-muted">For more details on the information to be provided or for items with a value higher than $ 150, you can fill in
                          <a href="images/files/upload/duties/DECLARATION D ENTREE EN FRANCHISE En.pdf" target="_blank">this document</a>
                          received from Customs.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="margin: 10px 0 20px 0;">
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h2 class="form-group-legend" translate="ORDER_ORDER.VOUCHER.TITLE">Voucher code or Apporteur code</h2>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-lg-3" translate="ORDER_ORDER.VOUCHER.APPORTEUR">Apporteur Code</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="50">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-lg-3" translate="ORDER_ORDER.VOUCHER.VOUCHER">Voucher code</label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="" maxlength="50">
                    </div>
                  </div>
                </div>
              </div>

              <hr style="margin: 10px 0 20px 0;">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="form-group-legend" translate="ORDER_ORDER.PICKUP.TITLE">Pickup</h2>
                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="radio">
                        <label>
                          <input type="radio" value="0" checked="" translate="ORDER_ORDER.PICKUP.COLLECTION">&nbsp;Collection chosen (subject to the carrier availability)
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <label class="control-label required-" style="display: inline-block; padding: 0; height: 34px; line-height: 34px;" translate="ORDER_ORDER.PICKUP.DATE">Date</label>&nbsp;

                      <div class="input-group" style="width: 160px; display: inline-table; vertical-align: middle;">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="shipDate" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openDate()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </div>
                      <span translate="ORDER_ORDER.PICKUP.BETWEEN"></span>

                      <select class="form-control input-small2 display-inline-block">
                        <option value="0800">08:00am</option>
                        <option value="0815">08:15am</option>
                        <option value="0830">08:30am</option>
                        <option value="0845">08:45am</option>
                        <option value="0900">09:00am</option>
                        <option value="0915">09:15am</option>
                        <option value="0930">09:30am</option>
                        <option value="0945">09:45am</option>
                        <option value="1000">10:00am</option>
                        <option value="1015">10:15am</option>
                        <option value="1030">10:30am</option>
                        <option value="1045">10:45am</option>
                        <option value="1100">11:00am</option>
                        <option value="1115">11:15am</option>
                        <option value="1130">11:30am</option>
                        <option value="1145">11:45am</option>
                        <option value="1200">12:00pm</option>
                        <option value="1215">12:15pm</option>
                        <option value="1900">07:00pm</option>
                        <option value="1915">07:15pm</option>
                        <option value="1930">07:30pm</option>
                        <option value="1945">07:45pm</option>
                        <option value="2000">08:00pm</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <div class="radio">
                        <label>
                          <input type="radio" value="1">
                          <span translate="ORDER_ORDER.PICKUP.DROP_OFF"></span>
                          <img src="images/carriers/logo-ups-en.png" style="max-height: 32px; max-width: 50px; margin-left: 10px;">
                        </label>&nbsp;&nbsp;
                        <span class="text-muted">
                          <a href="https://www.ups.com/dropoff?loc=en_US" target="_blank" translate="ORDER_ORDER.PICKUP.NEAREST">See the nearest collection points</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr style="margin: 10px 0 20px 0;">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="warning" translate="ORDER_ORDER.INFORMATION.TITLE">INFORMATION &amp; CUSTOMS OBLIGATIONS</h4>
                  <div class="alert alert-warning">
                    <p style="color: #f60;" translate="ORDER_ORDER.INFORMATION.COMMENT">To a private individual, only paper documents without market or reconstruction value are allowed. Any object or merchandise of any kind will be retained by Customs.<br><br> To a company, you need to provide a very detailed description of the contents of your shipment (eg, "white long sleeve shirt 100% cotton"), an original commercial invoice + 2 copies.</p>  <br>
                    <p style="text-align: justify;">
                      <img src="images/files/upload/help/imprimante.png" alt="Printer" style="vertical-align: middle; margin-right: 5px;" translate="ORDER_ORDER.INFORMATION.TRANSPORT_LABEL"> Before confirming your order, check that the sender is able to print out the transport label.
                    </p>
                    <p style="text-align: justify;">
                      <img src="images/files/upload/help/carton-emballage.png" alt="Packaging" style="vertical-align: middle; margin-right: 5px;" translate="ORDER_ORDER.INFORMATION.DAMAGE"> Your package should be properly wrapped and protected: inadequate packaging will preclude damage claims.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row" style="display: block;">
                <div class="col-md-12">
                  <div class="alert alert-warning" style="background: #fff;">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="checkbox">
                          <label class="">
                            <input type="checkbox" class="check_box" value="1" unchecked="">
                            <span translate="ORDER_ORDER.HAZARDOUS.TITLE"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                      <div class="col-md-6">
                        <ul class="disc" style="margin-bottom: 5px;">
                          <li translate="ORDER_ORDER.HAZARDOUS.LITHIUM">Lithium batteries alone (<a href="https://www.upela.com/en/prohibited-controlled-goods-23.html" target="_blank">further details +</a>)</li>
                          <li translate="ORDER_ORDER.HAZARDOUS.PERFUME">Perfumes</li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <ul class="disc" style="margin-bottom: 5px;">
                          <li translate="ORDER_ORDER.HAZARDOUS.ELECTRONIC">Electronic smoking devices (<a href="https://www.upela.com/en/prohibited-controlled-goods-23.html" target="_blank">further details +</a>)</li>
                          <li translate="ORDER_ORDER.HAZARDOUS.AEROSOLS">Aerosols, gas bottles, extinguishers</li>
                        </ul>
                      </div>
                    </div>
                    <p>
                      <small translate="ORDER_ORDER.HAZARDOUS.OTHERS">Or any other product with this kind of symbol, it will be then your full responsibility in case of incidence :</small>
                    </p>
                    <table cellspacing="5" cellpadding="5" style="margin: 5px auto 0 auto;">
                      <tbody>
                        <tr>
                          <td>&nbsp;<img src="images/files/upload/dangerous goods/sg1.[1].jpg" width="50" height="50">&nbsp;</td>
                          <td>&nbsp;<img src="images/files/upload/dangerous goods/sg2.jpg" alt="" width="50" height="49">&nbsp;</td>
                          <td>&nbsp;<img src="images/files/upload/dangerous goods/sg3.[1].jpg" width="50" height="50">&nbsp;</td>
                          <td>&nbsp;<img src="images/files/upload/dangerous goods/sg4.jpg" alt="" width="50" height="49">&nbsp;</td>
                          <td>&nbsp;<img src="images/files/upload/dangerous goods/sg5.jpg" alt="" width="50" height="49">&nbsp;</td>
                          <td>&nbsp;<img src="images/files/upload/dangerous goods/sg6.jpg" alt="" width="50" height="49">&nbsp;</td>
                          <td>&nbsp;<img src="images/files/upload/dangerous goods/sg7.jpg" alt="" width="50" height="49">&nbsp;</td>
                          <td>&nbsp;<img src="images/files/upload/dangerous goods/sg8.jpg" alt="" width="50" height="49">&nbsp;</td>
                          <td>&nbsp;<img src="images/files/upload/dangerous goods/sg9.jpg" alt="" width="50" height="49">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-info">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="checkbox">
                          <label class="">
                            <input type="checkbox" class="check_box" value="1" required>
                            <span translate="ORDER_ORDER.TERMS_CONDITION"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-lg">
                    <i class="glyphicon glyphicon-ok"></i>
                    <span translate="ORDER_ORDER.CONTINUE"></span>
                  </button>
                </div>
              </div>
            </form>

            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-warning">
                  <p translate="ORDER_ORDER.CONTACT">Information that is collected is subject to computer processing to ensure the good routing of your shipments. Data may be passed to: DHL, FedEx, or UPS to allow the performance of the contract.<br>In accordance with the law of Data Protection of January 6th, 1978, amended in 2004, you have the right to access and rectify all data concerning you, writing to: <a href="mailto:contact@upela.com">contact@upela.com</a>, Philippe Boulay<br>You can also, for legitimate reasons, oppose the processing of your personal data.</p>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel-white cancel-padding-left-15 panel-muted">
            <p>
              <span class="very-light-grey bold">
                <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.TITLE">1. Your shipment&nbsp;&nbsp;</span>
                <a href="#">
                  <i class="fa fa-pencil"></i>
                </a>
              </span>
            </p>
            <p style="margin-bottom: 10px;" ng-repeat="parcel in ctrl.origin_shipment.parcels">
              <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.TYPE"></span>
              <span ng-if="ctrl.shipment.unit === fr"> {{$index+1}} Parcel(s)<br> {{$index+1}} Parcel(s) of {{parcel.weight}} kg ({{parcel.x}}x{{parcel.y}}x{{parcel.z}}cm)<br></span>
              <span ng-if="ctrl.shipment.unit !== fr"> {{$index+1}} Parcel(s)<br> {{$index+1}} Parcel(s) of {{parcel.weight}} lbs ({{parcel.x}}x{{parcel.y}}x{{parcel.z}}in)<br></span>
              <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.FROM"></span>
              <span> {{ctrl.shipment.ship_from.postcode}} ({{ctrl.shipment.ship_from.country_name}})<br></span>
              <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.TO"></span>
              <span> {{ctrl.shipment.ship_to.postcode}} ({{ctrl.shipment.ship_to.country_name}})<br></span>
              <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.DATE"></span>
              <span> {{ctrl.shipment.shipment_date}}<br></span>
            </p>
            <hr>
            <p>
              <span class="very-light-grey bold">
                <span translate="ORDER_ORDER.PAST_STEP.STEP_TWO.TITLE">2. Your offer&nbsp;&nbsp;</span>
                <a href="#/order-offer">
                  <i class="fa fa-pencil"></i>
                </a>
              </span>
            </p>
            <p>
              <strong>{{ctrl.selected_offer.service_name}}</strong><br>
              <span translate="ORDER_ORDER.PAST_STEP.STEP_TWO.DROP_OFF">Dropoff on</span>
              <span>{{ctrl.selected_offer.shipment_weekday}} {{ctrl.selected_offer.shipment_date}}</span><br>
              <span translate="ORDER_ORDER.PAST_STEP.STEP_TWO.DELIVERY">Delivery on </span>
              <span>{{ctrl.selected_offer.delivery_weekday}} {{ctrl.selected_offer.delivery_date}}</span>
              <span translate="ORDER_ORDER.PAST_STEP.STEP_TWO.DURING"></span>
            </p>
            <hr class="orange">
            <div>
              <strong translate="ORDER_ORDER.PAST_STEP.AMOUNT">Amount :</strong>
              <span class="price-bold">{{ctrl.selected_offer.price_excl_tax}}</span>
              <span class="price-bold" translate="ORDER_ORDER.PAST_STEP.EXCL_TAX">€ excl tax</span>
              <small> {{ctrl.selected_offer.price_incl_tax}}</small>
              <small translate="ORDER_ORDER.PAST_STEP.INC_TAX"> € with tax</small>
            </div>
            <br>
            <a class="orange pull-left" href="#">
              <i class="glyphicon glyphicon-envelope" style="margin-right: 5px;"></i>
              <span translate="ORDER_ORDER.PAST_STEP.EMAIL">Send by email</span>
            </a>
            <br>
          </div>

          <div class="panel-white cancel-padding-left-15 panel-muted">
            <uib-accordion close-others="true">
              <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                  <i class="fa fa-question-circle"></i>
                  <span translate="ORDER_ORDER.PAST_STEP.QUESTION.TITLE">Frequently asked questions</span>
                </uib-accordion-heading>
                <p>
                  <p><a target="_blank" translate="ORDER_ORDER.PAST_STEP.QUESTION.COMMENT1">Comment effectuer un devis ?</a></p>
                  <p><a target="_blank" translate="ORDER_ORDER.PAST_STEP.QUESTION.COMMENT2">Est-ce que vous fournissez/effectuez l’emballage ?</a></p>
                  <p><a target="_blank" translate="ORDER_ORDER.PAST_STEP.QUESTION.COMMENT3">Que se passe-t-il si je ne suis pas présent lors de la livraison ?</a></p>
                  <p><a target="_blank" translate="ORDER_ORDER.PAST_STEP.QUESTION.COMMENT4">Le destinataire peut-il également passer commande ?</a></p>
                  <p><a target="_blank" translate="ORDER_ORDER.PAST_STEP.QUESTION.COMMENT5">Je ne veux pas que ce soit le destinataire qui paye les droits et taxes, comment puis-je faire ?</a></p>
                  <p><a target="_blank" translate="ORDER_ORDER.PAST_STEP.QUESTION.COMMENT6">Le coursier n’a pas pu récupérer mon colis car l’adresse de l’expéditeur était incomplète, que dois-je faire ?</a></p>
                  <p><a target="_blank" translate="ORDER_ORDER.PAST_STEP.QUESTION.COMMENT7">Le suivi de mon envoi n’affiche aucune information, comment cela se fait ?</a></p>
                  <p><a target="_blank" translate="ORDER_ORDER.PAST_STEP.QUESTION.COMMENT8">Si mon colis est livré avec du retard, puis-je me faire rembourser ?</a></p>
                </p>
              </div>
            </uib-accordion>
          </div>

          <div class="panel-white cancel-padding-left-15 panel-muted">
            <div style="text-align: center;">
              <span style="color: #e55933;" translate="ORDER_ORDER.PAST_STEP.PROHIBIT.TITLE">REMINDER OF COMMON PROHIBITED GOODS</span>
            </div>
            <br>
            <div class="prohibited">
              <div class="col4">
                <img alt="Aérosols" src="images/files/upload/dangerous goods/aerosol.[1].png" width="50" height="54">
                <p translate="ORDER_ORDER.PAST_STEP.PROHIBIT.AEROSOLS">Aerosols</p>
              </div>
              <div class="col4">
                <img alt="Parfum" src="images/prohibited-goods/parfums.png">
                <p translate="ORDER_ORDER.PAST_STEP.PROHIBIT.FRAGRANCE">Fragrance</p>
              </div>
              <div class="col4">
                <img alt="Batterie lithium" src="images/prohibited-goods/batterie.png">
                <p translate="ORDER_ORDER.PAST_STEP.PROHIBIT.LITHIUM">Lithium&nbsp;batteries</p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="prohibited">
              <div class="col4">
                <img alt="Inflammables / Explosifs" src="images/prohibited-goods/inflammable.png">
                <p translate="ORDER_ORDER.PAST_STEP.PROHIBIT.EXPLOSIVE">Explosives / Inflammable</p>
              </div>
              <div class="col4">
                <img alt="Produits périssables" src="images/prohibited-goods/perissable.png">
                <p translate="ORDER_ORDER.PAST_STEP.PROHIBIT.PERISHABLE">Perishable&nbsp;</p>
              </div>
              <div class="col4"><img alt="Electroménager" src="images/prohibited-goods/electromenager.png">
                <p translate="ORDER_ORDER.PAST_STEP.PROHIBIT.APPLIANCE">Appliances</p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="prohibited">
              <div class="col4">
                <img alt="Bouteilles en verre" src="images/files/upload/dangerous goods/ali-boi-c-vin-rouge.jpg" width="110" height="265">
                <p translate="ORDER_ORDER.PAST_STEP.PROHIBIT.WINE">Wine, glass bottle</p>
              </div>
              <div class="col4"><img alt="Meubles" src="images/files/upload/dangerous goods/meuble.[1].png" width="66" height="47">
                <p translate="ORDER_ORDER.PAST_STEP.PROHIBIT.FURNITURE">Furnitures</p>
              </div>
              <div class="col4"><img src="images/files/upload/dangerous goods/TV.png" alt="" width="88" height="67">
                <p translate="ORDER_ORDER.PAST_STEP.PROHIBIT.SCREEN">Screens</p>
              </div>
              <div class="clear"></div>
            </div>
            <br>
            <p class="last" style="text-align: center;" translate="ORDER_ORDER.PAST_STEP.PROHIBIT.COMMENT">For more details, please refer to our website page <a target="_blank">Prohibited or controlled goods</a>.</p>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
