<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <div class="row">
        <div class="col-md-9">
          <div class="panel-white panel-white-bordered-">
            <div class="order-wizard">
              <a ng-click="ctrl.remakeShipment()">
                <span translate="ORDER.STEP_TITLE.SHIPMENT"></span>
                <i class="fa fa-pencil"></i>
              </a>
              <a ng-click="ctrl.remakeOffer()">
                <span translate="ORDER.STEP_TITLE.OFFERS"></span>
                <i class="fa fa-pencil"></i>
              </a>
              <a ng-click="ctrl.remakeOrder()">
                <span translate="ORDER.STEP_TITLE.ORDER">3. Your order </span>
                <i class="fa fa-pencil"></i>
              </a>
              <a class="active" translate="ORDER.STEP_TITLE.PAYMENT">4. Payment</a>
              <a class="disabled" translate="ORDER.STEP_TITLE.CONFIRMATION">5. Confirmation</a>
            </div>

            <h1 class="blue text-center" translate="ORDER_PAYMENT.TITLE"> 4 : Confirmation and payment</h1>

            <div>
              <a class="orange pull-right" ng-click="ctrl.remakeOrder()">
                <i class="fa fa-pencil" style="margin-right: 5px;" translate="ORDER_PAYMENT.EDIT">Edit</i>
              </a>
            </div>

            <table class="table table-bordered addresses-summary">
              <tbody>
                <tr>
                  <td width="42%">
                    <ul class="list-unstyled address">
                      <li>
                        <h3 translate="ORDER_PAYMENT.SENDER">Sender</h3>
                      </li>
                      <li>{{ctrl.shipping_info.ship_from.name}}</li>
                      <li>{{ctrl.shipping_info.ship_from.company}}</li>
                      <li>{{ctrl.shipping_info.ship_from.address1}}</li>
                      <li>{{ctrl.shipping_info.ship_from.address2}}</li>
                      <li>{{ctrl.shipping_info.ship_from.address3}}</li>
                      <li>{{ctrl.shipping_info.ship_from.postcode}} {{ctrl.shipping_info.ship_from.city}} ({{ctrl.shipping_info.ship_from.conntry_name}})</li>
                      <li>{{ctrl.shipping_info.ship_from.email}}</li>
                      <li>{{ctrl.shipping_info.ship_from.phone}}</li>
                      <li>
                        <span translate="ORDER_PAYMENT.BUSINESS"></span>
                        <span ng-if="ctrl.shipping_info.ship_from.pro">
                          <i class="glyphicon glyphicon-ok"></i>
                          <span translate="ORDER_PAYMENT.OK"></span>
                        </span>
                        <span ng-if="!ctrl.shipping_info.ship_from.pro">
                          <i class="glyphicon glyphicon-remove"></i>
                          <span translate="ORDER_PAYMENT.NO"></span>
                        </span>
                      </li>
                    </ul>
                  </td>
                  <td class="adresses-summary-arrow-cell" width="6%">
                    <i class="fa fa-arrow-circle-right"></i>
                  </td>
                  <td width="42%">
                    <ul class="list-unstyled address">
                      <li>
                        <h3 translate="ORDER_PAYMENT.RECIPIENT">Recipient</h3>
                      </li>
                      <li>{{ctrl.shipping_info.ship_to.name}}</li>
                      <li>{{ctrl.shipping_info.ship_to.company}}</li>
                      <li>{{ctrl.shipping_info.ship_to.address1}}</li>
                      <li>{{ctrl.shipping_info.ship_to.address2}}</li>
                      <li>{{ctrl.shipping_info.ship_to.address3}}</li>
                      <li>{{ctrl.shipping_info.ship_to.postcode}} {{ctrl.shipping_info.ship_to.city}} ({{ctrl.shipping_info.ship_to.conntry_name}})</li>
                      <li>{{ctrl.shipping_info.ship_to.email}}</li>
                      <li>{{ctrl.shipping_info.ship_to.phone}}</li>
                      <li>
                        <span translate="ORDER_PAYMENT.BUSINESS"></span>
                        <span ng-if="ctrl.shipping_info.ship_to.pro">
                          <i class="glyphicon glyphicon-ok"></i>
                          <span translate="ORDER_PAYMENT.OK"></span>
                        </span>
                        <span ng-if="!ctrl.shipping_info.ship_to.pro">
                          <i class="glyphicon glyphicon-remove"></i>
                          <span translate="ORDER_PAYMENT.NO"></span>
                        </span>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>

            <div>
              <a class="orange pull-right" ng-click="ctrl.remakeOffer()">
                <i class="fa fa-pencil" style="margin-right: 5px;" translate="ORDER_PAYMENT.EDIT"></i>
              </a>
            </div>

            <table class="table table-bordered offer-summary">
              <tbody>
              <tr>
                <td>
                  <center>
                    <img ng-src={{ctrl.selected_offer.carrier_logo}} style="max-width: 60px;">
                  </center>
                </td>
                <td style="border-right: 0;">
                  <ul class="list-unstyled" style="text-align: left;">
                    <li><strong>{{ctrl.selected_offer.service_name}}</strong></li>
                    <li class="text-muted">
                      <span translate="ORDER_PAYMENT.DROP_OFF">Dropoff on</span>
                      <span>{{ctrl.selected_offer.shipment_weekday}} {{ctrl.selected_offer.shipment_date}}</span>
                    </li>
                    <li class="text-muted">
                      <span translate="ORDER_PAYMENT.DELIVERY">Delivery on</span>
                      <span>{{ctrl.selected_offer.delivery_weekday}} {{ctrl.selected_offer.delivery_date}}</span>
                    </li>
                  </ul>
                </td>
                <td style="border-left: 0; text-align: right;">
                  <span class="price-bold">{{ctrl.selected_offer.price_incl_tax}} € with tax</span>
                  <!--<br><small>(41.72 $)</small>-->
                </td>
              </tr>
              </tbody>
            </table>

            <div class="panel-grey panel-grey-bordered" id="payment_form_container">
              <h2 class="text-center text-uppercase blue" translate="ORDER_PAYMENT.PAYMENT.TITLE">SECURE ON LINE PAYMENT</h2>
              <center>
                <p class="muted" translate="ORDER_PAYMENT.PAYMENT.COMMENT">Choose your payment method  <br>You will be transferred to our secure payment server</p>
              </center>

              <form method="POST" target="_top">
                <div align="center">
                  <input type="IMAGE" name="CB" border="0" src="images/atos/card_logo/CB.gif">
                  <img src="images/atos/card_logo/INTERVAL.gif">
                  <input type="IMAGE" name="VISA" border="0" src="images/atos/card_logo/VISA.gif">
                  <img src="images/atos/card_logo/INTERVAL.gif">
                  <input type="IMAGE" name="MASTERCARD" border="0" src="images/atos/card_logo/MASTERCARD.gif"><br><br>
                </div>
              </form>

              <div class="alert alert-info">
                <center>
                  <p><strong translate="ORDER_PAYMENT.PAYMENT.SEVERAL">Several parcels to send?</strong></p>
                  <p translate="ORDER_PAYMENT.PAYMENT.CREDIT">
                    <a style="text-decoration: underline;" href="https://www.upela.com/en/credit-account/" target="_blank">Credit your account</a> and receive extra discounts
                  </p>
                </center>
              </div>
              <center>
              </center>
            </div>

            <div class="clear"></div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel-white cancel-padding-left-15 panel-muted">
            <p>
              <span class="very-light-grey bold">
                <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.TITLE">1. Your shipment&nbsp;&nbsp;</span>
                <a ng-click="ctrl.remakeShipment()">
                  <i class="fa fa-pencil"></i>
                </a>
              </span>
            </p>
            <p style="margin-bottom: 10px;" ng-repeat="parcel in ctrl.origin_shipment.parcels">
              <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.TYPE"></span>
              <span ng-if="ctrl.shipping_info.unit === fr"> {{$index+1}} Parcel(s)<br> {{$index+1}} Parcel(s) of {{parcel.weight}} kg ({{parcel.x}}x{{parcel.y}}x{{parcel.z}}cm)<br></span>
              <span ng-if="ctrl.shipping_info.unit !== fr"> {{$index+1}} Parcel(s)<br> {{$index+1}} Parcel(s) of {{parcel.weight}} lbs ({{parcel.x}}x{{parcel.y}}x{{parcel.z}}in)<br></span>
              <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.FROM"></span>
              <span> {{ctrl.shipping_info.ship_from.postcode}} ({{ctrl.origin_shipment.ship_from.country_name}})<br></span>
              <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.TO"></span>
              <span> {{ctrl.shipping_info.ship_to.postcode}} ({{ctrl.origin_shipment.ship_to.country_name}})<br></span>
              <span translate="ORDER_ORDER.PAST_STEP.STEP_ONE.DATE"></span>
              <span> {{ctrl.origin_shipment.shipment_date}}<br></span>
            </p>

            <div>
              <strong translate="ORDER_ORDER.PAST_STEP.AMOUNT">Amount :</strong>
              <span class="price-bold">{{ctrl.selected_offer.price_excl_tax}}</span>
              <span class="price-bold" translate="ORDER_ORDER.PAST_STEP.EXCL_TAX">€ excl tax</span>
              <small> {{ctrl.selected_offer.price_incl_tax}}</small>
              <small translate="ORDER_ORDER.PAST_STEP.INC_TAX"> € with tax</small>
            </div>
            <br>
            <a class="orange pull-left">
              <i class="glyphicon glyphicon-envelope" style="margin-right: 5px;"></i>
              <span translate="ORDER_ORDER.PAST_STEP.EMAIL">Send by email</span>
              <br><br>
            </a><br><br>
          </div>

          <div class="panel-white cancel-padding-left-15 panel-muted">
            <p class="warning-icon">The weight and dimensions are audited during transit. If the data is underestimated, you are exposed to the return of your shipment and penalties.</p>
            <p class="warning-icon">Your package should be properly wrapped and protected: inadequate packaging will preclude damage claims.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
