<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <div class="alert alert-danger hide">
        <ul>
          <li>FedEx : There are no valid services available.</li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="panel-white panel-white-bordered-">
            <div class="order-wizard">
              <a ng-click="ctrl.remakeShipment()">
                <span translate="ORDER.STEP_TITLE.SHIPMENT"></span>
                <i class="fa fa-pencil"></i>
              </a>
              <a class="active" translate="ORDER.STEP_TITLE.OFFERS">2. The offers</a>
              <a class="disabled" translate="ORDER.STEP_TITLE.ORDER">3. Your order</a>
              <a class="disabled" translate="ORDER.STEP_TITLE.PAYMENT">4. Payment</a>
              <a class="disabled" translate="ORDER.STEP_TITLE.CONFIRMATION">5. Confirmation</a>
            </div>

            <h1 class="blue text-center">
              <span translate="ORDER_OFFER.TITLE"></span>
              <small class="pull-right-" translate="ORDER_OFFER.COMMENT">Compare and select the best priced offer!</small>
            </h1>

            <uib-tabset active="activeForm">
              <uib-tab index="0">
                <uib-tab-heading>
                  <span translate="ORDER_OFFER.OFFERS.TITLE">All offers</span>
                </uib-tab-heading>
                <p class="help-block" ng-if="false">No offer available</p>

                <table class="table table-condensed table-hover table-striped table-offers" cellspacing="0">
                  <thead>
                  <tr class="thead-first-row">
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2"><span class="blue">Shipping</span></th>
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2" class="sortable" title="Sort by Expected delivery">Expected delivery</th>
                    <th style="text-align: center;" class="sortable" title="Sort by Price">Price</th>
                  </tr>
                  <tr class="thead-second-row">
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2">
                      <label class="checkbox-inline" title="Price">
                        <input type="checkbox" value="1" ng-model="ctrl.shipment_pickup" ng-click="ctrl.switchShipPickup()">
                        <span class="fa fa-home orange" title="Pickup"></span>
                      </label>&nbsp;
                      <label class="checkbox-inline" title="Dropoff">
                        <input type="checkbox" value="1" ng-model="ctrl.shipment_dropoff" ng-click="ctrl.switchShipPickup()">
                        <span class="fa fa-map-marker blue" title="Dropoff"></span>
                      </label>
                    </th>
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2">
                      <label class="checkbox-inline" title="On-site">
                        <input type="checkbox" value="1" ng-model="ctrl.delivery_onsite" ng-click="ctrl.switchDeliveryDropoff()">
                        <span class="fa fa-home orange" title="On-site"></span>
                      </label>&nbsp;
                      <label class="checkbox-inline" title="Dropoff">
                        <input type="checkbox" value="1" ng-model="ctrl.delivery_dropoff" ng-click="ctrl.switchDeliveryDropoff()">
                        <span class="fa fa-map-marker blue" title="Dropoff"></span>
                      </label>
                    </th>
                    <th style="text-align: center;"></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="offer in ctrl.display_offers">
                      <td style="text-align: center; max-width: 60px;">
                        <img ng-src={{offer.carrier_logo}} style="width: 50px; height: auto;">
                      </td>
                      <td style="text-align: center; max-width: 150px;">{{offer.shipment_weekday}}<br>
                        <strong>{{offer.shipment_date}}</strong><br>
                        <span id="popmark-more-info-9768123" class="control-label popmark" data-placement="bottom" style="cursor:pointer;" data-content="Express Service, transportation operated by UPS<br />
                          Collection from the sender's address or dropoff on Monday 31 October 2016<br />
                          Delivery at the recipient address on Friday 04 November 2016 during the day<br />
                          Guaranteed delivery time but no refund (<a target='_blank' href='https://www.upela.com/en/shipment-customer-service-late-lost-parcel-60.html'>further details</a>)<br />
                          Possible online tracking<br />
                          Option: insurance Ad Valorem" data-original-title="" title="">{{offer.service_name}}</span>
                      </td>
                      <td style="text-align: center; padding-left: 0; padding-right: 0; max-width: 75px;">
                        <span ng-if="offer.allow_pickup_flag" class="dropoff-info orange dropoff-info-pickup" style="display: inline;">
                          <span class="fa fa-home"></span><br>Pickup
                        </span>
                        <span ng-if="!offer.allow_pickup_flag" class="dropoff-info blue dropoff-info-dropoff" style="display: inline;">
                          <span class="fa fa-map-marker"></span>
                          <br><a class="text-underline" href="https://www.ups.com/dropoff?loc=en_US" target="_blank">Dropoff</a>
                        </span>
                      </td>
                      <td style="text-align: center; padding-left: 0; padding-right: 0;">
                        <img src="images/icons/arrow-small.png">
                      </td>
                      <td style="text-align: center; padding-left: 0; padding-right: 0; max-width: 75px;">
                        <span class="dropoff-info orange" ng-if="!offer.delivery_flag">
                          <span class="fa fa-home"></span>
                          <br>On-site
                        </span>
                        <span class="dropoff-info blue" ng-if="offer.delivery_flag">
                          <span class="fa fa-map-marker"></span>
                          <br><a class="text-underline" href="#">Dropoff</a>
                        </span>
                      </td>
                      <td style="text-align: center;">{{offer.delivery_weekday}}<br>
                        <strong>{{offer.delivery_date}}</strong>
                        <br>during the day
                      </td>
                      <td style="text-align: center;">
                        <span class="price-bold">
                          <span ng-if="offer.currency === 'EUR'">{{offer.price_excl_tax}} € with tax</span>
                          <span ng-if="offer.currency === 'USD'">{{offer.price_excl_tax}} $ with tax</span>
                        </span>
                        <br>
                        <span class="price-small">
                          <span ng-if="offer.currency === 'EUR'">({{offer.price_incl_tax}} € with tax)</span>
                          <span ng-if="offer.currency === 'USD'">({{offer.price_incl_tax}} $ with tax)</span>
                        </span>
                        <br>
                        <a class="btn btn-primary" ng-click="ctrl.chooseOffer(offer)">CHOOSE</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="clear"></div>
              </uib-tab>
              <uib-tab index="1">
                <uib-tab-heading>
                  <span translate="ORDER_OFFER.COURIERS.TITLE">Couriers</span>
                </uib-tab-heading>
                <p class="help-block" ng-if="false">No offer available</p>

                <table class="table table-condensed table-hover table-striped table-offers" cellspacing="0">
                  <thead>
                  <tr class="thead-first-row">
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2"><span class="blue">Shipping</span></th>
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2" class="sortable" title="Sort by Expected delivery">Expected delivery</th>
                    <th style="text-align: center;" class="sortable" title="Sort by Price">Price</th>
                  </tr>
                  <tr class="thead-second-row">
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2">
                      <label class="checkbox-inline" title="Price">
                        <input type="checkbox" value="1" ng-model="ctrl.shipment_pickup" ng-click="ctrl.switchShipPickup()">
                        <span class="fa fa-home orange" title="Pickup"></span>
                      </label>&nbsp;
                      <label class="checkbox-inline" title="Dropoff">
                        <input type="checkbox" value="1" ng-model="ctrl.shipment_dropoff" ng-click="ctrl.switchShipPickup()">
                        <span class="fa fa-map-marker blue" title="Dropoff"></span>
                      </label>
                    </th>
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2">
                      <label class="checkbox-inline" title="On-site">
                        <input type="checkbox" value="1" ng-model="ctrl.delivery_onsite" ng-click="ctrl.switchDeliveryDropoff()">
                        <span class="fa fa-home orange" title="On-site"></span>
                      </label>&nbsp;
                      <label class="checkbox-inline" title="Dropoff">
                        <input type="checkbox" value="1" ng-model="ctrl.delivery_dropoff" ng-click="ctrl.switchDeliveryDropoff()">
                        <span class="fa fa-map-marker blue" title="Dropoff"></span>
                      </label>
                    </th>
                    <th style="text-align: center;"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="offer in ctrl.display_offers">
                    <td style="text-align: center; max-width: 60px;">
                      <img ng-src={{offer.carrier_logo}} style="width: 50px; height: auto;">
                    </td>
                    <td style="text-align: center; max-width: 150px;">{{offer.shipment_weekday}}<br>
                      <strong>{{offer.shipment_date}}</strong><br>
                        <span id="popmark-more-info-9768123" class="control-label popmark" data-placement="bottom" style="cursor:pointer;" data-content="Express Service, transportation operated by UPS<br />
                          Collection from the sender's address or dropoff on Monday 31 October 2016<br />
                          Delivery at the recipient address on Friday 04 November 2016 during the day<br />
                          Guaranteed delivery time but no refund (<a target='_blank' href='https://www.upela.com/en/shipment-customer-service-late-lost-parcel-60.html'>further details</a>)<br />
                          Possible online tracking<br />
                          Option: insurance Ad Valorem" data-original-title="" title="">{{offer.service_name}}</span>
                    </td>
                    <td style="text-align: center; padding-left: 0; padding-right: 0; max-width: 75px;">
                        <span ng-if="offer.allow_pickup_flag" class="dropoff-info orange dropoff-info-pickup" style="display: inline;">
                          <span class="fa fa-home"></span><br>Pickup
                        </span>
                        <span ng-if="!offer.allow_pickup_flag" class="dropoff-info blue dropoff-info-dropoff" style="display: inline;">
                          <span class="fa fa-map-marker"></span>
                          <br><a class="text-underline" href="https://www.ups.com/dropoff?loc=en_US" target="_blank">Dropoff</a>
                        </span>
                    </td>
                    <td style="text-align: center; padding-left: 0; padding-right: 0;">
                      <img src="images/icons/arrow-small.png">
                    </td>
                    <td style="text-align: center; padding-left: 0; padding-right: 0; max-width: 75px;">
                        <span class="dropoff-info orange" ng-if="!offer.delivery_flag">
                          <span class="fa fa-home"></span>
                          <br>On-site
                        </span>
                        <span class="dropoff-info blue" ng-if="offer.delivery_flag">
                          <span class="fa fa-map-marker"></span>
                          <br><a class="text-underline" href="#">Dropoff</a>
                        </span>
                    </td>
                    <td style="text-align: center;">{{offer.delivery_weekday}}<br>
                      <strong>{{offer.delivery_date}}</strong>
                      <br>during the day
                    </td>
                    <td style="text-align: center;">
                        <span class="price-bold">
                          <span ng-if="offer.currency === 'EUR'">{{offer.price_excl_tax}} € with tax</span>
                          <span ng-if="offer.currency === 'USD'">{{offer.price_excl_tax}} $ with tax</span>
                        </span>
                      <br>
                        <span class="price-small">
                          <span ng-if="offer.currency === 'EUR'">({{offer.price_incl_tax}} € with tax)</span>
                          <span ng-if="offer.currency === 'USD'">({{offer.price_incl_tax}} $ with tax)</span>
                        </span>
                      <br>
                      <a class="btn btn-primary" ng-click="ctrl.chooseOffer()">CHOOSE</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="clear"></div>
              </uib-tab>
              <uib-tab index="2">
                <uib-tab-heading>
                  <span translate="ORDER_OFFER.EXPRESS.TITLE">EXPRESS</span>
                </uib-tab-heading>
                <p class="help-block" ng-if="false">No offer available</p>

                <table class="table table-condensed table-hover table-striped table-offers" cellspacing="0">
                  <thead>
                  <tr class="thead-first-row">
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2"><span class="blue">Shipping</span></th>
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2" class="sortable" title="Sort by Expected delivery">Expected delivery</th>
                    <th style="text-align: center;" class="sortable" title="Sort by Price">Price</th>
                  </tr>
                  <tr class="thead-second-row">
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2">
                      <label class="checkbox-inline" title="Price">
                        <input type="checkbox" value="1" ng-model="ctrl.shipment_pickup" ng-click="ctrl.switchShipPickup()">
                        <span class="fa fa-home orange" title="Pickup"></span>
                      </label>&nbsp;
                      <label class="checkbox-inline" title="Dropoff">
                        <input type="checkbox" value="1" ng-model="ctrl.shipment_dropoff" ng-click="ctrl.switchShipPickup()">
                        <span class="fa fa-map-marker blue" title="Dropoff"></span>
                      </label>
                    </th>
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2">
                      <label class="checkbox-inline" title="On-site">
                        <input type="checkbox" value="1" ng-model="ctrl.delivery_onsite" ng-click="ctrl.switchDeliveryDropoff()">
                        <span class="fa fa-home orange" title="On-site"></span>
                      </label>&nbsp;
                      <label class="checkbox-inline" title="Dropoff">
                        <input type="checkbox" value="1" ng-model="ctrl.delivery_dropoff" ng-click="ctrl.switchDeliveryDropoff()">
                        <span class="fa fa-map-marker blue" title="Dropoff"></span>
                      </label>
                    </th>
                    <th style="text-align: center;"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="offer in ctrl.display_offers">
                    <td style="text-align: center; max-width: 60px;">
                      <img ng-src={{offer.carrier_logo}} style="width: 50px; height: auto;">
                    </td>
                    <td style="text-align: center; max-width: 150px;">{{offer.shipment_weekday}}<br>
                      <strong>{{offer.shipment_date}}</strong><br>
                        <span id="popmark-more-info-9768123" class="control-label popmark" data-placement="bottom" style="cursor:pointer;" data-content="Express Service, transportation operated by UPS<br />
                          Collection from the sender's address or dropoff on Monday 31 October 2016<br />
                          Delivery at the recipient address on Friday 04 November 2016 during the day<br />
                          Guaranteed delivery time but no refund (<a target='_blank' href='https://www.upela.com/en/shipment-customer-service-late-lost-parcel-60.html'>further details</a>)<br />
                          Possible online tracking<br />
                          Option: insurance Ad Valorem" data-original-title="" title="">{{offer.service_name}}</span>
                    </td>
                    <td style="text-align: center; padding-left: 0; padding-right: 0; max-width: 75px;">
                        <span ng-if="offer.allow_pickup_flag" class="dropoff-info orange dropoff-info-pickup" style="display: inline;">
                          <span class="fa fa-home"></span><br>Pickup
                        </span>
                        <span ng-if="!offer.allow_pickup_flag" class="dropoff-info blue dropoff-info-dropoff" style="display: inline;">
                          <span class="fa fa-map-marker"></span>
                          <br><a class="text-underline" href="https://www.ups.com/dropoff?loc=en_US" target="_blank">Dropoff</a>
                        </span>
                    </td>
                    <td style="text-align: center; padding-left: 0; padding-right: 0;">
                      <img src="images/icons/arrow-small.png">
                    </td>
                    <td style="text-align: center; padding-left: 0; padding-right: 0; max-width: 75px;">
                        <span class="dropoff-info orange" ng-if="!offer.delivery_flag">
                          <span class="fa fa-home"></span>
                          <br>On-site
                        </span>
                        <span class="dropoff-info blue" ng-if="offer.delivery_flag">
                          <span class="fa fa-map-marker"></span>
                          <br><a class="text-underline" href="#">Dropoff</a>
                        </span>
                    </td>
                    <td style="text-align: center;">{{offer.delivery_weekday}}<br>
                      <strong>{{offer.delivery_date}}</strong>
                      <br>during the day
                    </td>
                    <td style="text-align: center;">
                        <span class="price-bold">
                          <span ng-if="offer.currency === 'EUR'">{{offer.price_excl_tax}} € with tax</span>
                          <span ng-if="offer.currency === 'USD'">{{offer.price_excl_tax}} $ with tax</span>
                        </span>
                      <br>
                        <span class="price-small">
                          <span ng-if="offer.currency === 'EUR'">({{offer.price_incl_tax}} € with tax)</span>
                          <span ng-if="offer.currency === 'USD'">({{offer.price_incl_tax}} $ with tax)</span>
                        </span>
                      <br>
                      <a class="btn btn-primary" ng-click="ctrl.chooseOffer()">CHOOSE</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="clear"></div>
              </uib-tab>
              <uib-tab index="3">
                <uib-tab-heading>
                  <span translate="ORDER_OFFER.STANDARD.TITLE">Standard</span>
                </uib-tab-heading>
                <p class="help-block" ng-if="false">No offer available</p>

                <table class="table table-condensed table-hover table-striped table-offers" cellspacing="0">
                  <thead>
                  <tr class="thead-first-row">
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2"><span class="blue">Shipping</span></th>
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2" class="sortable" title="Sort by Expected delivery">Expected delivery</th>
                    <th style="text-align: center;" class="sortable" title="Sort by Price">Price</th>
                  </tr>
                  <tr class="thead-second-row">
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2">
                      <label class="checkbox-inline" title="Price">
                        <input type="checkbox" value="1" ng-model="ctrl.shipment_pickup" ng-click="ctrl.switchShipPickup()">
                        <span class="fa fa-home orange" title="Pickup"></span>
                      </label>&nbsp;
                      <label class="checkbox-inline" title="Dropoff">
                        <input type="checkbox" value="1" ng-model="ctrl.shipment_dropoff" ng-click="ctrl.switchShipPickup()">
                        <span class="fa fa-map-marker blue" title="Dropoff"></span>
                      </label>
                    </th>
                    <th style=""></th>
                    <th style="text-align: center;" colspan="2">
                      <label class="checkbox-inline" title="On-site">
                        <input type="checkbox" value="1" ng-model="ctrl.delivery_onsite" ng-click="ctrl.switchDeliveryDropoff()">
                        <span class="fa fa-home orange" title="On-site"></span>
                      </label>&nbsp;
                      <label class="checkbox-inline" title="Dropoff">
                        <input type="checkbox" value="1" ng-model="ctrl.delivery_dropoff" ng-click="ctrl.switchDeliveryDropoff()">
                        <span class="fa fa-map-marker blue" title="Dropoff"></span>
                      </label>
                    </th>
                    <th style="text-align: center;"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="offer in ctrl.display_offers">
                    <td style="text-align: center; max-width: 60px;">
                      <img ng-src={{offer.carrier_logo}} style="width: 50px; height: auto;">
                    </td>
                    <td style="text-align: center; max-width: 150px;">{{offer.shipment_weekday}}<br>
                      <strong>{{offer.shipment_date}}</strong><br>
                        <span id="popmark-more-info-9768123" class="control-label popmark" data-placement="bottom" style="cursor:pointer;" data-content="Express Service, transportation operated by UPS<br />
                          Collection from the sender's address or dropoff on Monday 31 October 2016<br />
                          Delivery at the recipient address on Friday 04 November 2016 during the day<br />
                          Guaranteed delivery time but no refund (<a target='_blank' href='https://www.upela.com/en/shipment-customer-service-late-lost-parcel-60.html'>further details</a>)<br />
                          Possible online tracking<br />
                          Option: insurance Ad Valorem" data-original-title="" title="">{{offer.service_name}}</span>
                    </td>
                    <td style="text-align: center; padding-left: 0; padding-right: 0; max-width: 75px;">
                        <span ng-if="offer.allow_pickup_flag" class="dropoff-info orange dropoff-info-pickup" style="display: inline;">
                          <span class="fa fa-home"></span><br>Pickup
                        </span>
                        <span ng-if="!offer.allow_pickup_flag" class="dropoff-info blue dropoff-info-dropoff" style="display: inline;">
                          <span class="fa fa-map-marker"></span>
                          <br><a class="text-underline" href="https://www.ups.com/dropoff?loc=en_US" target="_blank">Dropoff</a>
                        </span>
                    </td>
                    <td style="text-align: center; padding-left: 0; padding-right: 0;">
                      <img src="images/icons/arrow-small.png">
                    </td>
                    <td style="text-align: center; padding-left: 0; padding-right: 0; max-width: 75px;">
                        <span class="dropoff-info orange" ng-if="!offer.delivery_flag">
                          <span class="fa fa-home"></span>
                          <br>On-site
                        </span>
                        <span class="dropoff-info blue" ng-if="offer.delivery_flag">
                          <span class="fa fa-map-marker"></span>
                          <br><a class="text-underline" href="#">Dropoff</a>
                        </span>
                    </td>
                    <td style="text-align: center;">{{offer.delivery_weekday}}<br>
                      <strong>{{offer.delivery_date}}</strong>
                      <br>during the day
                    </td>
                    <td style="text-align: center;">
                        <span class="price-bold">
                          <span ng-if="offer.currency === 'EUR'">{{offer.price_excl_tax}} € with tax</span>
                          <span ng-if="offer.currency === 'USD'">{{offer.price_excl_tax}} $ with tax</span>
                        </span>
                      <br>
                        <span class="price-small">
                          <span ng-if="offer.currency === 'EUR'">({{offer.price_incl_tax}} € with tax)</span>
                          <span ng-if="offer.currency === 'USD'">({{offer.price_incl_tax}} $ with tax)</span>
                        </span>
                      <br>
                      <a class="btn btn-primary" ng-click="ctrl.chooseOffer()">CHOOSE</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="clear"></div>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel-white cancel-padding-left-15 panel-muted">
            <p>
              <span class="very-light-grey bold">
                <span translate="ORDER_OFFER.PAST_STEP.TITLE">1. Your shipment&nbsp;&nbsp;</span>
                <a ng-click="ctrl.remakeShipment()">
                  <i class="fa fa-pencil"></i>
                </a>
              </span>
            </p>
            <p style="margin-bottom: 10px;" ng-repeat="parcel in ctrl.shipment.parcels">
              <span translate="ORDER_OFFER.PAST_STEP.TYPE"></span>
              <span ng-if="ctrl.shipment.unit === fr"> {{$index+1}} Parcel(s)<br> {{$index+1}} Parcel(s) of {{parcel.weight}} kg ({{parcel.x}}x{{parcel.y}}x{{parcel.z}}cm)<br></span>
              <span ng-if="ctrl.shipment.unit !== fr"> {{$index+1}} Parcel(s)<br> {{$index+1}} Parcel(s) of {{parcel.weight}} lbs ({{parcel.x}}x{{parcel.y}}x{{parcel.z}}in)<br></span>
              <span translate="ORDER_OFFER.PAST_STEP.FROM"></span>
              <span> {{ctrl.shipment.ship_from.postcode}} ({{ctrl.shipment.ship_from.country_name}})<br></span>
              <span translate="ORDER_OFFER.PAST_STEP.TO"></span>
              <span> {{ctrl.shipment.ship_to.postcode}} ({{ctrl.shipment.ship_to.country_name}})<br></span>
              <span translate="ORDER_OFFER.PAST_STEP.DATE"></span>
              <span> {{ctrl.shipment.shipment_date}}<br></span>
            </p>

            <div style="text-align: justify;">
              <span translate="ORDER_OFFER.PAST_STEP.COMMENT">Our prices include fuel supplements, Air Cargo Security and all other supplements - residential address, remote location, oversize, extra handling supplements …. <strong>but do not include taxes and duties, nor possible customs checks, weight or dimensions amendments, address amendments</strong>...</span>
              <a href="https://www.upela.com/en/documents-for-an-international-consignment-25.html">
                <span style="text-decoration: underline;" translate="ORDER_OFFER.PAST_STEP.MORE_INFO">More infos</span>
              </a>
            </div>
            <br>
            <a class="orange pull-left">
              <i class="glyphicon glyphicon-envelope" style="margin-right: 5px;"></i>
              <span translate="ORDER_OFFER.PAST_STEP.EMAIL">Send by email</span>
            </a>
            <br>
          </div>

          <div class="panel-white cancel-padding-left-15">
            <a href="https://www.upela.com/en/my-account/refer-contacts" target="_blank">
              <img class="img-responsive block-center" alt="Refer your contacts and win 30€ !" src="images/files/upload/parrainage/parrainage-en.png">
            </a>
          </div>

          <div class="panel-white cancel-padding-left-15 panel-muted">
            <uib-accordion close-others="true">
              <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                  <i class="fa fa-question-circle"></i>
                  <span translate="ORDER_OFFER.QUESTION.TITLE">Frequently asked questions</span>
                </uib-accordion-heading>
                <p>
                  <p><a target="_blank" translate="ORDER_OFFER.QUESTION.COMMENT1">Comment effectuer un devis ?</a></p>
                  <p><a target="_blank" translate="ORDER_OFFER.QUESTION.COMMENT2">Est-ce que vous fournissez/effectuez l’emballage ?</a></p>
                  <p><a target="_blank" translate="ORDER_OFFER.QUESTION.COMMENT3">Que se passe-t-il si je ne suis pas présent lors de la livraison ?</a></p>
                  <p><a target="_blank" translate="ORDER_OFFER.QUESTION.COMMENT4">Le destinataire peut-il également passer commande ?</a></p>
                  <p><a target="_blank" translate="ORDER_OFFER.QUESTION.COMMENT5">Je ne veux pas que ce soit le destinataire qui paye les droits et taxes, comment puis-je faire ?</a></p>
                  <p><a target="_blank" translate="ORDER_OFFER.QUESTION.COMMENT6">Le coursier n’a pas pu récupérer mon colis car l’adresse de l’expéditeur était incomplète, que dois-je faire ?</a></p>
                  <p><a target="_blank" translate="ORDER_OFFER.QUESTION.COMMENT7">Le suivi de mon envoi n’affiche aucune information, comment cela se fait ?</a></p>
                  <p><a target="_blank" translate="ORDER_OFFER.QUESTION.COMMENT8">Si mon colis est livré avec du retard, puis-je me faire rembourser ?</a></p>
                </p>
              </div>
            </uib-accordion>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
