<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <div id="load">
        <img src="images/loading.gif" alt="Loading...">&nbsp;&nbsp;Please wait...
      </div>

      <h1>My Client Space</h1>
      <div class="row">
        <div class="col-md-2">
          <ul id="account-nav" class="nav nav-tabs nav-stacked account-nav">
            <li>
              <a href="#/my-account"><span class="fa fa-home"></span> Overall view</a>
            </li>
          </ul>

          <ul id="account-nav2" class="nav nav-tabs nav-stacked account-nav">
            <!--<li><a href="https://www.upela.com/en/"><span class="fa fa-paper-plane"></span> Single shipment</a></li>-->
            <li><a href="#/ship-to-contact"><span class="fa fa-user"></span> Ship to contact</a></li>
            <li><a href="#/mass-mailing"><span class="fa fa-users"></span> Mass mailing</a></li>
            <li><a href="#/mass-mailing-upload"><span class="fa fa-floppy-o"></span> Sending by file</a></li>
          </ul>

          <ul id="account-nav3" class="nav nav-tabs nav-stacked account-nav">
            <li><a href="#/my-contacts"><span class="fa fa-book"></span> My contacts</a></li>
            <li><a href="#/credit-account"><span class="fa fa-credit-card"></span> Credit account</a></li>
            <li><a href="#/my-store"><span class="fa fa-shopping-cart"></span> My stores</a></li>
            <li><a href="#/settings"><span class="fa fa-cogs"></span> Settings</a></li>
          </ul>

          <ul id="account-nav4" class="nav nav-tabs nav-stacked account-nav">
            <li><h3>Our programs</h3></li>
            <li class="active"><a href="#/refer-contacts"><span class="fa fa-gift"></span> Referral</a></li>
            <li><a href="#/loyalty"><span class="fa fa-gift"></span> Loyalty</a></li>
          </ul>
        </div>

        <div class="col-md-7">
          <div class="cms_content">
            <div class="row">
              <div class="col-md-12">
                <div class="panel-white cancel-padding-left-15" style="text-align: center;">
                  <h1 style="text-align: center;">
                    <span style="color: #41a7bc;">SPONSORSHIP </span>
                    <span style="color: #808080;">Operation :<br>The Win-Win Principle<br></span>
                    <span style="color: #808080;">according to&nbsp;</span>
                    <span style="color: #f37845;">Upela !</span>
                  </h1>
                  with gift vouchers&nbsp;<br><br>
                  <img src="images/files/upload/parrainage/logo_eticket_kadeos.png" alt="parrainage avec Ticket Kadeos Online" width="154" height="42">
                </div>
                <div class="cancel-padding-left-15" style="margin-bottom: 20px;">
                  <img class="img-responsive" src="images/files/upload/parrainage/offre-parrainage-en.png" alt="Win Win operation" style="max-height: 500px; display: block; margin-left: auto; margin-right: auto;" width="765" height="261">
                </div>
              </div>
            </div>
          </div>

          <div class="panel-white cancel-padding-left-15 panel-white-bordered-">
            <h2 style="margin-bottom: 10px;">
              <i class="fa fa-gift"></i>How does it work?
            </h2>

            <p>There are two options :</p>
            <br>

            <p><strong><u>Option n°1 :</u></strong></p>
            <p><strong>Invite your social media contacts:</strong></p>
            <p>Just click here, and win €20 per sponsored person.</p>
            <br>

            <div class="addthis_toolbox_container2">
              <div class="addthis_toolbox addthis_default_style addthis_32x32_style text-center" addthis:url="http://localhost:32769/en/contact-pro?parrain=cli1l@upela.com" addthis:title="Spread the word: we can now ship without breaking the bank!" addthis:description="Discover the easiest and most cost-effective way of sending your parcels, pallets, ... Take advantage of services provided by the leaders Chronopost, UPS, FedEx, DHL, TNT, DPD at the best price. A free service, without minimum invoice designed for SMEs." addthis:image="http://localhost:32769/files/upload/parrainage/upela-partenaire-transport-tpe-pme.jpg">
                <a class="addthis_button_facebook at300b" title="Share on Facebook" href="#">
                  <span class="btn btn-md btn-facebook">
                    <i class="fa fa-facebook"></i>Share on Facebook
                  </span>
                </a>
                <!--<a class="addthis_button_twitter" title="Share on Twitter"><span class="btn btn-md btn-twitter"><i class="fa fa-twitter"></i>Share on Twitter</span></a>-->
                <a class="addthis_button_linkedin at300b" title="Share on LinkedIn" target="_blank" href="#">
                  <span class="btn btn-md btn-linkedin">
                    <i class="fa fa-linkedin"></i>Share on LinkedIn
                  </span>
                </a>
                <a class="addthis_button_viadeo at300b" title="Share on Viadeo" target="_blank" href="#">
                  <span class="btn btn-md btn-viadeo">
                    <i class="viadeo"></i>Share on Viadeo
                  </span>
                </a>
                <div class="atclear"></div>
              </div>
            </div>

            <p>&nbsp;</p>
            <p><strong><u>Option n°2 :</u></strong></p>

            <form class="form-horizontal" role="form" enctype="multipart/form-data" action="http://localhost:32769/en/my-account/refer-contacts" accept-charset="UTF-8" method="post">
              <input type="hidden" name="refer_contacts" value="1">

              <div class="form-group">
                <div class="col-md-12">
                  <p>Add the email of the contacts you want to refer.</p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-9 col-md-offset-2">
                  <ul id="recipients">
                    <li id="recipient0" class="field recipient">
                      <input type="text" class="form-control" id="email_0" name="email[]" value="" maxlength="64" placeholder="@">
                    </li>

                    <li id="add-remove-buttons-cell">
                      <a id="add_link" href="#" onclick="addRowToTable(); return false;" title="Add">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                      </a>
                      <a id="remove_link" href="#" onclick="removeRowFromTable(); return false;" title="Remove">
                        <i class="glyphicon glyphicon-remove-sign"></i>
                      </a>
                    </li>
                  </ul>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <p>Add a personalized message:</p>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2">Message</label>
                <div class="col-md-9">
                  <textarea class="input-xxlarge" id="message" name="message" rows="3" style="overflow: hidden;"></textarea>
                </div>
              </div>

              <center>
                <button type="submit" class="btn btn-primary btn-lg">
                  <i class="glyphicon glyphicon-ok"></i> Send invitations
                </button>
              </center>
              <br>

              <div class="form-group">
                <div class="col-md-12">
                  <p>You can also send by email the link below to your contacts:<br>
                    http://localhost:32769/en/contact-pro?parrain=cli1l@upela.com      </p>
                </div>
              </div>
            </form>
            <!--</div>-->
          </div>

          <div class="cms_content">
            <div class="panel-white cancel-padding-left-15">
              <h2>
                <span style="text-decoration: underline;">
                  <a href="https://www.ticketkadeosonline.fr/Presentation.aspx">Ticket Kadéos® Online</a>
                </span> voucher benefits :
              </h2>
              <ul>
                <li>Easy and practical, the gift voucher is directly emailed to beneficiary;</li>
                <li>It allows an easy and secured purchase on the Internet, 24/7;</li>
                <li>Scored : can be spent in one purchase or divided into several purchases;</li>
                <li>Compatible with other additional means of payment;</li>
                <li>Access to thousands of items on 36 online shops covering various industries;</li>
                <li>The beneficiary is allowed to exchange his Ticket Kadéos® Online voucher with a Ticket Kadéos® Infini.paper gift voucher.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 cancel-padding-left-15 cms_content">
          <div class="panel-white" style="text-align: justify;">
            <h5 style="text-align: center;">
              <span style="color: #808080;">Ticket Kadéos® Online voucher give access to thousands of items on 36 online shops covering various industries</span><br><img class="img-responsive" src="/files/upload/parrainage/logos Kadeos nouvelle disposition.png" alt="liste enseignes partenaires" width="337" height="323" style="max-height: 500px; display: block; margin-left: auto; margin-right: auto;"><span style="color: #808080;">They are also redeemable for Ticket Kadeos Infini® paper gift vouchers</span>
            </h5>
          </div>
          <div class="panel-white" style="text-align: justify;">
            <h2>Terms and conditions:</h2>
            <ul>
              <li style="text-align: left;">Offer cannot be combined with other commercial operations<br><br></li>
              <li style="text-align: left;">Valid for 12 months from the date on which the beneficiary has been emailed<br><br></li>
              <li style="text-align: left;">The Sponsored Person must not be an employee from the same company (or any subsidiary company belonging to the same group) as his Sponsor.<br><br></li>
              <li style="text-align: left;">A sponsor cannot sponsor himself<br><br></li>
              <li style="text-align: left;">The email address from the Sponsored Person must be different from the email address of his Sponsor</li>
            </ul>
          </div>
          <div class="panel-white" style="text-align: justify;">
            <div class="alert alert-warning">Please note that we invite you today to add to your address book the email address of the shipper of your Kadéos gift voucher: <a href="mailto:c.lopez@upela.com">c.lopez@upela.com</a>. Also, do not forget to check your “Junk Mail” or “Spam” folders.</div>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
