<div id="wrapper" class="clearfix container">
  <div class="clearfix row">
    <section id="main" class="col-lg-12">
      <h1 translate="REGISTER.TITLE">Parcel consignment account</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="panel-white panel-white-bordered- clearfix">
            <h2 translate="REGISTER.ALREADY">Already registered?</h2>

            <form id="LoginForm" class="form-horizontal" accept-charset="UTF-8">
              <div class="form-group">
                <label for="login" class="control-label col-lg-3 required" translate="LOGIN.EMAIL">Email</label>
                <div class="col-lg-7">
                  <input type="text" id="login" name="login" class="form-control" value="1CLI1" placeholder="Login" maxlength="100" autocomplete="off">
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="control-label col-lg-3 required" translate="LOGIN.PASSWORD">Password</label>
                <div class="col-lg-7">
                  <input type="password" id="password" name="password" class="form-control" value="upela1" placeholder="Password" maxlength="100" autocomplete="off">
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                  <div class="checkbox" style="padding: 0;">
                    <label for="remember_me" class="">
                      <input type="checkbox" id="remember_me" name="remember_me" class="" value="1" checked="">
                      <span  translate="LOGIN.REMEMBER"></span>
                    </label>
                  </div>

                  <span class="help-block">
                    <a href="#" translate="LOGIN.FORGOT">Forgot password?</a>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                  <button type="submit" class="btn btn-primary" id="btn_login"  ng-click="$ctrl.login()">
                    <span class="fa fa-lock"></span>
                    <span translate="LOGIN.LOGIN"></span>
                  </button>
                </div>
              </div>
            </form>
            <div class="clear"></div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="panel-white panel-white-bordered- clearfix">
            <h2 translate="REGISTER.OPEN">Open an account</h2>
            <form id="RegisterForm" class="form-horizontal">
              <div class="form-group">
                <label for="email" class="control-label col-lg-3 required" translate="LOGIN.EMAIL">Email</label>

                <div class="col-lg-7">
                  <input type="text" id="email" name="email" class="form-control validate" data-validate="isEmail" value="" maxlength="100">
                </div>
              </div>

              <div class="form-group ">
                <label for="register_password" class="control-label col-lg-3 required" translate="LOGIN.PASSWORD">Password</label>
                <div class="col-lg-7">
                  <input type="password" id="register_password" name="password" class="form-control validate" data-validate="isPassword" value="" maxlength="15">
                </div>
              </div>

              <div class="form-group ">
                <label for="password2" class="control-label col-lg-3 required" translate="REGISTER.CONFIRM">Confirm password</label>
                <div class="col-lg-7">
                  <input type="password" id="password2" name="password2" class="form-control" value="" maxlength="100">
                </div>
              </div>

              <div class="form-group hidden">
                <label class="control-label col-lg-3">Choose your type of account</label>
                <div class="col-lg-9">
                  <div class="radio-inline" id="radio-inline-address_pro-0">
                    <label for="address_pro-0">
                      <input type="radio" id="address_pro-0" name="address_pro" value="0" checked="" onclick="selectAccountType();">&nbsp;Personnal account
                    </label>
                  </div>

                  <div class="radio-inline" id="radio-inline-address_pro-1">
                    <label for="address_pro-1">
                      <input type="radio" id="address_pro-1" name="address_pro" value="1" onclick="selectAccountType();">&nbsp;Professional account
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                  <p class="help-block">
                    <p translate="REGISTER.COMMENT"></p>
                    <a class="text-underline" href="#" translate="REGISTER.ADVANTAGE">What are the advantages of a pro account?</a>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                  <button type="submit" class="btn btn-primary" id="btn_register_perso" name="btn_register_perso">
                    <span class="fa fa-user"></span>
                    <span translate="REGISTER.PERSONAL"></span>
                  </button>&nbsp;&nbsp;
                  <button type="submit" class="btn btn-primary" id="btn_register_pro" name="btn_register_pro">
                    <span class="fa fa-user"></span>
                    <span translate="REGISTER.PROFESSIONAL"></span>
                  </button>
                </div>
              </div>
            </form>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </section><!-- end main -->
  </div><!-- end .row -->
</div>
