<div id="header-spacer"></div>
<nav id="header" class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index" title="Upela">
        <img src="images/header/logo-upela.png" alt=""/>
        <span translate>MAIN.TITLE</span>
      </a>
    </div>
    <div id="main-navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" id="main-navbar-nav">
        <li><a href="#/settings" translate="MAIN.MENU.PROFESSIONALS"></a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span translate="MAIN.MENU.SERVICES.TITLE"></span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a href="#">
                <span translate>MAIN.MENU.SERVICES.DESTINATIONS.TITLE</span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" translate="MAIN.MENU.SERVICES.DESTINATIONS.AFRICA">Africa</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.DESTINATIONS.AMERICA">America</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.DESTINATIONS.ASIA">Asia</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.DESTINATIONS.DOM_TOM">DOM-TOM</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.DESTINATIONS.EASTERN_EUROPE">Eastern Europe</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.DESTINATIONS.EUROPE">Europe</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.DESTINATIONS.MIDDLE_EAST">Middle East</a></li>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.TITLE">Express courier</a>
              <ul class="dropdown-menu">
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.FRANCE">France</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.EUROPE">Europe</a></li>
                <hr style="margin: 5px 0;">
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.AIX">Aix en Provence</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.BORDEAUX">Bordeaux</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.LILLE">Lille</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.LYON">Lyon</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.MARSEILLE">Marseille</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.MONTPELLIER">Montpellier</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.NANTES">Nantes</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.NICE">Nice</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.PARIS">Paris</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.RENNES">Rennes</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.STRASBOURG">Strasbourg</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.EXPRESS_COURIER.TOULOUSE">Toulouse</a></li>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a translate="MAIN.MENU.SERVICES.CARRIERS.TITLE">Carriers</a>
              <ul class="dropdown-menu">
                <li><a href="#" translate="MAIN.MENU.SERVICES.CARRIERS.CHRONOPOST">Chronopost</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.CARRIERS.COLISSIMO">Colissimo</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.CARRIERS.DHL">DHL</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.CARRIERS.DPD">DPD</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.CARRIERS.FEDEX">FedEx</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.CARRIERS.MONDIAL">Mondial Relay</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.CARRIERS.TNT">TNT</a></li>
                <li><a href="#" translate="MAIN.MENU.SERVICES.CARRIERS.UPS">UPS</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li><a translate="MAIN.MENU.TRACKING">Tracking</a></li>

        <li><a translate="MAIN.MENU.HELP">Help</a></li>

        <li><a translate="MAIN.MENU.BLOG">Blog</a></li>

        <li><a translate="MAIN.MENU.CONTACT">Contact</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-lang">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img ng-src="{{selLanguage.image}}" title={{selLanguage.language}}>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" style="min-width: 0; max-width: 58px;">
            <li ng-repeat="language in languages" ng-if="selLanguage !== language">
              <a title={{language.language}} ng-click="selectLanguage(language)">
                <img ng-src="{{language.image}}" title={{language.language}}>
              </a>
            </li>
          </ul>
        </li>

        <li ng-if="!IsLoggedIn">
          <a ng-click="login()">
            <span class="glyphicon glyphicon-user"></span>
            <span translate="MAIN.MENU.LOGIN"></span>
          </a>
        </li>

        <li ng-if="!IsLoggedIn">
          <a href="#/register">
            <span class="fa fa-user-plus"></span>
            <span translate="MAIN.MENU.REGISTER"></span>
          </a>
        </li>

        <li class="dropdown" ng-if="IsLoggedIn">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-user"></span> _CLI1
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" ng-click="logout()">
                <span class="glyphicon glyphicon-off"></span>
                <span translate="MAIN.MENU.LOGOUT"></span>
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown" ng-if="IsLoggedIn">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-th"></span>
            <span translate="MAIN.MENU.ACCOUNT"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#/my-account">
                <span class="glyphicon glyphicon-th"></span>
                <span translate="MAIN.MENU.ACCOUNT"></span>
              </a>
            </li>
            <li>
              <a href="#/my-account">
                <span class="fa fa-paper-plane"></span>
                <span translate="MAIN.MENU.SHIPMENTS"></span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <span class="fa fa-file-text"></span>
                <span translate="MAIN.MENU.INVOICES"></span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <span class="fa fa-list"></span>
                <span translate="MAIN.MENU.PAYMENTS"></span>
              </a>
            </li>
            <li>
              <a href="#/my-contacts">
                <span class="fa fa-book"></span>
                <span translate="MAIN.MENU.CONTACTS"></span>
              </a>
            </li>
            <li>
              <a href="#/settings">
                <span class="fa fa-cogs"></span>
                <span translate="MAIN.MENU.SETTINGS"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
